<h1>Add Communication Address</h1>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="action">

            <div class="form-group">
                <label class="required" for="addressLine1">Apt/Building/Street #</label>
                <input type="text" class="form-control" id="addressLine1" formControlName="addressLine1">
                <app-validation-error [control]="myForm.controls['addressLine1']"></app-validation-error>
            </div>

            <div class="form-group">
                <label class="required" for="addressLine2">Address Line 2</label>
                <input type="text" class="form-control" id="addressLine2" formControlName="addressLine2" maxlength="10">
                <app-validation-error [control]="myForm.controls['addressLine2']"></app-validation-error>
            </div>

            <div class="form-group">
                <label class="required" for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city" maxlength="10">
                <app-validation-error [control]="myForm.controls['city']"></app-validation-error>
            </div>
            <div class="form-group">
                <label class="required" for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state" maxlength="10">
                <app-validation-error [control]="myForm.controls['state']"></app-validation-error>
            </div>
            <div class="form-group">
                <label class="required" for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" formControlName="zip" maxlength="10">
                <app-validation-error [control]="myForm.controls['zip']"></app-validation-error>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        <p class="debug">Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
        <p class="debug">{{myForm.value|json}}</p>
    </div>
</div>