<h1>{{pageTitle}}</h1>
<a routerLink="/hospital" *ngIf="showBackLink">Back to Hospital List</a>
<div class="row mt-3">
    <div class="col-md-12">
        <form [formGroup]="deptForm" novalidate>
            <div class="row">
                <div class="form-group col-md-3">
                    <select name="hospitalId" [(ngModel)]="departmentObj.hospitalId" formControlName="hospitalId" class="form-control">
                        <option value="">Select hospital</option>
                        <option *ngFor="let h of hospitalList;" value="{{h.id}}">{{h.hospitalname}}</option>
                    </select>
                    <div *ngIf="(hospitalId.invalid && (hospitalId.touched || formSubmitted))" class="text-danger small">
                        <div *ngIf="hospitalId.errors.required">Select a hospital</div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" name="departmentname" [(ngModel)]="departmentObj.departmentname" formControlName="departmentname" class="form-control" placeholder="Dept Name">
                    <div *ngIf="(departmentname.invalid && (departmentname.touched || formSubmitted))" class="text-danger small">
                        <div *ngIf="departmentname.errors.required">Please enter dept name</div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" name="head" [(ngModel)]="departmentObj.head" formControlName="head" class="form-control" placeholder="HOD">
                    <div *ngIf="(head.invalid && (head.touched || formSubmitted))" class="text-danger small">
                        <div *ngIf="head.errors.required">Please enter HOD name</div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" name="contactnumber" [(ngModel)]="departmentObj.contactnumber" formControlName="contactnumber" class="form-control" placeholder="Phone">
                    <div *ngIf="(contactnumber.invalid && (contactnumber.touched || formSubmitted))" class="text-danger small">
                        <div *ngIf="contactnumber.errors.required">Please enter dept phone</div>
                        <div *ngIf="contactnumber.errors.pattern">Please enter 10 digit phone number</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="my-2 btn btn-primary" (click)="addDept(deptForm);" *ngIf="!isEdit">Add Department</button>
            <button type="submit" class="my-2 btn btn-primary" (click)="updateDept(deptForm);" *ngIf="isEdit">Update Department</button>
        </form>
    </div>
</div>
<div class="row data-table my-3">
    <div class="col-md-12">
        <button class="btn btn-success btn-sm" [appSort]="departmentList" data-order="asc" data-name="departmentname">Sort by Dept Name</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dept Name</th>
                    <th scope="col">HOD</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="departmentList.length > 0">
                    <tr *ngFor="let department of departmentList; let i = index;">
                        <td>{{department.departmentname}}</td>
                        <td>{{department.head}}</td>
                        <td>{{department.contactnumber}}</td>
                        <td>{{department.hospital.hospitalname}}</td>
                        <td>
                            <a class="btn btn-sm btn-secondary mx-1" (click)="editDept(department);">Edit</a>
                            <a class="btn btn-sm btn-danger mx-1" (click)="deleteDept(department);">Delete</a>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="departmentList.length == 0">
                    <tr>
                        <td colspan="5">There are no records to display.</td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>