<h1 class="page-title-1">Reactive Forms</h1>
<div class="row">
    <div class="col-md-6">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                <app-validation-error [control]="myForm.controls['firstName']"></app-validation-error>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                <app-validation-error [control]="myForm.controls['lastName']"></app-validation-error>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email">
                <app-validation-error [control]="myForm.controls['email']"></app-validation-error>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
                <app-validation-error [control]="myForm.controls['phone']"></app-validation-error>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <app-validation-error [control]="myForm.controls['password']"></app-validation-error>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                <app-validation-error [control]="myForm.controls['confirmPassword']"></app-validation-error>
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <select class="form-control" id="city" formControlName="city">
                    <option value="">Select</option>
                    <option value="kolkata">Kolkata</option>
                    <option value="hyderabad">Hyderabad</option>
                    <option value="chennai">Chennai</option>
                </select>
                <app-validation-error [control]="myForm.controls['city']"></app-validation-error>
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineRadio1" value="male"
                        formControlName="gender">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineRadio2" value="female"
                        formControlName="gender">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <app-validation-error [control]="myForm.controls['gender']"></app-validation-error>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="js" id="defaultCheck1"
                        formControlName="skill">
                    <label class="form-check-label" for="defaultCheck1">JavaScript</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="html5" id="defaultCheck2"
                        formControlName="skill">
                    <label class="form-check-label" for="defaultCheck2">HTML5</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="angular" id="defaultCheck3"
                        formControlName="skill">
                    <label class="form-check-label" for="defaultCheck3">Angular</label>
                </div>
                <app-validation-error [control]="myForm.controls['skill']"></app-validation-error>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="accepted" id="defaultCheck4"
                        formControlName="termsAccepted">
                    <label class="form-check-label" for="defaultCheck4">I have accepted T&C</label>
                </div>
                <app-validation-error [control]="myForm.controls['termsAccepted']"></app-validation-error>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <div class="col-md-6">
        <h2>Form Values</h2>
        <p>Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
        <p>{{myForm.value|json}}</p>
    </div>
</div>