<div class="row fixed-bottom" id="chatWindow">
  <div class="col-12 offset-sm-7 col-sm-5 offset-md-9 col-md-3">
    <div class="card">
      <div class="card-header bg-primary">
        <h5 class="card-title txt-white">Messenger<sup> Beta</sup></h5>
      </div>
      <div class="panel-body messageContainer">
        <div class="conversationMessages" id="conversationMessages">

          <div class="row chat-msg-container sent-msg-container">
            <div class="col-10 msg-txt">
              <div class="messages sent-msg-txt">
                <p>Hi, How are you?</p>
                <time datetime="2009-11-13T20:00">John 51 min</time>
              </div>
            </div>
          </div>

          <div class="row chat-msg-container receive-msg-container">
            <div class="col-10 msg-txt">
              <div class="messages receive-msg-txt">
                <p>Hi John,</p>
                <p>I'm doing awesome ! </p>
                <time datetime="2009-11-13T20:00">Mike 51 min</time>
              </div>
            </div>
          </div>

          <div class="row chat-msg-container sent-msg-container">
            <div class="col-10 msg-txt">
              <div class="messages sent-msg-txt">
                <p>Hi, How are you?</p>
                <time datetime="2009-11-13T20:00">John 51 min</time>
              </div>
            </div>
          </div>
          <div class="row chat-msg-container receive-msg-container">
            <div class="col-10 msg-txt">
              <div class="messages receive-msg-txt">
                <p>Hi John,</p>
                <p>I'm doing awesome ! </p>
                <time datetime="2009-11-13T20:00">Mike 51 min</time>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <form id="messageForm">
          <div class="input-group">
            <input type="text" class="form-control" id="messageTxt" placeholder="Type your message...">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>