<h1>Leave Details</h1>
<div class="back-to-page mt-1 mb-4">
    <a [routerLink]="[backToPageUrl]">
        <app-icon class="me-2" [name]="'chevron-left'"></app-icon> Back </a>
</div>

<div *ngIf="rowData?.id" class="row my-4">
    <div class="col-md-12 table-responsive">
        <div class="row my-2">
            <div class="col-md-3 fw-bold text-right">Leave Status</div>
            <div class="col-md-9">
                <span style="font-size: 14px;" [innerHTML]="getStatusText(rowData?.leave_status)?.text"
                    class="badge {{getStatusText(rowData?.leave_status)?.cssClass}}"></span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 fw-bold text-right">Leave Application No</div>
            <div class="col-md-9">{{rowData?.leave_req_id}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 fw-bold text-right">Date</div>
            <div class="col-md-9">{{rowData?.leave_created_on | date: 'dd-MM-YYYY h:mm:ss a'}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 fw-bold">Applicant Name</div>
            <div class="col-md-9">
                <div class="me-2">{{rowData?.user_firstname}} {{rowData?.user_lastname}}</div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 fw-bold">Applicant Contact</div>
            <div class="col-md-9">
                <span class="me-2">{{rowData?.user_email}}</span>
                <span>{{rowData?.user_phone1}}; {{rowData?.user_phone2}}</span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 fw-bold">Leave Duration</div>
            <div class="col-md-9">
                <span>{{rowData?.leave_from_date| date: 'dd/MM/YYYY'}} - {{rowData?.leave_to_date | date:
                    'dd/MM/YYYY'}}</span>
                <span class="ms-2">
                    {{rowData?.applied_for_days_count}} <span
                        [innerHTML]="rowData?.applied_for_days_count<=1 ? 'day' :'days'"></span>
                </span>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-md-3 fw-bold text-right">Leave Type</div>
            <div class="col-md-9">
                {{rowData?.leave_type}} - {{rowData?.leave_term}}
            </div>
        </div>

        <div class="row my-2">
            <div class="col-md-3 fw-bold text-right">Reason</div>
            <div class="col-md-9">{{rowData?.leave_reason}}</div>
        </div>

        <div class="row my-2">
            <div class="col-md-3 fw-bold text-right">Leave Balance when applied</div>
            <div class="col-md-9">
                <span class="me-4"
                    [innerHTML]="rowData?.on_apply_cl_bal ? 'CL: ' + rowData?.on_apply_cl_bal : ''"></span>
                <span class="me-4"
                    [innerHTML]="rowData?.on_apply_pl_bal ? 'PL: ' + rowData?.on_apply_pl_bal : ''"></span>
                <span class="me-4"
                    [innerHTML]="rowData?.on_apply_sl_bal ? 'SL: ' + rowData?.on_apply_sl_bal : ''"></span>

            </div>
        </div>

        <div class="row my-2" *ngIf="rowData?.debited_cl || rowData?.debited_pl || rowData?.debited_sl">
            <div class="col-md-3 fw-bold text-right">Leave Balance Debit</div>
            <div class="col-md-9 text-danger">
                <span *ngIf="rowData?.debited_cl" class="me-4"
                    [innerHTML]="rowData?.debited_cl ? 'CL: ' + rowData?.debited_cl : ''"></span>
                <span *ngIf="rowData?.debited_pl" class="me-4"
                    [innerHTML]="rowData?.debited_pl ? 'PL: ' + rowData?.debited_pl : ''"></span>
                <span *ngIf="rowData?.debited_sl" class="me-4"
                    [innerHTML]="rowData?.debited_sl ? 'SL: ' + rowData?.debited_sl : ''"></span>
            </div>
        </div>

        <div class="row my-2" *ngIf="rowData?.credited_cl || rowData?.credited_pl || rowData?.credited_sl">
            <div class="col-md-3 fw-bold text-right">Leave Balance Credit/Adjusted</div>
            <div class="col-md-9 text-danger">
                <span *ngIf="rowData?.credited_cl" class="me-4"
                    [innerHTML]="rowData?.credited_cl ? 'CL: ' + rowData?.credited_cl : ''"></span>
                <span *ngIf="rowData?.credited_pl" class="me-4"
                    [innerHTML]="rowData?.credited_pl ? 'PL: ' + rowData?.credited_pl : ''"></span>
                <span *ngIf="rowData?.credited_sl" class="me-4"
                    [innerHTML]="rowData?.credited_sl ? 'SL: ' + rowData?.credited_sl : ''"></span>
            </div>
        </div>
    </div>
</div>



<div *ngIf="rowData?.id" class="row">
    <h5>Workflow</h5>
    <div class="col-12">
        <div class="progress mt-2 mb-4">
            <div class="progress-bar" [ngClass]="progressBarClass" role="progressbar"
                [style]="{'width': progressValue+'%'}" [attr.aria-valuenow]="progressValue" aria-valuemin="0"
                aria-valuemax="100">{{progressText}}</div>
        </div>
    </div>
    <div class="small col-md-4  mb-4">
        <h6><app-icon class="me-2" [name]="'send-check'"></app-icon> Application 
        <span [innerHTML]="rowData?.leave_status !== 'C' ? 'Sent' : 'Withdrawn'"></span>
        </h6>

        <div class="">{{rowData?.user_firstname}} {{rowData?.user_lastname}} {{rowData?.user_emp_id}}</div>
        <div class="small">{{rowData?.leave_created_on | date: 'dd-MM-YYYY h:mm:ss a'}} applied</div>
        <div *ngIf="rowData?.cancellation_datetime" class="small">{{rowData?.cancellation_datetime | date: 'dd-MM-YYYY h:mm:ss a'}} withdrawn </div>
        
        

        <div class="my-4" *ngIf="(userId===rowData?.user_id) && (rowData?.leave_status === 'B' || rowData?.leave_status === 'O' || rowData?.leave_status === 'P')">
            <button (click)="approveRejectRequest(rowData?.id, 'U', 'W', rowData?.user_id)" type="button"
                class="btn btn-sm btn-primary me-4" [disabled]="loading"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"></span> Withdraw Application</button>
        </div>
    </div>
    <div class="small col-md-4  mb-4">
        <h6>
            <app-icon class="me-2" [name]="'question-circle'"
                *ngIf="rowData?.supervisor_approver_status==='P'"></app-icon>
            <app-icon class="me-2 text-success" [name]="'check2-circle'"
                *ngIf="rowData?.supervisor_approver_status==='A'"></app-icon>
            <app-icon class="me-2 text-danger" [name]="'x-circle'"
                *ngIf="rowData?.supervisor_approver_status==='R'"></app-icon>
            <app-icon class="me-2 text-warning" [name]="'exclamation-circle'"
                *ngIf="rowData?.supervisor_approver_status==='C'"></app-icon>
            L1 Workflow {{getStatusText(rowData?.supervisor_approver_status)?.text}}
        </h6>

        <div class="">
            {{rowData?.supervisor_approver_firstname}} {{rowData?.supervisor_approver_lastname}}
            {{rowData?.supervisor_approver_emp_id}}
        </div>
        <div class="small">{{rowData?.supervisor_approver_datetime | date: 'dd-MM-YYYY h:mm:ss a'}}</div>

        <div class="my-4"
            *ngIf="(rowData?.leave_status !== 'C') && rowData?.supervisor_approver_status==='P' && (userId === rowData?.supervisor_approver_id) && (rowData?.supervisor_approver_id!==rowData?.director_approver_id)">
            <button (click)="approveRejectRequest(rowData?.id, 'L1', 'A', rowData?.supervisor_approver_id)"
                type="submit" class="btn btn-sm btn-success me-4" [disabled]="loading"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"></span> Approve</button>
            <button (click)="approveRejectRequest(rowData?.id, 'L1', 'R', rowData?.supervisor_approver_id)"
                type="submit" class="btn btn-sm btn-danger" [disabled]="loading"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"></span> Reject</button>
        </div>

    </div>
    <div class="small col-md-4 mb-4">
        <h6>
            <app-icon class="me-2" [name]="'question-circle'"
                *ngIf="rowData?.director_approver_status==='P'"></app-icon>
            <app-icon class="me-2 text-success" [name]="'check2-circle'"
                *ngIf="rowData?.director_approver_status==='A'"></app-icon>
            <app-icon class="me-2 text-danger" [name]="'x-circle'"
                *ngIf="rowData?.director_approver_status==='R'"></app-icon>
            <app-icon class="me-2 text-warning" [name]="'exclamation-circle'"
                *ngIf="rowData?.director_approver_status==='C'"></app-icon>
            L2 Workflow {{getStatusText(rowData?.director_approver_status)?.text}}
        </h6>

        <div class="">{{rowData?.director_approver_firstname}} {{rowData?.director_approver_lastname}}
            {{rowData?.director_approver_emp_id}}</div>
        <div class="small">{{rowData?.director_approver_datetime | date: 'dd-MM-YYYY h:mm:ss a'}}</div>

        <div class="my-4" *ngIf="(rowData?.leave_status !== 'C') && rowData?.director_approver_status==='P' && (userId === rowData?.director_approver_id)">
            <button (click)="approveRejectRequest(rowData?.id, 'L2', 'A', rowData?.director_approver_id)" type="button"
                class="btn btn-sm btn-success me-4" [disabled]="loading"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"></span> Approve</button>
            <button (click)="approveRejectRequest(rowData.id, 'L2', 'R', rowData?.director_approver_id)" type="button"
                class="btn btn-sm btn-danger" [disabled]="loading"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"></span> Reject</button>
        </div>

    </div>
</div>

<div *ngIf="!rowData?.id">
No records found.
</div>