<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <nav id="sidebar-wrapper" [ngClass]="{ 'toggled': !(showSideNav | async) }" (click)="closeSideBar()">
      <div class="sidebar-sticky">
        <app-sidebar></app-sidebar>
      </div>
    </nav>
    <main id="main-content-wrapper" role="main" class="col px-4" [ngClass]="{ 'toggled': !(showSideNav | async) }">
      <app-alert-message></app-alert-message>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
      <app-scroll-to-top></app-scroll-to-top>
    </main>
  </div>
</div>
