<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="row">
    <nav id="sidebar-wrapper" class="col bg-light"  [ngClass]="{ 'toggled': !(showSideNav | async) }">
      <div class="sidebar-sticky">
        <app-sidebar></app-sidebar>
      </div>
    </nav>
    <main id="main-content-wrapper" role="main" class="col pt-3 px-4" [ngClass]="{ 'toggled': !(showSideNav | async) }">
      <app-alert-message></app-alert-message>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </main>
  </div>
</div>