<!-- <div class="container-fluid">
    <app-navbar></app-navbar>
    <app-alert-message></app-alert-message>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->
<div class="" id="wrapper">
  <!-- Sidebar -->
  <app-sidebar [sidenavTemplateRef]="navContent"
  [navWidth]="280" 
  [duration]="0.5"></app-sidebar>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <app-alert-message></app-alert-message>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<ng-template #navContent>
  Side Nav Bar Content Here
</ng-template>