<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="logo navbar-brand" routerLink="/"><img src="assets/img/logo-nav@2x.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/pages/our-services">Our Services</a>
                    <a class="dropdown-item" routerLink="/pages/about-us">About Us</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/angular-example">Example</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/payment">Payment</a>
            </li>
        </ul>
    </div>
</nav>