<div class="row">
    <div class="col-md-12">
        <h1 class="page-title-1">Manage User</h1>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index">
                        <td>{{user?.id}}</td>
                        <td>{{user?.user_firstname}} {{user?.user_lastname}}</td>
                        <td>{{user?.user_email}}</td>
                        <td><a href="" class="btn btn-primary btn-sm" (click)="showDetails($event)">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>