<!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="logo navbar-brand" [routerLink]="['/']"><img width="32px" src="assets/img/angular.png"> Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/dashboard']" class="nav-link" href="#">Dashboard
                      <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" [routerLink]="['/pages/our-services']">Our Services</a>
                    <a class="dropdown-item" [routerLink]="['/pages/about-us']">About Us</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/angular-example']">Example</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user']">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cms']">CMS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/auth/login']" [queryParams]="{logout: true}">Logout</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom fixed-top">
    <button class="btn btn-primary" id="menu-toggle" (click)="toggleSideNav()">Toggle Menu</button>
    <a class="logo navbar-brand" [routerLink]="['/']"><img width="32px" src="assets/img/angular.png"> Angular</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/auth/login']" [queryParams]="{logout: true}">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>