body {
    margin-top: 4rem;
}

body.login {
    margin-top: 4rem;
}

@mixin linear-gradient($from, $to) {
    background: $to;
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-linear-gradient(top, $from 0%, $to 100%);
    background: -o-linear-gradient(top, $from 0%, $to 100%);
    background: linear-gradient(to bottom, $from 0%, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

.logo {
    width: 65px;
}

.logo-login {
    width: 150px;
}

.nav-logo {
    width: 180px;
    @media (max-width: 576px) {
        width: 130px;
    }
}

.page-title {
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//Scroll To Top
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    padding: 6px 12px !important;
    bottom: 50px;
    right: 5px;
    display: none;
}

// T&C
.tnc-content {
    font-size: .75rem;
    h1,
    h2 {
        font-size: 1rem;
    }
}

// Images
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.dp {
    //transition: all 0.2s ease-in-out;
    height: 110px;
    width: 110px;
}

.dp-sm {
    height: 70px;
    width: 70px;
}

.dp-xs {
    height: 50px;
    width: 50px;
}

.dp-xxs {
    height: 32px;
    width: 32px;
}

.more-less {
    float: right;
    color: #212121;
}

// Profile Cards
.content-wrap {
    word-break: break-all;
}

.ci-dl {
    dt {
        font-weight: 400;
        color: $gray-600;
    }
}

// AJAX Loader
.ajax-loader-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    //background-color: rgba(0, 0, 0, .5);
    //color: $gray-400;
    .ajax-loader-img {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -32px;
        /* -1 * image width / 2 */
        margin-top: -32px;
        /* -1 * image height / 2 */
        display: block;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 40px;
        width: 40px;
        height: 40px;
        padding: 4px;
    }
}

.disabled {
    opacity: .5;
}

.no-pointer {
    pointer-events: none;
}

.disabled-item {
    border: 1px solid $red;
}

.ci-link-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end !important;
}

.user-profile-section {
    margin: 10px 0px 15px 0px;
    .section-heading {
        color: $gray-600;
        font-weight: 700;
        font-size: 90%;
    }
}

.user-profile-card-people {
    color: inherit;
    text-decoration: none !important;
}

// Widget
.bg-transparent {
    background: transparent !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.ci-card-widget {
    @media (max-width: 991.98px) {
        .bg-transparent.list-group-item {
            border-color: transparent;
        }
    }
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    .widget-content-outer {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
    }
    .widget-numbers {
        font-weight: bold;
        font-size: 1.5rem;
        display: block;
        @media (max-width: 576px) {
            font-size: 1.25rem;
        }
    }
    .widget-content-left {
        .widget-heading {
            //opacity: .8;
            //font-weight: bold;
        }
        .widget-subheading {
            opacity: .5;
            font-size: .875rem;
        }
    }
    .widget-content-right {
        margin-left: auto;
    }
}
