.validation-error {
    color: $validation-error-color;
    font-size: 80%;
    margin-top: .25rem;
}

.form-signin {
    padding: 15px;
    width: 100%;
    max-width: 350px;
    /*margin:10vh auto;*/
    .logo-2x {
        width: 150px;
    }
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

// label.required::after {
//     content: ' *';
//     font-weight: 400;
//     color: $mandatory_field_star-color;
// }
label.optional::after {
    content: ' (optional)';
    font-size: 90%;
    color: $gray-500;
}

.ci-form-help-text {
    font-size: 80%;
}

// Custom Form Control
.custom-control-label {
    &::before {
        border: $input-border-width solid $input-border-color;
    }
}

// Primary , Secondary CTA
// .ci-btn-primary {
//     &::before {
//         font-family: FontAwesome;
//         content: "\f058";
//         vertical-align: middle;
//         margin-right: 5px;
//         display: inline-block;
//         font-style: normal;
//         font-variant: normal;
//         text-rendering: auto;
//         -webkit-font-smoothing: antialiased;
//     }
// }
// Select2 Style
.select2-selection {
    height: calc(2.0625rem + 2px) !important;
}

.select2-container .select2-selection--multiple {
    display: inline-table !important;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important;
}

.select2-container--default .select2-selection--single {
    border: $input-border-width solid $input-border-color !important;
    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @if $enable-rounded {
        // Manually use the if/else instead of the mixin to account for iOS override
        border-radius: $input-border-radius;
    }
    @else {
        // Otherwise undo the iOS default
        border-radius: 0;
    }
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus();
}

.ci-select2 {
    .select2-container {
        max-width: 100%;
    }
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group {
    label,
    input {
        padding: 0.75rem 0.75rem;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: $gray-700;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }
    input:-ms-input-placeholder,
    input::-ms-input-placeholder,
    input::-moz-placeholder,
    input::placeholder {
        color: transparent;
    }
    input:not(:placeholder-shown) {
        padding-top: calc(0.75rem + 0.75rem * (2 / 3));
        padding-bottom: calc(0.75rem / 3);
    }
    input:not(:placeholder-shown)~label {
        padding-top: calc(0.75rem / 3);
        padding-bottom: calc(0.75rem / 3);
        font-size: 12px;
        color: $gray-600;
    }
    .form-control {
        height: auto;
    }
}