/* card-header, card-body, card-footer */


/* dynamic messages */


/* text message input */

.ms-webchat {
    .icon-chat {
        &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 489.6 489.6' style='enable-background:new 0 0 489.6 489.6;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.8,261.5V81.7c0-24.9-20.3-45.2-45.2-45.2H45.2C20.3,36.5,0,56.8,0,81.7v179.8c0,24.9,20.3,45.2,45.2,45.2h12.9v54.2 c0,10,8.1,18.1,18.2,18.1l0,0c5.2,0,10.2-2.3,13.7-6.3l57.1-66.1h202.6C374.5,306.7,394.8,286.4,394.8,261.5z M141.4,282.2 c-3.6,0-6.9,1.5-9.3,4.2l-49.6,57.3v-49.3c0-6.8-5.5-12.3-12.3-12.3h-25c-11.4,0-20.7-9.3-20.7-20.7V81.7 c0-11.4,9.3-20.7,20.7-20.7h304.4c11.4,0,20.7,9.3,20.7,20.7v179.8c0,11.4-9.3,20.7-20.7,20.7L141.4,282.2L141.4,282.2z' style='fill: rgb%28255, 255, 255%29;'%3E%3C/path%3E%3Cpath d='M399.7,446.8c3.5,4.1,8.5,6.3,13.6,6.3c2.1,0,4.3-0.4,6.4-1.2c7.2-2.7,11.8-9.3,11.8-17v-54.2h12.9 c24.9,0,45.2-20.3,45.2-45.2V155.7c0-24.9-20.3-45.2-45.2-45.2c-6.8,0-12.3,5.5-12.3,12.2c0,6.8,5.5,12.3,12.3,12.3 c11.4,0,20.7,9.3,20.7,20.7v179.8c0,11.4-9.3,20.7-20.7,20.7h-25.1c-6.8,0-12.3,5.5-12.3,12.3v49.3l-49.6-57.3 c-2.3-2.7-5.7-4.2-9.3-4.2h-184c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3h178.4L399.7,446.8z' style='fill: rgb%28255, 255, 255%29;'%3E%3C/path%3E%3Ccircle cx='197.4' cy='175.9' r='14.6' style='fill: rgb%28255, 255, 255%29;'%3E%3C/circle%3E%3Ccircle cx='246.3' cy='175.9' r='14.6' style='fill: rgb%28255, 255, 255%29;'%3E%3C/circle%3E%3Ccircle cx='148.5' cy='175.9' r='14.6' style='fill: rgb%28255, 255, 255%29;'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            position: relative;
            width: 30px;
            top: 8px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
        }
    }

    .bg-chat {
        background: linear-gradient(to bottom, #0256A0, #0D2B48);
        background: -moz-linear-gradient(top, #0256A0, #0D2B48);
        background: -ms-linear-gradient(top, #0256A0, #0D2B48);
        background: -o-linear-gradient(top, #0256A0, #0D2B48);
        background: -webkit-linear-gradient(top, #0256A0, #0D2B48);
        background: -webkit-gradient(linear, left top, left bottom, from(#0256A0), to(#0D2B48));
    }

    .card {
        margin: 1px;

        button.close {
            width: auto;
            height: auto;
        }
    }

    .card-body {
        margin: 0;
        padding: 0 10px 10px;
        height: 300px;
        min-height: 300px;
        overflow-y: auto;
        background-color: #fff;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    }

    .card-footer {
        background-color: #fff;
        padding: 0px;
    }

    .my-msg-container {
        padding: 10px;
        overflow: hidden;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: flex-end;
        align-items: flex-end;

        .messages {
            >time {
                font-size: 11px;
                color: #999;
            }

            margin-left: 0;
            background: #dee2e6;
            padding: 4px 8px;
            border-radius: 8px;
            max-width: 100%;
        }

        >.avatar {
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border: 5px solid white;
                border-right-color: transparent;
                border-top-color: transparent;
                box-shadow: 1px 1px 2px rgba(black, 0.2);
            }
        }

        >.msg-txt {
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: -10px;
                width: 0;
                height: 0;
                border: 8px solid #dee2e6;
                border-right-color: transparent;
                border-top-color: transparent;
                box-shadow: 1px 1px 2px rgba(black, 0.2);
            }
        }
    }

    .bot-msg-container {
        padding: 10px;
        overflow: hidden;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;

        .messages {
            >time {
                font-size: 11px;
                float: left;
                color: #dee2e6;
            }

            margin-right: 0;
            background: #435f7a;
            padding: 4px 8px;
            border-radius: 8px;
            max-width: 100%;
            color: #fff;
            padding-bottom: 20px;
        }

        >.avatar {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-left-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
            }
        }

        >.msg-txt {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: -10px;
                width: 0;
                height: 0;
                border: 8px solid #435f7a;
                border-left-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
            }
        }
    }

    .messages {
        >p {
            font-size: 13px;
            margin: 0 0 0.2rem 0;
        }
    }

    img {
        display: block;
        width: 100%;
    }

    .avatar {
        position: relative;
    }

    .msg-txt {
        padding: 0;
    }

    .btn-group.dropup {
        position: fixed;
        left: 0px;
        bottom: 0;
    }

    button.close {
        float: right;
        padding: 0;
        background-color: transparent;
        border: 0;
        color: transparent;
        margin-left: 5px;
        margin-right: 5px;
        height: auto;
        min-width: auto;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
    }

    .form-control {
        border-radius: 0px;
        border-color: transparent;

        &:focus {
            box-shadow: none;
            border-color: #17a2b8;
        }
    }
}