/*SVG Icons*/


/*Colors*/

/*UI*/
.ms-webchat .txt-white {
    color: #fff;
}

.ms-webchat .bg-cux {
    background: linear-gradient(to bottom, #0256A0, #0D2B48);
    background: -moz-linear-gradient(top, #0256A0, #0D2B48);
    background: -ms-linear-gradient(top, #0256A0, #0D2B48);
    background: -o-linear-gradient(top, #0256A0, #0D2B48);
    background: -webkit-linear-gradient(top, #0256A0, #0D2B48);
    background: -webkit-gradient(linear, left top, left bottom, from(#0256A0), to(#0D2B48));
}
.ms-webchat .msg-txt{
    padding:0;
}

.ms-webchat .messageContainer{  
  margin: 0;
  padding: 0 10px 10px;
  height:300px;
  min-height:300px;  
  overflow-y: auto;
}


.ms-webchat .my-msg-txt{
    padding-left:0;
    margin-left:0;
}
.ms-webchat .bot-msg-txt{
    padding-bottom:20px !important;
    margin-right:0;
    color: #fff;
}
.ms-webchat .messages {
    background: #435f7a;
    padding: 8px;
    border-radius: 8px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
    max-width:100%;
}
.ms-webchat .my-msg-container .messages{
    background: #dee2e6;
}
.ms-webchat .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.ms-webchat .messages > time {
    font-size: 11px;
    color: #999;
}
.ms-webchat .chat-msg-container {
    padding: 10px;
    overflow: hidden;
    display: flex;
	margin-left: 0px;
    margin-right: 0px;
}
.ms-webchat img {
    display: block;
    width: 100%;
}
.ms-webchat .avatar {
    position: relative;
}
.ms-webchat .bot-msg-container > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}



.ms-webchat .my-msg-container {
  justify-content: flex-end;
  align-items: flex-end;
}
.ms-webchat .my-msg-container > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}
.ms-webchat .bot-msg-container > .msg-txt:after {
    content: "";
    position: absolute;
    top: 0;   
    left: -10px;
    width: 0;
    height: 0;
    border: 8px solid #435f7a;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
.ms-webchat .my-msg-container > .msg-txt:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border: 8px solid #dee2e6;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); 
    

    /* border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px; */
}

.ms-webchat .bot-msg-txt > time{
    float: left;
    color: #dee2e6;
}

.ms-webchat .messageContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.ms-webchat .messageContainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.ms-webchat .messageContainer::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.ms-webchat .btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
.ms-webchat a.chat-action{
	color: #fff;
}
.ms-webchat .chat-close,.chat-minimize{
    text-align: right;
    color: transparent;
    margin-left: 10px;
}
.chat-close:hover,.chat-minimize:hover{
    color: #fff;
}

.ms-webchat .messageContainer, .card-footer{
    background-color: #fff;
}
.ms-webchat .card-footer{
    padding: 0px;
}
.ms-webchat .messageTxt{
    border-radius: 0px;   
    border-color: transparent; 
}
.ms-webchat button{
    min-width: auto;
}