<div class="row fixed-bottom ms-webchat" [ngClass]="{ 'slideRight': displayChatWindow}" *ngIf="displayChatWindow">
    <div class="col-xs-12 offset-sm-6 col-sm-6 offset-md-8 col-md-4 offset-lg-9 col-lg-3">
        <div class="card">
            <div class="card-header bg-chat bg-partner-chat">
                <h6 class="card-title text-white icon-chat">ChatBot
                    <button type="button" class="close" data-dismiss="chat" (click)="closeChatWindow()" aria-label="Close Chat">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <button [hidden]="isMinimized" type="button" class="close" data-dismiss="chat" (click)="minimizeChatWindow()" aria-label="Minimize Chat">
                        <span  aria-hidden="true">&minus;</span>
                    </button>
                    <button [hidden]="!isMinimized" type="button" class="close" data-dismiss="chat" (click)="minimizeChatWindow()" aria-label="Restore Chat">
                        <span  aria-hidden="true">&#x2197;</span>
                    </button>
                </h6>
            </div>
            <!--/.card-header-->

            <div class="card-body" #scrollToBottom [hidden]="isMinimized">
                <div [innerHtml]="conversation"></div>
            </div>
            <!--/.card-body-->

            <div class="card-footer" [hidden]="isMinimized">
                <form [formGroup]="chatForm" (ngSubmit)="onChatFormSubmit()">
                    <div class="input-group">
                        <input type="text" formControlName="messageTxt" class="form-control messageTxt" placeholder="type your message...">
                    </div>
                </form>
            </div>
            <!--/.card-footer-->
        </div>
        <!--/.card-->
    </div>
</div>