

.ms-webchat .bg-citi {
    background: linear-gradient(to bottom, #0256A0, #0D2B48);
    background: -moz-linear-gradient(top, #0256A0, #0D2B48);
    background: -ms-linear-gradient(top, #0256A0, #0D2B48);
    background: -o-linear-gradient(top, #0256A0, #0D2B48);
    background: -webkit-linear-gradient(top, #0256A0, #0D2B48);
    background: -webkit-gradient(linear, left top, left bottom, from(#0256A0), to(#0D2B48));
}




/* card-header, card-body, card-footer */
.ms-webchat .card{
    margin: 1px;
}

.ms-webchat .card-body{  
  margin: 0;
  padding: 0 10px 10px;
  height:300px;
  min-height:300px;  
  overflow-y: auto;
}
.ms-webchat .card-body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.ms-webchat .card-body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.ms-webchat .card-body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.ms-webchat .card-body, 
.ms-webchat .card-footer{
    background-color: #fff;
}
.ms-webchat .card-footer{
    padding: 0px;
}


/* dynamic messages */
.ms-webchat .my-msg-container,
.ms-webchat .bot-msg-container
 {
    padding: 10px;
    overflow: hidden;
    display: flex;
	margin-left: 0px;
    margin-right: 0px;
}
.ms-webchat .my-msg-container .messages > time,
.ms-webchat .bot-msg-container .messages > time {
    font-size: 11px;    
}

.ms-webchat .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.ms-webchat img {
    display: block;
    width: 100%;
}
.ms-webchat .avatar {
    position: relative;
}

.ms-webchat .msg-txt{
    padding:0;
}
.ms-webchat .my-msg-container {
    justify-content: flex-end;
    align-items: flex-end;
  }
.ms-webchat .my-msg-container .messages{    
    margin-left:0;
    background: #dee2e6;
    padding: 4px 8px;
    border-radius: 8px;    
    max-width:100%;
}

.ms-webchat .my-msg-container > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}
.ms-webchat .my-msg-container > .msg-txt:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border: 8px solid #dee2e6;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); 
    /* border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px; */
}

.ms-webchat .my-msg-container .messages >time{
    color: #999;
}

.ms-webchat .bot-msg-container .messages{    
    margin-right:0;    
    background: #435f7a;
    padding: 4px 8px;
    border-radius: 8px;    
    max-width:100%;
    color: #fff;
    padding-bottom: 20px;
}
.ms-webchat .bot-msg-container > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.ms-webchat .bot-msg-container > .msg-txt:after {
    content: "";
    position: absolute;
    top: 0;   
    left: -10px;
    width: 0;
    height: 0;
    border: 8px solid #435f7a;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.ms-webchat .bot-msg-container .messages > time{
    float: left;
    color: #dee2e6;
}


.ms-webchat .btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.ms-webchat button.close{
    float: right;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
    min-width: auto;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}


/* text message input */
.ms-webchat .form-control{
    border-radius: 0px;   
    border-color: transparent; 
}
.ms-webchat .form-control:focus{
    box-shadow: none;
    border-color: #17a2b8;
}