<h1>Manage Employees</h1>
<div class="row my-4">
    <div class="col-md-12">
        <p-table #dt [value]="userList" dataKey="id" [rowHover]="true" [loading]="loading"
            styleClass="p-datatable-sm table-font-sm ">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    List of Employees

                    <div class="row mt-2">
                        <div class="col-auto"><app-search-input (inputValue)="getSearchKeyword($event)"
                                [placeHolderText]="'Search emp...'"></app-search-input></div>
                        <div class="col-auto"><a [routerLink]="['/emp/add']" class="btn btn-success">
                                <app-icon [name]="'add'"></app-icon>
                                Add New
                            </a></div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th style="width: 30rem" pSortableColumn="user_firstname">
                        <div class="flex justify-content-between align-items-center">
                            Name
                            <p-sortIcon field="user_firstname"></p-sortIcon>
                            <!-- <p-columnFilter type="text" field="user_firstname" display="menu"
                                class="ms-auto"></p-columnFilter> -->
                        </div>
                    </th>
                    <!-- <th style="width: 15rem" pSortableColumn="user_emp_id">
                        <div class="flex justify-content-between align-items-center">
                            EmpID
                            <p-sortIcon field="user_emp_id"></p-sortIcon>
                        </div>
                    </th> -->
                    <th style="width: 15rem" pSortableColumn="user_email">
                        <div class="flex justify-content-between align-items-center">
                            Email
                            <p-sortIcon field="user_email"></p-sortIcon>
                            <!-- <p-columnFilter type="text" field="user_email" display="menu"
                                class="ms-auto"></p-columnFilter> -->
                        </div>
                    </th>
                    <th style="width: 10rem" pSortableColumn="user_phone1">
                        <div class="flex justify-content-between align-items-center">
                            Phone
                            <p-sortIcon field="user_phone1"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 20rem" pSortableColumn="designation_name">
                        <div class="flex justify-content-between align-items-center">
                            Designation
                            <p-sortIcon field="designation_name"></p-sortIcon>
                            <!-- <p-columnFilter type="text" field="designation_name" display="menu"
                                class="ms-auto"></p-columnFilter> -->
                        </div>
                    </th>
                    <th pSortableColumn="user_status">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-sortIcon field="user_status"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 15rem"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                <tr class="p-selectable-row">
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="rowData"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>
                        <span class="p-column-title">Name</span>
                        {{rowData?.user_firstname}} {{rowData?.user_lastname}}
                        <!-- ({{rowData?.user_emp_id}}) -->
                    </td>
                    <!-- <td>
                        <span class="p-column-title">ID</span>
                        {{rowData?.user_emp_id}}
                    </td> -->
                    <td>
                        <span class="p-column-title">Email</span>
                        {{rowData?.user_email}}
                    </td>
                    <td>
                        <span class="p-column-title">Phone</span>
                        {{rowData?.user_phone1}}
                    </td>
                    <td>
                        <span class="p-column-title">Designation</span>
                        {{rowData?.designation_name}}
                    </td>
                    <td>
                        <span class="p-column-title">Status</span>
                        <!-- {{rowData?.user_status}} -->
                        <span *ngIf="rowData?.user_status === 'Y' " class="" title="Active">
                            <app-icon [name]="'circle'" [styleClass]="'text-success f-10'"></app-icon>
                        </span>
                        <span *ngIf="rowData?.user_status === 'N' " class="" title="Inactive">
                            <app-icon [name]="'circle'" [styleClass]="'text-warning f-10'"></app-icon>
                        </span>
                        <span *ngIf="rowData?.user_status === 'A' " class="" title="Deleted">
                            <app-icon [name]="'circle'" [styleClass]="'text-danger f-10'"></app-icon>
                        </span>
                    </td>

                    <td style="text-align: center">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-secondary mr-2"
                            (click)="editUserProfile(rowData?.id)"></button>
                        <button pButton pRipple type="button" icon="pi pi-user"
                            class="p-button-rounded p-button-text p-button-info"
                            (click)="redirectToProfile(rowData?.id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData>
                <tr>
                    <td colspan="8">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="fw-bold">Employee ID</td>
                                    <td [innerHTML]="rowData?.user_emp_id || '-'"></td>
                                    <td class="fw-bold">Designation</td>
                                    <td [innerHTML]="rowData?.designation_name || '-'"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Personal Email</td>
                                    <td [innerHTML]="rowData?.user_email_secondary || '-'"></td>
                                    <td class="fw-bold">Personal Phone</td>
                                    <td [innerHTML]="rowData?.user_phone1 || '-'"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Date of Birth</td>
                                    <td [innerHTML]="rowData?.user_dob | date: 'dd-MM-yyyy' || 'NA'"></td>
                                    <td class="fw-bold">Gender</td>
                                    <td [innerHTML]="rowData?.user_gender === 'M' ? 'Male' : 'Female'"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Work Email</td>
                                    <td [innerHTML]="rowData?.user_email || '-'"></td>
                                    <td class="fw-bold">Work Phone</td>
                                    <td [innerHTML]="rowData?.user_phone2 || '-'"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Employment Type</td>
                                    <td [innerHTML]="rowData?.employment_type_name || '-'"></td>
                                    <td class="fw-bold">Department</td>
                                    <td [innerHTML]="rowData?.department_name || '-'"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Role Group</td>
                                    <td [innerHTML]="rowData?.user_role+'-'+rowData?.role_name"></td>
                                    <td class="fw-bold">User Type</td>
                                    <td [innerHTML]="rowData?.user_type === 'U' ? 'Emp User' : 'Pre Defined' || '-'">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Date of Joining</td>
                                    <td [innerHTML]="rowData?.user_doj | date: 'dd-MM-yyyy' || '-'"></td>
                                    <td class="fw-bold">Created On</td>
                                    <td
                                        [innerHTML]="rowData?.user_registration_date | date: 'dd-MM-yyyy h:mm:ss a' || ''">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Date of Release</td>
                                    <td [innerHTML]="rowData?.user_dor | date: 'dd-MM-yyyy' || 'NA'"></td>
                                    <td class="fw-bold">Last Login</td>
                                    <td
                                        [innerHTML]="rowData?.user_login_date_time | date: 'dd-MM-yyyy h:mm:ss a' || '-'">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Account Status</td>
                                    <td>
                                        <span *ngIf="rowData?.user_status === 'Y' "
                                            class="badge rounded-pill bg-success">Active</span>
                                        <span *ngIf="rowData?.user_status === 'N' "
                                            class="badge rounded-pill bg-warning text-dark">Inactive</span>
                                        <span *ngIf="rowData?.user_status === 'A' "
                                            class="badge rounded-pill bg-danger">Archived</span>
                                    </td>
                                    <td class="fw-bold">Profile Link</td>
                                    <td>
                                        <a [routerLink]="['/emp/view-emp-profile/', rowData?.id]">Click here</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Closed On</td>
                                    <td
                                        [innerHTML]="rowData?.account_closed_datetime  | date: 'dd-MM-yyyy h:mm:ss a' || 'NA'">
                                    </td>
                                    <td class="fw-bold">Comments</td>
                                    <td [innerHTML]="rowData?.account_close_comments || 'NA'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No records found.</td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator [rows]="itemPerPage" [first]="first" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="itemPerPageDropdown" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="my-4"
            (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>