<div class="row">
    <div class="col-md-12">
        <h1>Manage User</h1>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index">
                        <td>{{user?.id}}</td>
                        <td>{{user?.user_firstname}} {{user?.user_lastname}}</td>
                        <td>{{user?.user_email}}</td>
                        <td><a [routerLink]="['../../user/profile', user.id]" class="btn btn-outline-secondary btn-sm">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>