<h1>2-Factor Authentication</h1>
<form [formGroup]="loginForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col">

      <div class="card p-2">
        <h6>Please enter the one time password <br> to verify your account</h6>
        <div> <span>A code has been sent to</span> <small> 987****9897</small> </div>
        <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
          <input class="m-2 text-center form-control" type="text" id="first" maxlength="1" />
          <input class="m-2 text-center form-control" type="text" id="second" maxlength="1" />
          <input class="m-2 text-center form-control" type="text" id="third" maxlength="1" />
          <input class="m-2 text-center form-control" type="text" id="fourth" maxlength="1" />
          <input class="m-2 text-center form-control" type="text" id="fifth" maxlength="1" />
          <input class="m-2 text-center form-control" type="text" id="sixth" maxlength="1" />
        </div>
      </div>

      <div class="card-2">
        <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a
            href="#" class="text-decoration-none ms-3">Resend(1/3)</a> </div>
      </div>

    </div>
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
      Validate
    </button>
  </div>
  <div class="my-3"><a routerLink="../login">Back to Login Page</a></div>
</form>