<h1 class="h3 mb-3 font-weight-normal">Reactive Form</h1>
<div class="row example">
    <div class="col-md-7">
        <form [formGroup]="formAddUser" (ngSubmit)="addUser();">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name </label>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
                     <app-validation-error [control]="formAddUser.controls.firstName"></app-validation-error> 
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
                    <app-validation-error [control]="formAddUser.controls.lastName"></app-validation-error>
                </div>
            </div>
            <!--/.form-row-->

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email Address</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email">
                    <app-validation-error [control]="formAddUser.controls.email"></app-validation-error> 
                </div>

                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control" placeholder="10-Digit Mobile Number">
                    <app-validation-error [control]="formAddUser.controls.phoneNumber"></app-validation-error>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    <app-validation-error [control]="formAddUser.controls.password"></app-validation-error>
                </div>
                <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
                    <app-validation-error [control]="formAddUser.controls.confirmPassword"></app-validation-error>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    <select name="city" formControlName="city" class="form-control">
                      <option *ngFor="let city of cities" value="{{city.value}}">{{city.name}}</option>
                    </select>
                    <app-validation-error [control]="formAddUser.controls.city"></app-validation-error>
                </div>

                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <div class="form-check-inline" *ngFor="let g of genders">
                        <input type="radio" formControlName="gender" value="{{g.value}}" class="form-check-input" id="{{g.value}}">
                        <label class="form-check-label" for="{{g.value}}">{{g.name}}</label>
                    </div>
                    <app-validation-error [control]="formAddUser.controls.gender"></app-validation-error>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Skills</label>
                    <div class="form-check-inline" *ngFor="let skill of skillsets; let i = index;">
                        <input type="checkbox" formControlName="skills" value="{{skill.value}}" class="form-check-input" id="{{skill.value}}">
                        <label class="form-check-label" for="{{skill.value}}">{{skill.name}}</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input type="checkbox" formControlName="termsAccepted" value="a" class="form-check-input" id="terms">
                        <label class="form-check-label" for="terms">I have read terms & conditions</label>
                        <app-validation-error [control]="formAddUser.controls.termsAccepted"></app-validation-error>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Cancel</button>
        </form>
    </div>

    <div class="col-md-5">
        <p>Form Value = {{formAddUser.value | json}}</p>
        <p>Form Submitted = {{formSubmitted}}</p>
        <p>Form Invalid = <span [className]="formAddUser.invalid ? 'font-weight-bold text-danger' : 'font-weight-bold text-success'">{{formAddUser.invalid}}</span></p>
        <p>User Model = {{userData|json}}</p>
    </div>
</div>