<h1 class="mb-3">Reactive Form</h1>
<div class="row example">
    <div class="col-md-7">
        <form [formGroup]="signUpForm" (ngSubmit)="addUser();">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name </label>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
                    <app-validation-error [control]="signUpForm.controls.firstName"></app-validation-error>
                    {{signUpForm.controls.firstName.errors|json}} {{signUpForm.controls.firstName.status}}
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
                    <app-validation-error [control]="signUpForm.controls.lastName"></app-validation-error>
                </div>
            </div>
            <!--/.form-row-->

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email Address</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email Address">
                    <app-validation-error [control]="signUpForm.controls.email"></app-validation-error>
                    {{signUpForm.controls.email.errors|json}} {{signUpForm.controls.email.status}}
                </div>

                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control" placeholder="10-Digit Mobile Number">
                    <app-validation-error [control]="signUpForm.controls.phoneNumber"></app-validation-error>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    <app-validation-error [control]="signUpForm.controls.password"></app-validation-error>
                </div>
                <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
                    <app-validation-error [control]="signUpForm.controls.confirmPassword"></app-validation-error>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    <select name="city" formControlName="city" class="form-control">
                      <option *ngFor="let city of cities" value="{{city.value}}">{{city.name}}</option>
                    </select>
                    <app-validation-error [control]="signUpForm.controls.city"></app-validation-error>
                </div>

                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <div class="form-check-inline" *ngFor="let g of genders">
                        <input type="radio" formControlName="gender" value="{{g.value}}" class="form-check-input" id="{{g.value}}">
                        <label class="form-check-label" for="{{g.value}}">{{g.name}}</label>
                    </div>
                    <app-validation-error [control]="signUpForm.controls.gender"></app-validation-error>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Skills</label>
                    <div class="form-check-inline" *ngFor="let skill of signUpForm.controls.skills.controls; let i=index;">
                        <input type="checkbox" id="{{skillsets[i].value}}" [formControl]="skill" (change)="onCBChange(skill, skillsets[i].name);">
                        <label class="form-check-label" for="{{skillsets[i].value}}"> {{skillsets[i].name}}</label>
                    </div>

                    <div>Selected Skills</div>
                    <label class="mx-2" *ngFor="let skill of selectedSkillsNames;">
                        {{skill}}
                    </label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-check">
                        <input type="checkbox" formControlName="termsAccepted" value="a" class="form-check-input" id="terms">
                        <label class="form-check-label" for="terms">I have read terms & conditions</label>
                        <app-validation-error [control]="signUpForm.controls.termsAccepted"></app-validation-error>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Cancel</button>
        </form>
    </div>

    <div class="col-md-5">
        <p>Form Value = {{signUpForm.value | json}}</p>
        <p>Form Submitted = {{formSubmitted}}</p>
        <p>Form Invalid = <span [className]="signUpForm.invalid ? 'font-weight-bold text-danger' : 'font-weight-bold text-success'">{{signUpForm.invalid}}</span></p>
        <p>User Model = {{userData|json}}</p>
    </div>
</div>