<h1 class="h3 mb-3 font-weight-normal">Reactive Form</h1>
<div class="row example">
  <div class="col-md-7">
    <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
      
      <div class="form-row" formGroupName="name">
        <div class="form-group col-md-6">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
          <validation-error-message [control]="signupForm.controls.name.controls.firstName"></validation-error-message>
          <!-- <div class="error-group">
            <div *ngIf="signupForm.controls.name.controls.firstName.invalid && signupForm.controls.name.controls.firstName.touched">
              <div *ngIf="signupForm.controls.name.controls.firstName.errors?.required" class="validation-error">{{errMsg.firstName.required}}</div>
            </div>
            <div *ngIf="signupForm.controls.name.controls.firstName.value !='' && signupForm.controls.name.controls.firstName.touched">
              <div *ngIf="signupForm.controls.name.controls.firstName.errors?.minlength" class="validation-error">{{errMsg.firstName.minlength}}</div>
            </div>
          </div> -->
          
        </div>

        <div class="form-group col-md-6">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
          <validation-error-message [control]="signupForm.controls.name.controls.lastName"></validation-error-message>          
        </div>
      </div> <!--/.form-row-->

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email" formControlName="email">         
          <validation-error-message [control]="signupForm.controls.email"></validation-error-message>
        </div>

        <div class="form-group col-md-6">
          <label>Phone Number</label>
          <input type="text" class="form-control" placeholder="10 digit mobile" formControlName="phoneNumber">          
          <validation-error-message [control]="signupForm.controls.phoneNumber"></validation-error-message>
        </div>
      </div><!--/.form-row-->

      <div class="form-row" formGroupName="createPassword">
        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <validation-error-message [control]="signupForm.controls.createPassword.controls.password"></validation-error-message>
        </div>
        <div class="form-group col-md-6">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
          <validation-error-message [control]="signupForm.controls.createPassword.controls.confirmPassword"></validation-error-message>
        </div>
      </div><!--/.form-row-->

      <div class="form-group">
        <label>Gender</label>
        <label *ngFor="let g of genderList" for="{{g.val}}" class="radio-inline">
              <input formControlName="gender" type="radio" id="{{g.val}}" value="{{g.val}}"> {{g.txt}}
            </label>
        <validation-error-message [control]="signupForm.controls.gender"></validation-error-message>
      </div><!--/.form-group-->


      <div class="form-group">
        <input id="tnc" type="checkbox" formControlName="terms">
        <label for="tnc">Terms - I have read and acccepted Terms & Conditions</label>
        <validation-error-message [control]="signupForm.controls.terms"></validation-error-message>
      </div><!--/.form-group-->

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Cancel</button>
    </form>
  </div>

  <div class="col-md-5">
    <pre>Form Value: {{signupForm.value|json}}</pre>
    <p>Is Valid: {{signupForm.status|json}}</p>
  </div>
</div>