<h1>Project Insight</h1>
<div class="row my-4">

    <div class="card">
        <form class="row row-cols-sm-auto g-3 align-items-center" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="projectId" readonly>
            <input type="hidden" formControlName="action" readonly>
            <div class="col-12">
                <label class="visually-hidden" for="duration">Duration</label>
                <select formControlName="duration" class="form-select">
                    <option value="currentMonth">Current month</option>
                    <option value="last1Month">Last 1 month</option>
                    <option value="last3months">Last 3 months</option>
                    <option value="last6months">Last 6 months</option>
                    <option value="last12months">Last 12 months</option>
                    <option value="all">All</option>
                </select>
            </div>
            <!-- <div class="col-12">
                <label class="visually-hidden" for="dateRange">Date Range</label>
                <p-calendar dateFormat="dd/mm/yy" formControlName="dateRange" selectionMode="range"
                    [readonlyInput]="true" inputId="range" styleClass="w-100" [showButtonBar]="false" [showIcon]="true"
                    appendTo="body" [panelStyleClass]="'datetimepicker'"></p-calendar>

            </div> -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="loading || !myForm.valid"><span
                        *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> Generate Report</button>
            </div>
            <!-- <app-validation-error [control]="myForm.controls['dateRange']"></app-validation-error> -->
        </form>
    </div>

    <div class="card my-3">
        <div class="card-header">
            <h5 class="">{{projectInfoData?.project_name}}</h5>
        </div>
        <div class="card-body py-0">
            <div class="mb-3">
                <div class="mt-3">
                    <strong>Project No:</strong> {{projectInfoData?.project_number || '--'}}
                </div>
                <div>
                    <strong>Status:</strong> {{projectInfoData?.project_status}}
                </div>
                <div>
                    <strong>Added on:</strong> {{projectInfoData?.created_on | date:
                    'dd/MM/yyyy'}}
                </div>
                <div>
                    <strong>Description:</strong> {{projectInfoData?.project_desc || '--'}}
                </div>
                <div *ngIf="projectInfoData?.project_start_date">
                    <strong>Duration:</strong> {{projectInfoData?.project_start_date | date:
                    'dd/MM/yyyy'}} - {{projectInfoData?.project_end_date | date: 'dd/MM/yyyy'}}
                </div>
                <div>
                    <strong>Total Resources:</strong> {{totalWorkforce}}
                </div>
                <div>
                    <strong>Total Hours Logged:</strong> {{totalBurnedHours}}
                </div>
            </div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-header">
            <h5 class="">Task Log Chart</h5>
        </div>
        <div class="card-body flex justify-content-center">
            <p-chart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions"
                *ngIf="doughnutChartValue.length>0" height="475px"></p-chart>
            <div *ngIf="doughnutChartValue.length === 0 ">No timesheet records found to generate a chart.</div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-header">
            <h5 class="">Resource Utilization Chart</h5>
        </div>
        <div class="card-body">
            <p-chart type="bar" [data]="data" [options]="options" *ngIf="chartDataValue.length>0"></p-chart>
            <div *ngIf="chartDataValue.length === 0 ">No timesheet records found to generate a chart.</div>
        </div>
    </div>

    

</div>