<h1>Hospitals</h1>

<div class="row my-3">
    <div class="col-md-12">
        <form [formGroup]="hospitalForm">
            <div class="row">
                <div class="form-group col-md-4">
                    <input type="text" name="hospitalname" [(ngModel)]="hospitalObj.hospitalname" formControlName="hospitalname" class="form-control" placeholder="Hospital Name">
                    <div *ngIf="(hospitalname.invalid && (hospitalname.touched || formSubmitted))" class="text-danger small">
                        <div *ngIf="hospitalname.errors.required">Please enter hospital name</div>
                        <div *ngIf="hospitalname.errors.minlength">Hospital name must be minimum 2 chars</div>
                        <div *ngIf="hospitalname.errors.maxlength">Hospital name should not exceed 30 chars</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" name="contactnumber" [(ngModel)]="hospitalObj.contactnumber" formControlName="contactnumber" class="form-control" placeholder="Hospital Phone">
                    <div *ngIf="(contactnumber.invalid && (contactnumber.touched || formSubmitted))" class="text-danger small">
                        <div *ngIf="contactnumber.errors.required">Please enter hospital phone</div>
                        <div *ngIf="contactnumber.errors.pattern">Please enter valid 10 digit phone</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="my-2 btn btn-primary" (click)="addHospital(hospitalForm);" *ngIf="!isEdit">Submit</button>
            <button type="submit" class="my-2 btn btn-primary" (click)="updateHospital(hospitalForm);" *ngIf="isEdit">Update</button>
        </form>
    </div>

</div>


<div class="row data-table my-3">
    <div class="col-md-12">
        <button class="btn btn-success btn-sm" [appSort]="hospitalList" data-order="asc" data-name="hospitalname">Sort by Hospital Name</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" [appSort]="hospitalList" data-order="asc" data-name="hospitalname">Hospital Name</th>
                    <th scope="col" [appSort]="hospitalList" data-order="asc" data-name="contactnumber">Contact Number</th>
                    <th scope="col">Departments</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="hospitalList.length > 0">
                    <tr *ngFor="let hospital of hospitalList; let i = index;">
                        <td>{{hospital.hospitalname}}</td>
                        <td>{{hospital.contactnumber}}</td>
                        <td><a class="btn btn-sm btn-link" routerLink="/department" [queryParams]="{hospitalId: hospital.id, hospitalName: hospital.hospitalname}">View Department</a></td>
                        <td>
                            <a class="btn btn-sm btn-secondary mx-1" (click)="editHospital(hospital);">Edit</a>
                            <a class="btn btn-sm btn-danger mx-1" (click)="deleteHospital(hospital);">Delete</a>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="hospitalList.length == 0">
                    <tr>
                        <td colspan="4">There are no records to display.</td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>