<h1>Settings</h1>
<div class="back-to-page mb-3">
    <a [routerLink]="['/']"> <app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Site Settings</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form [formGroup]="siteSettingsForm" class="form app-form" (ngSubmit)="onSubmit()">
                            <input type="hidden" formControlName="action" value="updateSettings">

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="required" for="timesheetMinDays">Timesheet Enable Previous
                                        Days</label>
                                    <input type="number" class="form-control" id="timesheetMinDays"
                                        formControlName="timesheetMinDays">
                                    <app-validation-error
                                        [control]="siteSettingsForm.controls['timesheetMinDays']"></app-validation-error>
                                    <div class="small mt-2"><app-icon [name]="'info'" styleClass="f-20"></app-icon>
                                        Number of days before today to be enabled.
                                        (<strong>Default value: </strong> 5)</div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="required" for="timesheetMaxDays">Timesheet Enable Next Days</label>
                                    <input type="number" class="form-control" id="timesheetMaxDays"
                                        formControlName="timesheetMaxDays">
                                    <app-validation-error
                                        [control]="siteSettingsForm.controls['timesheetMaxDays']"></app-validation-error>
                                    <div class="small mt-2"><app-icon [name]="'info'" styleClass="f-20"></app-icon>
                                        Number of days after today to be enabled.
                                        (<strong>Default value: </strong> 0)</div>

                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="" for="emailNotifyDistro">Email Distribution List ID</label>
                                    <input type="text" class="form-control" id="emailNotifyDistro"
                                        formControlName="emailNotifyDistro">
                                    <app-validation-error
                                        [control]="siteSettingsForm.controls['emailNotifyDistro']"></app-validation-error>
                                    <div class="small mt-2"><app-icon [name]="'info'" styleClass="f-20"></app-icon>
                                        Email DL ID where post related updates will be sent</div>

                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary px-4" [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div> <!--/.card-body-->
        </div> <!--/.card-->

    </div>
</div>