<div class="table-responsive">
    <p-table [value]="timeSheetLogData" [rowHover]="true" styleClass="p-datatable-sm table-font-sm ">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="timesheet_date">Date</th>
                <th pSortableColumn="project_name">Project</th>
                <th pSortableColumn="task_name">Task</th>
                <th pSortableColumn="timesheet_hours">Hours</th>
                <th pSortableColumn="timesheet_description">Descr.</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data?.timesheet_date | date: 'dd/MM/yyyy'}}</td>
                <td>{{data?.project_name}}</td>
                <td>{{data?.task_name}}</td>
                <td>{{data?.timesheet_hours}}</td>
                <td>{{data?.timesheet_description ? data?.timesheet_description : '--'}}</td>
                <td>
                    <button [disabled]="disableButtons(data?.timesheet_date)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-secondary mr-2" (click)="editItem(data.id)"></button>
                    <button [disabled]="disableButtons(data?.timesheet_date)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="deleteItem(data.id, data.timesheet_date)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No records found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



