<div class="table-responsive mt-3">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Project</th>
                <th scope="col">Task</th>
                <th scope="col">Hours</th>
                <th scope="col">Descr.</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="timeSheetLogData.length > 0">
            <tr *ngFor="let data of timeSheetLogData; let i = index">
                <td>{{data?.timesheet_date}}</td>
                <td>{{data?.project_name}}</td>
                <td>{{data?.task_name}}</td>
                <td>{{data?.timesheet_hours}}</td>
                <td>{{data?.timesheet_description}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-secondary me-1" [disabled]="disableButtons(data?.timesheet_date)" (click)="editItem(data.id)">
                        <app-icon [name]="'pencil'"></app-icon>
                    </button>
                    <button class="btn btn-sm btn-outline-danger" [disabled]="disableButtons(data?.timesheet_date)" (click)="deleteItem(data.id, data.timesheet_date)">
                        <app-icon [name]="'trash3'"></app-icon>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="!timeSheetLogData || timeSheetLogData.length <= 0">
            <tr>
                <td colspan="6" class="text-danger"> <app-icon [name]="'exclamation-circle'"></app-icon> No records found </td>
            </tr>
        </tbody>
    </table>
</div>