<ul class="nav">
    <li class="nav-item"><a class="nav-link " [routerLink]="['/example/template-basic']">
            Template Basic
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/example/types-of-angular-directive']">
            Directive
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/example/pipes']">
            Pipes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/user-input-binding']">
            Data Binding
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/example/template-driven-form']">
            Template Driven Form
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/example/reactive-form']">
            Reactive Form
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/angular-services']">
            Service
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/parent-comp']">
            Child Component
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/test']">
            Test
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/example/employee']">
            Observable (RxJS Operators)
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/example/tranfer-fund']">
            Routing Basic
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/content-projection']">
            Content Projection
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/ag-grid']">
            AG Grid Demo
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/example/translate']">
            i18n Translation
        </a>
    </li>
</ul>

<router-outlet></router-outlet>