<section class="my-3" data-module="ng-example">
    <div class="my-3">
        <a class="mr-2" routerLink="template-basic">Template Basic</a>
        <a class="mx-2" routerLink="types-of-angular-directive">Directive</a>
        <a class="mx-2" routerLink="pipes">Pipes</a>
        <a class="mx-2" routerLink="user-input-binding">Data Binding</a>
        <a class="mx-2" routerLink="template-driven-form">Template Driven Form</a>
        <a class="mx-2" routerLink="reactive-form">Reactive Form</a>
        <a class="mx-2" routerLink="angular-services">Service</a>
        <a class="mx-2" routerLink="parent-comp">Parent-Child Data Sharing</a>
        <a class="mx-2" routerLink="test">Test</a>
        <a class="mx-2" routerLink="observable-in-angular">Observable</a>
        <a class="mx-2" routerLink="tranfer-fund">Fund Tranfer</a>
    </div>
    <div class="myparagraph">myparagraph at ng-exaple.component.html</div>

    <router-outlet></router-outlet>
</section>