 <h1 class="h3 mb-3 font-weight-normal">Angular Fundamentals</h1> 
<ul class="example-nav small">
    <li class=""><a class="" routerLink="template-basic">Template Basic</a></li>
    <li class=""><a class="" routerLink="types-of-angular-directive">Types of Angular Directive</a></li>
    <li class=""><a class="" routerLink="pipes">Pipes</a></li>
    <li class=""><a class="" routerLink="user-input-binding">User Input Binding</a></li>
    <li class=""><a class="" routerLink="template-driven-form">Template Driven Form</a></li>
    <li class=""><a class="" routerLink="reactive-form">Reactive Form</a></li>    
    <li class=""><a class="" routerLink="angular-services">Services in Angular</a></li>
    <li class=""><a class="" routerLink="web-chat">Chat UX</a></li>
    <li class=""><a class="" routerLink="test">Test</a></li>
    <li class=""><a class="" routerLink="child-comp">Child Component</a></li>
    <li class=""><a class="" routerLink="parent-comp">Parent Component</a></li>
</ul>
<router-outlet></router-outlet>