<!-- <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-7 text-center">
          <img style="width: 130px;" src="/assets/img/angular.png" alt="logo" />
          <h1>CRM App</h1>
          <div class="text-center"><img class="img-fluid" src="assets/img/3.jpg" alt="sign in image" /></div>
        </div>
        <div class="col-md-5">
          <h2>Welcome to CRM App</h2>
          <router-outlet></router-outlet>    
        </div>
      </div>
    </div>
  </div> -->




<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="text-center mb-4">
      <img style="width: 80px;" src="/assets/img/angular.png" alt="logo" />
      <h4>ProjectName</h4>
    </div>
    <app-alert-message></app-alert-message>
    <router-outlet></router-outlet>
  </div>
</div>