<h1>{{pageData.title}}</h1>
<p>{{pageData.subtitle}}</p>
<h4>{{pageData.heading_cli_cmds}}</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Scaffold</th>
            <th>Usage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliCmd of pageData.cli_commands">
            <td>
                <a href="{{cliCmd.url}}">{{cliCmd.scafold}}</a>
            </td>
            <td>
                <code>{{cliCmd.command}}</code>
            </td>
        </tr>
    </tbody>
</table>