<h1>Data Chart</h1>

<form class="row row-cols-sm-auto g-3 align-items-center" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
        <p-calendar dateFormat="dd/mm/yy" formControlName="fromToDate" selectionMode="range" [readonlyInput]="true"
                inputId="range" styleClass="w-100" [showButtonBar]="false" [showIcon]="true" appendTo="body"
                [panelStyleClass]="'datetimepicker'"></p-calendar>
            
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="loading || !myForm.valid"><span *ngIf="loading"
                class="spinner-border spinner-border-sm me-1"></span> Search</button>
    </div>
    <app-validation-error [control]="myForm.controls['fromToDate']"></app-validation-error>
</form>