<div class="row example">
  <div class="col-md-8">
    <!-- <h4>Reactive Form</h4> -->

    <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
      <fieldset>
        <legend>Create Account Online</legend>
        <div class="row">
          <div formGroupName="name">

            <div class="form-group col-md-6">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
              <div class="error-group">
                <div *ngIf="signupForm.controls.name.controls.firstName.invalid && signupForm.controls.name.controls.firstName.touched">
                  <div *ngIf="signupForm.controls.name.controls.firstName.errors?.required" class="validation-error">{{errMsg.firstName.required}}</div>
                </div>
                <div *ngIf="signupForm.controls.name.controls.firstName.value !='' && signupForm.controls.name.controls.firstName.touched">
                  <div *ngIf="signupForm.controls.name.controls.firstName.errors?.minlength" class="validation-error">{{errMsg.firstName.minlength}}</div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
              <div class="error-group">
                <div *ngIf="signupForm.controls.name.controls.lastName.invalid && signupForm.controls.name.controls.lastName.touched">
                  <div *ngIf="signupForm.controls.name.controls.lastName.errors?.required" class="validation-error">{{errMsg.lastName.required}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
            <div class="error-group">
              <div *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched">
                <div *ngIf="signupForm.controls.email.errors?.required" class="validation-error">{{errMsg.email.required}}</div>
              </div>
              <div *ngIf="signupForm.controls.email.value != '' && signupForm.controls.email.touched">
                <div *ngIf="signupForm.controls.email.errors?.email" class="validation-error">{{errMsg.email.invalid}}</div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="10 digit mobile" formControlName="phoneNumber">
            <div class="error-group">
              <div *ngIf="signupForm.controls.phoneNumber.invalid && signupForm.controls.phoneNumber.touched">
                <div *ngIf="signupForm.controls.phoneNumber.errors?.required" class="validation-error">{{errMsg.phoneNumber.required}}</div>
              </div>
              <div *ngIf="signupForm.controls.phoneNumber.value.length != '' && signupForm.controls.phoneNumber.touched">
                <div *ngIf="signupForm.controls.phoneNumber.errors?.phone_number" class="validation-error">{{errMsg.phoneNumber.phone_number}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div formGroupName="createPassword">
            <div class="form-group col-md-6">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
              <div class="error-group">
                <div *ngIf="signupForm.controls.createPassword.controls.password.invalid && signupForm.controls.createPassword.controls.password.touched">
                  <div *ngIf="signupForm.controls.createPassword.controls.password.errors?.required" class="validation-error">{{errMsg.password.required}}</div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
              <div class="error-group">
                <div *ngIf="signupForm.controls.createPassword.controls.confirmPassword.invalid && signupForm.controls.createPassword.controls.confirmPassword.touched">
                  <div *ngIf="signupForm.controls.createPassword.controls.confirmPassword.errors?.required" class="validation-error">{{errMsg.confirmPassword.required}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div formGroupName="jobExp">
            <div class="form-group col-md-6">
              <label>Job Exp</label>
              <label class="radio-inline" for="fresher">
                <input type="radio" formControlName="experience" value="fresher" id="fresher">Freshers
              </label>
              <label class="radio-inline" for="experienced">
                <input type="radio" formControlName="experience" value="experienced" id="experienced">Experienced
              </label>
            </div>
            <div class="form-group col-md-6">
              <label>Skills</label>
              <label class="checkbox-inline" *ngFor="let s of allSkills" for="{{s.skillValue}}">
                <input type="checkbox" formArrayName="skill" value="{{s.skillValue}}" id="{{s.skillValue}}"> {{s.skillDisplayTxt}}
              </label>
            </div>
          </div>
        </div>
      

        <div class="row">
          <div class="form-group col-md-12">
            <label>Gender</label>
            <label *ngFor="let g of genderList" for="{{g.val}}" class="radio-inline">
              <input formControlName="gender" type="radio" id="{{g.val}}" value="{{g.val}}"> {{g.txt}}
            </label>

            <div class="error-group">
              <div *ngIf="signupForm.controls.gender.invalid && signupForm.controls.gender.touched">
                <div *ngIf="signupForm.controls.gender.errors?.required" class="validation-error">{{errMsg.gender.required}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label>
              <input type="checkbox" formControlName="terms">Terms - I have read and acccepted Terms & Conditions</label>
            <!-- <div class="error-group">
              <div *ngIf="signupForm.controls.terms.invalid && signupForm.controls.terms.touched">
                <div *ngIf="signupForm.controls.terms.errors?.required" class="validation-error">{{errMsg.terms.required}}</div>              
              </div>                         
             </div> -->
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4">
    <pre>Form Value: {{signupForm.value|json}}</pre>
    <p>Is Valid: {{signupForm.status|json}}</p>
  </div>

</div>