<h1>Login</h1>
<p class="text-medium-emphasis">Sign In to your account</p>
<form [formGroup]="loginForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1"><app-icon [name]="'username'" [styleClass]="'f-20'"></app-icon></span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1" formControlName="userName"
          [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }">
      </div>
      <app-validation-error [control]="f['userName']"></app-validation-error>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon2"><app-icon [name]="'password'" [styleClass]="'f-20'"></app-icon></span>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
          aria-describedby="basic-addon2" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
      </div>
      <app-validation-error [control]="f['password']"></app-validation-error>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary px-4" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Login
      </button>
    </div>
    <div class="col-md-6 mt-3 mt-md-0">
      <a class="btn btn-link px-0" routerLink="../forgot-password">Forgot Password?</a>
    </div>
  </div>
</form>