<h1>Sign in</h1>
<form [formGroup]="loginForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()">
  <div class="row mb-3 mb-2">
    <div class="col">
      <label for="userName">Username</label>
      <input type="text" class="form-control" formControlName="userName"
        [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }">
      <app-validation-error [control]="f['userName']"></app-validation-error>
    </div>
  </div>

  <div class="row mb-3 mb-2">
    <div class="col">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
      <app-validation-error [control]="f['password']"></app-validation-error>
    </div>
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
      Sign In
    </button>
  </div>
  <div class="my-3"><a routerLink="../forgot-password">Forgot Password?</a></div>
</form>
