<h1 class="h3 mb-3 font-weight-normal">Event Binding () - oneway, Property Binding [] - oneway, Twoway Binding [(ngModel)]="name"</h1>
Remember that HTML attributes (name, value, id, class) and DOM properties (data-*) are different things, even when they have the same name.

<div class="row example">
    <div class="col-md-12">

        <button class="btn {{buttonCss}}" (click)="buttonClick($event)">Click this Button</button> {{clickMessage}}

        <input class="form-control my-4" type="text" name="username" placeholder="Enter Username" (keyup)="onInputKeyUp($event)" (focus)="onInputFocus($event)" (blur)="onInputBlur($event)"> {{keyUpInputData}}

        <div class="my-4">
            <h5>Property and attribute comparison</h5>
            <label>disabled property <code>[disabled]="isDisabled ? true : false"</code></label>
            <input class="form-control" type="text" placeholder="first name" name="fname" [disabled]="isDisabled ? true : false">

            <label>disabled attribute <code>[attr.disabled]="isDisabled ? 'disabled' : 'null' "</code></label>
            <input class="form-control" type="text" placeholder="last name" name="lname" [attr.disabled]="isDisabled ? 'disabled' : 'null' ">

            <label>value property binding <code>[value]="userName"</code></label>
            <input type="text" class="form-control" [value]="userName" placeholder="name">

        </div>

        <button class="btn btn-primary" [attr.aria-label]="Submit">Submit</button>


        <input type="text" (input)="getValue($event)" class="form-control" placeholder="test">
        <div>value = {{inputVal}}</div>

    </div>
</div>
