<!-- <h1>View Details</h1> -->
<h1 [innerHTML]="post?.content_title"></h1>
<div class="back-to-page">
    <a [routerLink]="['/dashboard']" [state]="{ newsPageNumber: paginationPageNumber }">
        <app-icon [name]="'chevronLeft'" [styleClass]="'me-2'"></app-icon>Back
    </a>
</div>

<div class="row mt-3" *ngIf="post?.id">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Details <span class="badge rounded-pill bg-primary" >{{post?.content_type}}</span></div>
            <div class="card-body">
                <!-- <h4 class="card-title" [innerHTML]="post?.content_title"></h4> -->
                <div class="main-content-description-wrapper" [innerHTML]="post?.content_text"></div>
            </div>
            <div class="card-footer">
                <span class="small text-secondary">{{getTimeStampInfo(post)}}</span>
            </div>
        </div>
    </div>
</div>