<!--<h1>{{title}}</h1>
{{subtitle}}-->
<div class="row">
    <ul class="nav-inline">
        <li><a routerLink="template-basic">Template Basic</a></li>
        <li><a routerLink="types-of-angular-directive">Types of Angular Directive</a></li>
        <li><a routerLink="pipes">Pipes</a></li>
        <li><a routerLink="user-input-binding">User Input Binding</a></li>
        <li><a routerLink="template-driven-form">Template Driven Form</a></li>
        <li><a routerLink="reactive-form">Reactive Form</a></li>
        <li><a routerLink="angular-services">Services in Angular</a></li>
    </ul>
</div>
<router-outlet></router-outlet>