<h1>{{title}}</h1>
<p>{{subtitle}}</p>

<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a routerLink="interpolation">Interpolation</a></li>
            <li><a routerLink="customdirective">Custom Directive</a></li>
            <li><a routerLink="pipes">Pipes</a></li>
            <li><a routerLink="user-input-binding">User Input Binding</a></li>
            <li><a routerLink="template-driven-form">Template Driven Form</a></li>
            <li><a routerLink="reactive-form">Reactive Form</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>



<div class="row example">
    <h3>Interpolation</h3>
    <div class="col-md-12">
        <p>The sum of 1+1+9 is {{1+1+9}}</p>
        <div *ngFor="let fruit of fruits">{{fruit.name}} is {{fruit.color}}</div>
    </div>
</div>


<!--<div class="row example">
    <div class="col-md-12">
        <h3></h3>        
    </div>
</div>-->

<div class="row example">
    <h3>Custom Directive</h3>
    <div class="col-md-12">
        <div highlight class="">This is a sample text</div>
    </div>
</div>


<div class="row example">
    <h3>Pipes, Custom Pipes</h3>
    <div class="col-md-12">
        <p>{{birthday|date:"MM/dd/yyyy"}}</p>
        <div>Custom pipe (Exponential Strength): {{2|exponentialStrength:'2'}}</div>
        <div>
            <input type="number" [(ngModel)]="val" placeholder="value">
            <input type="number" [(ngModel)]="pow" placeholder="exponential">
            <input type="text" [(ngModel)]="testInput" placeholder="test">
            <input type="text" [(ngModel)]="testInput" placeholder="test">
            <p>Entered val={{val}}, pow={{pow}}. Exponential = {{val|exponentialStrength:pow}}</p>
        </div>
        <div>{{'saikat.mahapatra@gmail.com'|mask:'email'}}</div>
    </div>
</div>

<div class="row example">
    <h3>Forms: User Input Binding</h3>
    <div class="col-md-12">
        <button class="btn {{buttonCss}}" (click)="buttonClick($event)">Button</button> {{clickMessage}}
        <div>
            Event Bubble
            <div (click)="clickParentElm($event)">
                parent div
                <div (click)="clickChildElm($event)">child div</div>
            </div>
        </div>
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter something" (keyup)="keyUpGetInputData($event)" (blur)="txtBlur($event)">        {{keyUpInputData}}
    </div>
</div>


<div class="row example">
    <h3>Forms: Template Driven Form - User Registration</h3>
    {{diagonostic}}
    <div class="col-md-4">
        <form (ngSubmit)="onSubmit($event)" #userForm="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" required minlength="4" maxlength="15" class="form-control" placeholder="first name" [(ngModel)]="model.firstName"
                            name="firstName" #firstName="ngModel"> {{firstName.class}}
                    </div>
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First name is required.</div>
                        <div *ngIf="firstName.errors.minlength">First name can not less than 4 characters.</div>
                        <div *ngIf="firstName.errors.maxlength">First name can not greater than 15 characters.</div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="last name" [(ngModel)]="model.lastName" name="lastName" required minlength="5"
                            maxlength="15" #lastName="ngModel"> {{lastName.className}}
                    </div>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last name is required.</div>
                        <div *ngIf="lastName.errors.minlength">Last name can not less than 5 characters.</div>
                        <div *ngIf="lastName.errors.maxlength">Last name can not greater than 15 characters.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="email" [(ngModel)]="model.email" name="email" #spy3>                        {{spy3.className}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Phone(Optional)</label>
                        <input type="text" class="form-control" minlength="10" maxlength="10" placeholder="phone" [(ngModel)]="model.phoneNumber"
                            name="phoneNumber" #phoneNumber="ngModel"> {{phoneNumber.className}}
                    </div>
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                        <div *ngIf="phoneNumber.errors.minlength">Phone number should be minimum 10 digits</div>
                        <div *ngIf="phoneNumber.errors.maxlength">Phone number can't exceed 10 digits</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Phone Type</label>
                        <select class="form-control" [(ngModel)]="model.phoneType" name="phoneType" #phoneTypeDD="ngModel">
                            <option *ngFor="let phoneType of phoneTypes" value="{{phoneType.val}}">{{phoneType.txt}}</option>                            
                    </select> {{phoneTypeDD.className}}
                    </div>
                    <div *ngIf="phoneNumber>0" class="alert alert-danger">
                        <div *ngIf="!phoneTypeDD">Please select a Phone Type</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-4" [hidden]="!isSubmitted">
        <label>You have submitted the below data:</label>
        <div class="row">First Name: {{model.firstName}}</div>
        <div class="row">Last Name: {{model.lastName}}</div>
        <div class="row">Email: {{model.email}}</div>
        <div class="row">Phone: {{model.phoneNumber}}</div>
        <div class="row">Phone Type: {{model.phoneType}}</div>
        <div class="row"><a (click)="isSubmitted=false">Edit</a></div>
    </div>
</div>


<div class="row example">
    <h3>Form: Reactive Form Example</h3>
    <div class="col-md-12"></div>
</div>