
<h1>{{title}}</h1>
{{subtitle}}
<div class="row">
    <ul class="nav navbar-nav">
        <li><a routerLink="interpolation">Interpolation</a></li>
        <li><a routerLink="customdirective">Custom Directive</a></li>
        <li><a routerLink="pipes">Pipes</a></li>
        <li><a routerLink="user-input-binding">User Input Binding</a></li>
        <li><a routerLink="template-driven-form">Template Driven Form</a></li>
        <li><a routerLink="reactive-form">Reactive Form</a></li>
    </ul>
</div>
<router-outlet></router-outlet>