<header>
  <nav class="navbar navbar-expand fixed-top bg-primary" data-bs-theme="dark" style="height: 55px;">
    <div class="container-fluid">
      <button class="navbar-toggler border-0 shadow-none d-block me-2" (click)="toggleSideNav()" type="button" data-bs-toggle="collapse"
      aria-label="Toggle navigation" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <img *ngIf="!isProd" style="width: 24px;" src="assets/img/logo.svg" alt="logo" />
        <img *ngIf="isProd" style="width: 48px;" src="assets/img/logo-prod.svg" alt="logo" />
        {{productName}}
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/emp/my-profile']"><app-icon [name]="'user'" [styleClass]="'f-18'"></app-icon></a>
          </li> -->
          <li class="nav-item">
            <app-theme-switch></app-theme-switch>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/login']" [queryParams]="{logout: true}"><app-icon [name]="'signout'" [styleClass]="'f-18'"></app-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>