<header>
  <nav class="navbar navbar-expand fixed-top bg-primary" data-bs-theme="dark">
    <div>
      <button class="btn py-0 me-2 text-white" (click)="toggleSideNav()" type="button" data-bs-toggle="collapse"
        aria-label="Toggle navigation" aria-expanded="false"><app-icon [name]="'list'" [width]="32"
          [height]="32"></app-icon></button>
      <a class="navbar-brand" [routerLink]="['/']"><img style="width: 32px;" src="assets/img/logo.svg" alt="logo" /> {{brandName}}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><app-icon [name]="'gear'"></app-icon></a>
        </li> -->        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user/profile']"><app-icon [name]="'person-circle'"></app-icon></a>
        </li>
        <li class="nav-item">
          <app-theme-switch></app-theme-switch>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/login']" [queryParams]="{logout: true}"><app-icon [name]="'box-arrow-right'"></app-icon></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
