//====================================================================================
// Section A: Override Bootstrap framework's variables here to customize colors, space etc
// Include any default variable overrides here (though functions won't be available)
//====================================================================================

$primary: #1976d2;
// Customize typographic styles
$font-size-base: 0.9375rem;
//$small-font-size: 0.875rem;
// $font-family-sans-serif: 'Roboto',
// -apple-system,
// BlinkMacSystemFont,
// "Segoe UI",
// Roboto,
// "Helvetica Neue",
// Arial,
// sans-serif;
//$link-color: $primary;
//$nav-tabs-link-active-color: $primary;
//$nav-tabs-link-active-border-color: $primary;
//form-control, button padding like lg
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: .75rem !default;
//$link-decoration: none;

// @import "../../../node_modules/bootstrap/scss/functions.scss";
// @import "../../../node_modules/bootstrap/scss/variables.scss";

//====================================================================================
// Section B: Custom user defined variables
//====================================================================================

//$light_blue: lighten($blue, 30%);
$from_color: #7fcc03;
$to_color: #cf1180;

// $white:    #fff;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
// $black:    #000;

// $blue:    #0d6efd;
// $indigo:  #6610f2;
// $purple:  #6f42c1;
// $pink:    #d63384;
// $red:     #dc3545;
// $orange:  #fd7e14;
// $yellow:  #ffc107;
// $green:   #198754;
// $teal:    #20c997;
// $cyan:    #0dcaf0;

//====================================================================================
// Section C: PrimeNG theme variables
//====================================================================================
$pFontSize: $font-size-base; // Default 1rem 