<h1>Timesheet</h1>
<h4 class="my-3">{{monthName}}, {{year}}</h4>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="action" value="add">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="required d-block" for="cal">Select Dates</label>
            <div id="cal" class="form-text text-muted mb-2">You are allowed to select maximum {{maxDateCount}}
              days.</div>
            <p-calendar dateFormat="dd/mm/yy" [inline]="true" selectionMode="multiple" [showWeek]="false" [minDate]="minDate"
              [maxDate]="maxDate" formControlName="timeSheetDates" [maxDateCount]="maxDateCount"
              (onMonthChange)="monthYearChange($event)" (onYearChange)="monthYearChange($event)">
              <ng-template pTemplate="date" let-date>
                <span [ngClass]="getCSSClass(date)">{{date.day}}</span>
              </ng-template>
            </p-calendar>

            <div class="my-1 py-2 alert alert-danger"
              *ngIf="(myForm.controls['timeSheetDates'].touched || submitted ) && myForm.controls['timeSheetDates'].errors">
              <app-icon class="me-2" [name]="'error'"></app-icon>
              <span>Please choose at least one day from the calendar.</span>
            </div>

            <div class="indicator mt-4 form-text">
              <div class="d-flex justify-content-between">
                <div class="">
                  <div class="date-selected">DD</div>
                  <div class="">Selected</div>
                </div>

                <div class="">
                  <div class="date-filled">DD</div>
                  <div class="">Task Logged</div>
                </div>

                <div class="">
                  <div class="date-holiday-opt">DD</div>
                  <div class="">Opt. Holiday</div>
                </div>

                <div class="">
                  <div class="date-holiday">DD</div>
                  <div class="">Holiday</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="required" for="project">Project</label>
            <select class="form-select" id="project" formControlName="project">
              <option value="">Select</option>
              <option value="{{project.id}}" *ngFor="let project of projectList">{{project.name}}</option>
            </select>
            <app-validation-error [control]="myForm.controls['project']"></app-validation-error>
          </div>

          <div class="mb-3">
            <label class="required" for="task">Task</label>
            <select class="form-select" id="task" formControlName="task">
              <option value="">Select</option>
              <option value="{{task.id}}" *ngFor="let task of taskList">{{task.name}}</option>
            </select>
            <app-validation-error [control]="myForm.controls['task']"></app-validation-error>
          </div>

          <div class="mb-3">
            <label class="required" for="hours">Hours</label>
            <input type="number" min="0" max="9" step="0.5" class="form-control" id="hours" formControlName="hours">
            <app-validation-error [control]="myForm.controls['hours']"></app-validation-error>
          </div>
          <div class="mb-3">
            <label class="required" for="description">Task Description</label>
            <textarea class="form-control" id="description" formControlName="description" maxlength="200"
              placeholder="briefly describe in 200 characters"></textarea>
            <app-validation-error [control]="myForm.controls['description']"></app-validation-error>
          </div>


          <button type="submit" class="btn btn-primary" [disabled]="loading"><span *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"></span> Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mb-4">
  <app-view-timesheet [timeSheetLogData]="timesheetData"
    (recordDeleted)="isDeleteComplete($event)"></app-view-timesheet>
</div>

<!-- <p-paginator [rows]="itemPerPage" [totalRecords]="totalRecords" [rowsPerPageOptions]="itemPerPageDropdown"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  styleClass="my-4" (onPageChange)="paginate($event)"></p-paginator> -->