.demo-inline-calendar-card {
  width: 300px;
}
.mat-calendar-body-cell.selected {
  background: lighten(#0c63b9, 40%) !important;
  border-radius: 100%;
}

.mat-calendar-body-cell.yellow {
  background: orange;
  border-radius: 100%;
}