//@import 'src/assets/scss/_customized-bootstrap-vars';

// .p-datepicker table td.p-datepicker-today {
//   span {
//     color: $white !important;
//     background: lighten($primary, 20%) !important;
//   }
// }
.date-filled {
  color: lighten(#198754, 10%);
  font-weight: bold;
}

.date-holiday-opt {
  color: rgb(255, 183, 0);
  font-weight: bold;
}

.date-holiday {
  color: rgb(194, 50, 40);
  font-weight: bold;
}