<div class="row example">
    <h3>Forms: Template Driven Form - User Registration</h3>

    <div class="col-md-6">
        <form (ngSubmit)="onSubmit($event)" #userForm="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="text" required minlength="4" maxlength="15" class="form-control" placeholder="first name" [(ngModel)]="model.firstName"
                        name="firstName" #firstName="ngModel"> {{firstName.className}}
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="validation-error">
                        <div *ngIf="firstName.errors.required">First name is required.</div>
                        <div *ngIf="firstName.errors.minlength">First name can not less than 4 characters.</div>
                        <div *ngIf="firstName.errors.maxlength">First name can not greater than 15 characters.</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="last name" [(ngModel)]="model.lastName" name="lastName" required minlength="5"
                        maxlength="15" #lastName="ngModel"> {{lastName.className}}
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="validation-error">
                        <div *ngIf="lastName.errors.required">Last name is required.</div>
                        <div *ngIf="lastName.errors.minlength">Last name can not less than 5 characters.</div>
                        <div *ngIf="lastName.errors.maxlength">Last name can not greater than 15 characters.</div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email address" [(ngModel)]="model.email" name="email" #templateRefEmail>
                {{templateRefEmail.className}}
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Phone(Optional)</label>
                    <input type="text" class="form-control" minlength="10" maxlength="10" placeholder="phone" [(ngModel)]="model.phoneNumber"
                        name="phoneNumber" #phoneNumber="ngModel"> {{phoneNumber.className}}
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="validation-error">
                        <div *ngIf="phoneNumber.errors.minlength">Phone number should be minimum 10 digits</div>
                        <div *ngIf="phoneNumber.errors.maxlength">Phone number can't exceed 10 digits</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Phone Type</label>
                    <select class="form-control" [(ngModel)]="model.phoneType" name="phoneType" #phoneTypeDD="ngModel">
                            <option *ngFor="let phoneType of phoneTypes" value="{{phoneType.val}}">{{phoneType.txt}}</option>
                        </select> {{phoneTypeDD.className}}
                    <div *ngIf="phoneNumber>0" class="validation-error">
                        <div *ngIf="!phoneTypeDD">Please select a Phone Type</div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>

        </form>
    </div>

    <div class="col-md-6">
        <h5>Form Data:</h5>
        <pre>{{formData}}</pre>       
        <h5>Model Data:</h5>
        {{model | json}}
        
        <div>Form Submitted? <span class="badge badge-dark">{{isSubmitted}}</span></div>
    </div>
</div>