<h1 class="h3 mb-3 font-weight-normal">Template Driven Form</h1>

<div class="row example">
    <div class="col-md-7">
        <form (ngSubmit)="saveUser(formCreateUser)" #formCreateUser="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="text" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="First Name" required minlength="2" maxlength="15">
                </div>

                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control" placeholder="Last Name" required minlength="2" maxlength="15">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email Address</label>
                    <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email Address" required>
                </div>

                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" placeholder="10-Digit Mobile Number" required minlength="10" maxlength="10">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    <select name="city" [(ngModel)]="city" class="form-control">
                      <option *ngFor="let city of cities" value="{{city.value}}">{{city.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <div class="form-check-inline" *ngFor="let g of genders">
                        <input type="radio" name="gender" value="{{g.value}}" [(ngModel)]="gender" class="form-check-input" id="{{g.value}}">
                        <label class="form-check-label" for="{{g.value}}">{{g.name}}</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Skills</label>
                     <div class="form-check-inline" *ngFor="let skill of skillsets; let i = index;">
                        <input type="checkbox" name="skill[{{skill.value}}]" value="{{skill.value}}" [(ngModel)]="skill[i]" class="form-check-input" id="{{skill.value}}">
                        <label class="form-check-label" for="{{skill.value}}">{{skill.name}}</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input type="checkbox" name="termsAccepted" value="a" [(ngModel)]="termsAccepted" class="form-check-input" id="terms">
                        <label class="form-check-label" for="terms">I have read terms & conditions</label>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-5">
        <p>Form Value = {{formCreateUser.value | json}}</p>
        <p>Form Submitted = {{formSubmit}}</p>
        <p>Form Invalid = {{formCreateUser.invalid}}</p>
        <p>User Model = {{model|json}}</p>
    </div>