.myparagraph {
    color: blue;
}

:host {
    border: 2px solid black;
}

// based on parents css class or attribute add style to your component
// if ancestor has data-module="angular-demo" then apply css
:host-context([data-module="angular-demo"]) h1 {
    color: #b20000;
}