body{
    margin-top: 5rem;    
    margin-bottom: 2rem;    
}
h1{
    font-size: 1.5rem;
}
.validation-error{
    font-size: 0.875rem;
}
.nav-inline li{
    display: inline-block;
    margin: 10px;
}
.bg-ng{
    background: #1976d2;
}