<h1>Change Password</h1>
<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4">
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="action">
            <div class="mb-3">
                <label class="required" for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" maxlength="16">
                <app-validation-error [control]="myForm.controls['currentPassword']"></app-validation-error>
            </div>

            <div class="mb-3">
                <label class="required" for="password">New Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" maxlength="16" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Password must be 8-16 characters long including at least 1 lowercase, 1 uppercase letter & 1 number.</small>
                <app-validation-error [control]="myForm.controls['password']"></app-validation-error>
            </div>

            <div class="mb-3">
                <label class="required" for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" maxlength="16">
                <app-validation-error [control]="myForm.controls['confirmPassword']"></app-validation-error>
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="loading"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> Submit</button>
        </form>
    </div>
</div>