<h1>Create Password</h1>
<form [formGroup]="resetPasswordForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()" role="form">
    <div class="row mb-3 mb-2">
        <div class="col">
            <label for="password">OTP</label>
            <input type="password" class="form-control" formControlName="otp"
                [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }">
            <app-validation-error [control]="f['otp']"></app-validation-error>
        </div>
    </div>
    <div class="row mb-3 mb-2">
        <div class="col">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
            <app-validation-error [control]="f['email']"></app-validation-error>
        </div>
    </div>
    <div class="row mb-3 mb-2">
        <div class="col">
            <label for="password">New Password</label>
            <input type="password" class="form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <small id="passwordHelp" class="form-text text-muted">Password must be 8-16 characters long including at
                least 1 lowercase, 1 uppercase letter & 1 number.</small>
            <app-validation-error [control]="f['password']"></app-validation-error>
        </div>
    </div>
    <div class="row mb-3 mb-2">
        <div class="col">
            <label for="password">Confirm New Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
            <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div class="my-3">Click <a routerLink="../login">here</a> to go to Login page</div>
</form>