<h1>Change Workflow Approvers</h1>
<div *ngIf="!currentApprovers?.id" class="alert alert-info my-4">
    {{message}}
</div>
<div class="table-responsive my-4">

    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <th scope="row">
                    L1 Workflow Approver
                </th>
                <td>
                    <div *ngIf="currentApprovers?.id">
                        {{currentApprovers?.supervisor_name}}
                    </div>
                    <div class="small">{{currentApprovers?.supervisor_email}}</div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    L2 Workflow Approver
                </th>
                <td>
                    <div *ngIf="currentApprovers?.id">
                        {{currentApprovers?.director_name}}
                        <div class="small">{{currentApprovers?.director_email}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    HR Approver
                </th>
                <td>
                    <div *ngIf="currentApprovers?.id">
                        {{currentApprovers?.hr_name}}
                        <div class="small">{{currentApprovers?.hr_email}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Finance Approver
                </th>
                <td>
                    <div *ngIf="currentApprovers?.id">
                        {{currentApprovers?.finance_name}}
                        <div class="small">{{currentApprovers?.finance_email}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<app-search-input (inputValue)="getSearchInputVal($event)"
    [placeHolderText]="'Search Name/Email...'"></app-search-input>

<div class="my-4" *ngIf="totalRecords>0">
    <strong>Note:</strong> You need get in touch with your local HR/Admin to set the appropriate staff as your approvers.
</div>
<div class="table-responsive my-4" *ngIf="totalRecords>0">
    <table class="table">
        <tbody>
            <tr *ngFor="let user of data">
                <td>
                    <div class="">{{user?.user_full_name}}</div>
                    <div class="text-muted small">{{user?.user_email}}</div>
                    <div class="text-muted small">{{user?.designation_name}}</div>
                </td>
                <td>
                    <select class="form-select" (change)="setApprover($event, user)" style="width: 160px;">
                        <option value="">Set as</option>
                        <option value="L1">L1 Workflow Approver</option>
                        <option value="L2">L2 Workflow Approver</option>
                        <option value="HR">HR Approver</option>
                        <option value="FIN">Finance Approver</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <p-paginator *ngIf="totalRecords>0" [rows]="itemPerPage" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="itemPerPageDropdown" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="my-4"
        (onPageChange)="paginate($event)"></p-paginator>
</div>