<h1>Change Tagged User</h1>

<div class="table-responsive my-4">
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Current Approvers</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    Manager (L2)
                </th>
                <td>
                    <div>{{currentApprovers?.director_firstname}} {{currentApprovers?.director_lastname}}</div>
                    <div class="small text-muted">{{currentApprovers?.director_email}}</div>
                    <div class="small text-muted">Emp ID {{currentApprovers?.director_emp_id}}</div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Supervisor (L1)
                </th>
                <td>
                    <div>{{currentApprovers?.supervisor_firstname}} {{currentApprovers?.supervisor_lastname}}</div>
                    <div class="small text-muted">{{currentApprovers?.supervisor_email}}</div>
                    <div class="small text-muted">Emp ID {{currentApprovers?.supervisor_emp_id}}</div>
                </td>
            </tr>
            <!-- <tr>
                <th scope="row">
                    Finance
                </th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">
                    HR
                </th>
                <td>Mark</td>
            </tr> -->
        </tbody>
    </table>
</div>



<app-search-input (inputValue)="getSearchInputVal($event)"
    [placeHolderText]="'Search by employee name/id...'"></app-search-input>

<div class="table-responsive my-2">
    <table class="table">
        <tbody>
            <tr *ngFor="let user of data">
                <td>
                    <div class="">{{user?.user_firstname}} {{user?.user_lastname}}</div>
                    <div class="text-muted small">{{user?.designation_name}} | Emp ID {{user?.user_emp_id}}</div>

                </td>
                <td>
                    <button class="btn btn-sm btn-outline-secondary me-2">Set L1 Approver</button>
                    <button class="btn btn-sm btn-outline-secondary">Set L2 Approver</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>