<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="input-group mb-3 search-input-box">
    <input name="searchText" ngModel [value]="value" type="text" class="form-control"
      [placeholder]="placeHolderText" #searchInput>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <app-icon [name]="'search'"></app-icon>
      </button>
    </div>
  </div>
  <!-- <div *ngIf="f.submitted || f.touched && f.dirty">
    <div class="my-1 py-2 alert alert-danger" *ngIf="f.controls['searchText'].hasError('required')">
      <app-icon class="me-2" [name]="'exclamation-circle'"></app-icon>
      <span [innerHTML]="'This field is required'"></span>
    </div>    
  </div> -->
</form>