<h1 class="mb-3">Template Driven Form</h1>

<div class="row example">
    <div class="col-md-7">
        <form (ngSubmit)="addUser(formAddUser)" #formAddUser="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="text" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="First Name" required minlength="2" maxlength="15" #ref_firstName="ngModel" #fname>
                    <small>{{fname.className}}</small>
                    <div *ngIf="ref_firstName.invalid && (ref_firstName.dirty || ref_firstName.touched || formSubmitted)" class="validation-error text-danger">
                        <div *ngIf="ref_firstName.errors.required">The field is required.</div>
                        <div *ngIf="ref_firstName.errors.minlength">The field must be at least 2 characters long.</div>
                        <div *ngIf="ref_firstName.errors.maxlength">The field must be at least 15 characters long.</div>
                    </div>
                </div>


                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control" placeholder="Last Name" required minlength="2" maxlength="15" #ref_lastName="ngModel">
                    <div *ngIf="ref_lastName.invalid && (ref_lastName.dirty || ref_lastName.touched || formSubmitted)" class="validation-error text-danger">
                        <div *ngIf="ref_lastName.errors.required">The field is required.</div>
                        <div *ngIf="ref_lastName.errors.minlength">The field must be at least 2 characters long.</div>
                        <div *ngIf="ref_lastName.errors.maxlength">The field must be at least 15 characters long.</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email Address</label>
                    <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email Address" required #ref_email="ngModel">
                    <div *ngIf="ref_email.invalid && (ref_email.dirty || ref_email.touched || formSubmitted)" class="validation-error text-danger">
                        <div *ngIf="ref_email.errors.required">The field is required.</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" placeholder="10-Digit Mobile Number" required minlength="10" maxlength="10">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    <select name="city" [(ngModel)]="city" class="form-control">
                      <option *ngFor="let city of cities" value="{{city.value}}">{{city.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <div class="form-check-inline" *ngFor="let g of genders">
                        <input type="radio" name="gender" value="{{g.value}}" [(ngModel)]="gender" class="form-check-input" id="{{g.value}}">
                        <label class="form-check-label" for="{{g.value}}">{{g.name}}</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Skills</label>
                    <div class="form-check-inline" *ngFor="let skill of skillsets; let i = index;">
                        <input type="checkbox" name="skill[{{skill.value}}]" value="{{skill.value}}" [(ngModel)]="skill[i]" class="form-check-input" id="{{skill.value}}">
                        <label class="form-check-label" for="{{skill.value}}">{{skill.name}}</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input type="checkbox" name="termsAccepted" value="a" [(ngModel)]="termsAccepted" class="form-check-input" id="terms">
                        <label class="form-check-label" for="terms">I have read terms & conditions</label>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

















    <div class="col-md-5">
        <p>Form Value = {{formAddUser.value | json}}</p>
        <p>Form Submitted = {{formSubmitted}}</p>
        <p>Form Invalid = <span [className]="formAddUser.invalid ? 'font-weight-bold text-danger' : 'font-weight-bold text-success'">{{formAddUser.invalid}}</span></p>
        <p>User Model = {{model|json}}</p>
    </div>