<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div fxLayoutAlign="center">
        <img style="width: 130px;" src="/assets/img/angular.png" alt="logo" />
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <h2 style="margin-top:20px" class="my-primary-text">CRM App</h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div class="text-center"><img src="assets/img/3.jpg" alt="sign in image" /></div>
      </div>
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>Welcome to the CRM App</h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <h4>Please sign in below</h4>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <form class="form-container">
            <div fxLayout="row">
              <mat-form-field class="full-width">
                <input matInput placeholder="Enter username">
              </mat-form-field>
            </div>

            <div fxLayout="row">
              <mat-form-field class="full-width">
                <input matInput placeholder="Enter password">
              </mat-form-field>
            </div>

            <div fxLayout="row">
              <button mat-raised-button color="primary">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>