<div class="row">
  <div class="col-md-7 text-center">
    <img style="width: 130px;" src="/assets/img/angular.png" alt="logo" />
    <h2>CRM App</h2>
    <div class="text-center"><img class="img-fluid" src="assets/img/3.jpg" alt="sign in image" /></div>
  </div>
  <div class="col-md-5 justify-content-center">
    <h1>Welcome to the CRM App</h1>
    <h4>Please sign in to continue...</h4>
    
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-row mb-2">
          <div class="col">
              <label for="userName">Username / Email</label>
              <input type="text" class="form-control" id="userName" formControlName="userName">
              <app-validation-error [control]="myForm.controls['userName']"></app-validation-error>
          </div>
      </div>

      <div class="form-row mb-2">
          <div class="col">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <app-validation-error [control]="myForm.controls['password']"></app-validation-error>
          </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    

  </div>
</div>