<h1 class="page-title"><span>{{title}}</span> Project</h1>
<div class="back-to-page mb-3">
    <a [routerLink]="['/project/manage-project']"><app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Form</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
                            <input type="hidden" formControlName="id">
                            <input type="hidden" formControlName="action">
                            <div class="mb-3">
                                <label class="required" for="projectName">Project Name</label>
                                <input type="text" class="form-control" id="projectName" formControlName="projectName">
                                <app-validation-error [control]="myForm.controls['projectName']"></app-validation-error>
                            </div>
                            <div class="mb-3">
                                <label class="required" for="category">Project Category</label>
                                <!-- <input type="text" class="form-control" id="category" maxlength="16"
                                    formControlName="category"> -->
                                <select class="form-control" formControlName="category" (change)="setProjectCode()">
                                    <option value="">-</option>
                                    <option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.name}}</option>
                                </select>
                                <app-validation-error [control]="myForm.controls['category']"></app-validation-error>
                            </div>
                            <div class="mb-3">
                                <label class="required" for="commencementYear">Commencement Year</label>
                                <input type="number" min="2014" max="2099" step="1" class="form-control"
                                    id="commencementYear" maxlength="4" formControlName="commencementYear"
                                    (blur)="setProjectCode()">
                                <app-validation-error
                                    [control]="myForm.controls['commencementYear']"></app-validation-error>
                            </div>
                            <div class="mb-3">
                                <label class="required" for="refNumber">Reference Number</label>
                                <input type="text" class="form-control" id="refNumber" maxlength="4"
                                    formControlName="refNumber" (blur)="setProjectCode()">
                                <app-validation-error [control]="myForm.controls['refNumber']"></app-validation-error>
                            </div>

                            <div class="mb-3">
                                <label class="required" for="projectCode">Project Code</label>
                                <input type="text" class="form-control" id="projectCode" maxlength="16"
                                    formControlName="projectCode" [readOnly]="!editProjectCode">
                                <div class="small" *ngIf="!editProjectCode">This code is auto generated based on your input. Do you want to edit it? <a class="btn btn-sm btn-link py-0" (click)="editProjectCode = true">Edit code</a></div>
                                <app-validation-error [control]="myForm.controls['projectCode']"></app-validation-error>
                            </div>

                            <div class="mb-3">
                                <label class="required" for="startDate">Start Date</label>
                                <p-calendar dateFormat="dd/mm/yy" formControlName="startDate" [readonlyInput]="true"
                                    inputId="startDate" styleClass="w-100" [showButtonBar]="false" [showIcon]="true"
                                    appendTo="body"></p-calendar>
                                <app-validation-error [control]="myForm.controls['startDate']"></app-validation-error>
                            </div>
                            <div class="mb-3">
                                <label class="" for="endDate">End Date</label>
                                <p-calendar dateFormat="dd/mm/yy" formControlName="endDate" [readonlyInput]="true"
                                    inputId="endDate" styleClass="w-100" [showButtonBar]="false" [showIcon]="true"
                                    appendTo="body"></p-calendar>
                                <app-validation-error [control]="myForm.controls['endDate']"></app-validation-error>
                            </div>
                            <div class="mb-3">
                                <label class="optional" for="description">Description</label>
                                <textarea class="form-control" id="description" formControlName="description"
                                    maxlength="150"></textarea>
                                <app-validation-error [control]="myForm.controls['description']"></app-validation-error>
                            </div>

                            <div class="mb-3">
                                <label class="required" for="status">Status</label>
                                <div>
                                    <div class="form-check form-check-inline"
                                        *ngFor="let data of DataStatus; let i=index">
                                        <input class="form-check-input" type="radio" id="inlineRadio_{{i}}"
                                            value="{{data.id}}" formControlName="status">
                                        <label class="form-check-label" for="inlineRadio_{{i}}">{{data.name}}</label>
                                    </div>
                                </div>
                                <app-validation-error [control]="myForm.controls['status']"></app-validation-error>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div> <!--/.card-body-->
        </div> <!--/.card-->
    </div>
</div>