<!-- <button class="btn btn-link nav-link mt-auto  px-2 dropdown-toggle d-flex align-items-center" id="app-theme" type="button"
  aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
  <app-icon *ngIf="theme === 'light' " [name]="'brightness-high-fill'" [width]="20" [height]="20"
    class="me-2"></app-icon>
  <app-icon *ngIf="theme === 'dark' " [name]="'moon-stars-fill'" [width]="20" [height]="20" class="me-2"></app-icon>
  <app-icon *ngIf="theme === 'auto' " [name]="'circle-half'" [width]="20" [height]="20" class="me-2"></app-icon>
</button>


<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="app-theme" style="--bs-dropdown-min-width: 8rem;">
  <li (click)="changeTheme('light')">
    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
      [ngClass]="theme==='light' ? 'active': ''"><app-icon [name]="'brightness-high-fill'" [width]="20" [height]="20"
        class="me-2"></app-icon> Light</button>
  </li>
  <li (click)="changeTheme('dark')">
    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
      [ngClass]="theme==='dark' ? 'active': ''"><app-icon [name]="'moon-stars-fill'" [width]="20" [height]="20"
        class="me-2"></app-icon> Dark</button>
  </li>
  <li (click)="changeTheme('auto')">
    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
      [ngClass]="theme==='auto' ? 'active': ''"><app-icon [name]="'circle-half'" [width]="20" [height]="20"
        class="me-2"></app-icon> Auto</button>
  </li>
</ul> -->


<button (click)="toggleTheme()" class="btn btn-link nav-link mt-auto d-flex align-items-center" id="app-theme" type="button" [title]="theme === 'dark' ? 'Switch to light mode' : 'Switch to dark mode' ">
  <app-icon *ngIf="theme === 'dark' " [name]="'brightness-high-fill'" [width]="20" [height]="20"></app-icon>
  <app-icon *ngIf="theme === 'light' " [name]="'moon-stars-fill'" [width]="20" [height]="20"></app-icon>
</button>