<nav aria-label="breadcrumb">
    <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" [routerLinkActive]="['active-nav-link']">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol> -->
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" [routerLinkActive]="['active-nav-link']">Home</a></li> -->
        <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
          <a [routerLink]="breadcrumb.url" [routerLinkActive]="['active-nav-link']">{{ breadcrumb.label }}</a>
        </li>
      </ol>
</nav>