<div class="row">
  <div class="col-md-12">
    <h1>Users</h1>
    <h5>Reactive Form/Model Driven Form</h5>

    <form class="form-inline" [formGroup]="saveUserForm" novalidate (ngSubmit)="saveUserData(saveUserForm.value, saveUserForm.valid)">

      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Name">

        <div *ngIf="((submitted) && (saveUserForm.controls.name.hasError('required')))" class="text-danger">The name field is required.</div>
        <div *ngIf="((submitted) && (saveUserForm.controls.name.hasError('minlength')))" class="text-danger">The name must be at least 5 characters long.</div>
        <div *ngIf="((submitted) && (saveUserForm.controls.name.hasError('maxlength')))" class="text-danger">The name cannot exceed 10 characters.</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
        <!--<small [hidden]="saveUserForm.controls.email.valid || (saveUserForm.controls.email.pristine && !submitted)" class="text-danger">
            Please enter a valid email.
        </small>-->
        <div *ngIf="((submitted) && (saveUserForm.controls.email.hasError('required')))" class="text-danger">The email field is required.</div>
        <div *ngIf="((submitted) && (saveUserForm.controls.email.hasError('isInvalidEmail')))" class="text-danger">Please enter a valid email.</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList; let i = index">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><a herf="" class="btn btn-primary btn-sm" on-click="showDetails($event)">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>