<h1> <span>{{title}}</span> Post</h1>
<div class="back-to-page mt-1 mb-4">
    <a [routerLink]="['/cms']"><app-icon class="me-2" [name]="'chevron-left'"></app-icon> Go back to Manage Content </a>
</div>
<div class="row">
    <div class="col-12">
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="action">

            <div class="row mb-3">
                <div class="col-md-4 mb-3">
                    <label class="required" for="contentCategory">Post Type</label>
                    <select class="form-select" id="contentCategory" formControlName="contentCategory">
                        <option value="">Select</option>
                        <option value="{{data.id}}" *ngFor="let data of contentCategoryList; let i=index">{{data.name}}</option>
                    </select>
                    <app-validation-error [control]="myForm.controls['contentCategory']"></app-validation-error>
                </div>

                <div class="col-md-4 mb-3" *ngIf="!showEditor">
                    <label class="required d-block" for="contentDescription">Holiday Date</label>
                    <p-calendar styleClass="w-100" formControlName="contentDescription" [readonlyInput]="true" inputId="contentDescription" [showButtonBar]="false" [showIcon]="true"></p-calendar>
                    <app-validation-error [control]="myForm.controls['contentDescription']"></app-validation-error>
                </div>

                <div class="mb-3" [ngClass]="showEditor ? 'col-md-8': 'col-md-4'">
                    <label class="required" for="contentHeadline" *ngIf="showEditor">Title</label>
                    <label class="required" for="contentHeadline" *ngIf="!showEditor">Occasion</label>
                    <input type="text" class="form-control" id="contentHeadline" formControlName="contentHeadline" maxlength="180">
                    <app-validation-error [control]="myForm.controls['contentHeadline']"></app-validation-error>
                </div>
            </div>

            <div class="row" *ngIf="showEditor">
                <div class="col-md-12 mb-3">
                    <label class="required" for="contentDescription">Description</label>
                    <div class="small mb-3">Note: Advanced features such as image upload, stylish fonts are turned off for web security purpose.</div>
                    <p-editor formControlName="contentDescription" [style]="{'height':'320px'}"></p-editor>
                    <app-validation-error [control]="myForm.controls['contentDescription']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="required me-4" for="contentStatus">Visibility Status</label>
                    <div class="form-check form-check-inline" *ngFor="let data of dataStatus; let i=index">
                        <input class="form-check-input" type="radio" id="inlineRadio_{{i}}" value="{{data.id}}"
                            formControlName="contentStatus">
                        <label class="form-check-label" for="inlineRadio_{{i}}">{{data.name}}</label>
                    </div>
                    <app-validation-error [control]="myForm.controls['contentStatus']"></app-validation-error>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="loading"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> Submit</button>
        </form>
        <!-- <p class="debug">Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
        <p class="debug">{{myForm.value|json}}</p> -->
    </div>
</div>
