<h1 class="page-title"> <span>{{title}}</span> Post</h1>
<div class="back-to-page mb-3">
    <a [routerLink]="['/cms/manage-cms']"><app-icon [name]="'chevronLeft'" [styleClass]=""></app-icon>Back</a>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Form</div>

            <div class="card-body">
                <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
                    <input type="hidden" formControlName="id">
                    <input type="hidden" formControlName="action">

                    <div class="row mb-3">
                        <div class="col-md-4 mb-3">
                            <label class="required" for="contentCategory">Post Type</label>
                            <select class="form-select" id="contentCategory" formControlName="contentCategory">
                                <option value="">Select</option>
                                <option value="{{data.id}}" *ngFor="let data of contentCategoryList; let i=index">
                                    {{data.name}}
                                </option>
                            </select>
                            <app-validation-error [control]="myForm.controls['contentCategory']"></app-validation-error>
                        </div>

                        <div class="col-md-4 mb-3" *ngIf="!showEditor">
                            <label class="required d-block" for="contentDescription">Holiday Date</label>
                            <p-calendar dateFormat="dd/mm/yy" styleClass="w-100" formControlName="contentDescription"
                                [readonlyInput]="true" inputId="contentDescription" [showButtonBar]="false"
                                [showIcon]="true" [iconDisplay]="'input'"></p-calendar>
                            <app-validation-error
                                [control]="myForm.controls['contentDescription']"></app-validation-error>
                        </div>

                        <div class="mb-3" [ngClass]="showEditor ? 'col-md-8': 'col-md-4'">
                            <label class="required" for="contentHeadline" *ngIf="showEditor">Title</label>
                            <label class="required" for="contentHeadline" *ngIf="!showEditor">Occasion</label>
                            <input type="text" class="form-control" id="contentHeadline"
                                formControlName="contentHeadline" maxlength="180">
                            <app-validation-error [control]="myForm.controls['contentHeadline']"></app-validation-error>
                        </div>
                    </div>

                    <div class="row" *ngIf="showEditor">
                        <div class="col-md-12 mb-3">
                            <label class="required" for="contentDescription">Description</label>
                            <div class="small mb-3">Note: If you copy & paste contents here kindly make it proper format
                                using editors toolbar. If you switch dark/light theme from this page it's suggedted to
                                reload the page.</div>
                            <!-- <p-editor formControlName="contentDescription" [style]="{'height':'320px'}"></p-editor> -->
                            <editor formControlName="contentDescription"
                                apiKey="1gblzpsgxtmljz50bmumyxiac8kurph70jxedvr39as8nee9" [init]="{
                                height: 500,
                                plugins: [
                                   'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                                  'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                                  'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
                                ],
                                content_style: contentStyle,
                                toolbar:
                                 'undo redo | casechange blocks | bold italic backcolor | \
                                 alignleft aligncenter alignright alignjustify | \
                                 bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
                              }"></editor>
                            <app-validation-error
                                [control]="myForm.controls['contentDescription']"></app-validation-error>
                        </div>




                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="required me-4" for="contentStatus">Visibility Status</label>
                            <div class="form-check form-check-inline" *ngFor="let data of dataStatus; let i=index">
                                <input class="form-check-input" type="radio" id="inlineRadio_{{i}}" value="{{data.id}}"
                                    formControlName="contentStatus">
                                <label class="form-check-label" for="inlineRadio_{{i}}">{{data.name}}</label>
                            </div>
                            <app-validation-error [control]="myForm.controls['contentStatus']"></app-validation-error>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="sendEmail" id="defaultCheck4"
                                    formControlName="sendEmailNotification">
                                <label class="form-check-label" for="defaultCheck4">
                                    Send email notification.
                                    <span *ngIf="emailNotifyDistro">Email notification will be sent to <span
                                            class="fw-bold">{{emailNotifyDistro}}</span></span>
                                    <span *ngIf="!emailNotifyDistro">Email notification will be sent to individuals
                                        email ID which might take time longer than expecetd. Its suggested to add an
                                        email distribution list from settings.</span>
                                </label>
                            </div>
                            <app-validation-error
                                [control]="myForm.controls['sendEmailNotification']"></app-validation-error>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="loading"><span *ngIf="loading"
                            class="spinner-border spinner-border-sm me-1"></span> Submit</button>
                </form>
                <!-- <p class="debug">Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
                <p class="debug">{{myForm.value|json}}</p> -->
            </div>
        </div>
    </div>
</div>