<h5>Forgot Password?</h5>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" role="form">
    <div class="form-row mb-2">
        <div class="col">
            <label for="email">Please enter your Registered Email</label>
            <input type="text" class="form-control" name="email" ngModel required [ngClass]="{ 'is-invalid': (f.submitted || f.touched && f.dirty) && f.controls['email'].errors }">
            <!-- <app-validation-error [control]="fpForm.controls['userName']"></app-validation-error> -->
            <div *ngIf="f.submitted || f.touched && f.dirty" class="invalid-feedback d-block">
            <div *ngIf="f.controls['email'].hasError('required')">This field is required</div>
            <div *ngIf="f.controls['email'].hasError('invalidEmailFormat')">Please enter a valid email address</div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Send OTP</button>
    <div class="mt-3">Click <a routerLink="../login" class="my-3">here</a> to go to Login page</div>
</form>