<h1>Forgot Password</h1>
<p>Please enter your Registered Email</p>
<form [formGroup]="fpForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()" role="form">
  <div class="row mb-3">
    <div class="col">      
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><app-icon [name]="'email'" [styleClass]="'f-20'"></app-icon></span>
          <input type="text" class="form-control" placeholder="Email" aria-label="email"
            aria-describedby="basic-addon1" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
        </div>
      <input type="hidden" class="form-control" formControlName="action">
      <app-validation-error [control]="f['email']"></app-validation-error>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary px-4" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Send OTP
      </button>
    </div>
    <div class="col-md-6"><a class="btn btn-link px-0" routerLink="../login">Go back to login page</a></div>
  </div>
</form>
