<h1>Forgot Password</h1>
<form [formGroup]="fpForm" class="app-form unauth-form-max-w" (ngSubmit)="onSubmit()" role="form">
  <div class="row mb-3 mb-2">
    <div class="col">
      <label for="email">Please enter your Registered Email</label>
      <input type="text" id="email" class="form-control" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
      <input type="hidden" class="form-control" formControlName="action">
      <app-validation-error [control]="f['email']"></app-validation-error>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
      Send OTP
    </button>
  </div>

  <div class="my-3">Click <a routerLink="../login">here</a> to go to Login page</div>
</form>
