<h1><span>{{title}}</span> Payroll Information</h1>
<div class="small text-muted bg-light p-4 mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4">
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="action">
            <h5>Govt ID</h5>
            <div class="mb-3">
                <label class="optional" for="panNo">PAN No</label>
                <input type="text" class="form-control" id="panNo" formControlName="panNo">
                <app-validation-error [control]="myForm.controls['panNo']"></app-validation-error>
            </div>

            <div class="mb-3">
                <label class="optional" for="uanNo">UAN No</label>
                <input type="text" class="form-control" id="uanNo" formControlName="uanNo">
                <app-validation-error [control]="myForm.controls['uanNo']"></app-validation-error>
            </div>

            <h5>Salary Account</h5>
            <div class="mb-3">
                <label class="required" for="accountNo">Account No</label>
                <input type="text" class="form-control" id="accountNo" formControlName="accountNo">
                <app-validation-error [control]="myForm.controls['accountNo']"></app-validation-error>
            </div>

            <div class="mb-3">
                <label class="required" for="confirmAccountNo">Confirm Account No</label>
                <input type="text" class="form-control" id="confirmAccountNo" formControlName="confirmAccountNo">
                <app-validation-error [control]="myForm.controls['confirmAccountNo']"></app-validation-error>
            </div>

            <div class="mb-3">
                <label class="required" for="bank">Select Bank</label>
                <select class="form-select" id="bank" formControlName="bank">
                    <option value="">-</option>
                    <option [value]="data.id" *ngFor="let data of bankList; let i=index" [innerHTML]="data.name"></option>
                </select>
                <app-validation-error [control]="myForm.controls['bank']"></app-validation-error>
            </div>

            <div class="mb-3">
                <label class="required" for="ifscCode">IFSC Code</label>
                <input type="text" class="form-control" id="ifscCode" formControlName="ifscCode">
                <app-validation-error [control]="myForm.controls['ifscCode']"></app-validation-error>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a role="button" [routerLink]="['/user/profile']" class="btn btn-light">Cancel</a>
        </form>
        <p class="debug">Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
        <p class="debug">{{myForm.value|json}}</p>
    </div>
</div>