<h1>i18n Example</h1>

<select (change)="languageSwitch($event)">
    <option value="">Language</option>
    <option *ngFor="let lang of availableLanguageList" [value]="lang" [selected]="lang == selectedLang">{{lang}}</option>
</select>

<p>{{ 'welcomeMessage' | translate: user }}</p>

<!-- <label>{{ 'login.username' | translate: user }}</label> -->

<label translate="login.username"></label>
<input type="text" class="form-control">
<br>
<label translate='login.password'></label>
<input type="password" class="form-control">