<h1>Manage Projects</h1>
 <div class="table-responsive">
  <table class="table table-sm">
      <thead>
          <tr>
              <th scope="col" style="width: 25%;">Name</th>
              <th scope="col" style="width: 10%;">Start Date</th>
              <th scope="col" style="width: 10%;">End Date</th>
              <th scope="col" style="width: 30%;">Descr</th>
              <th scope="col" style="width: 10%;">Status</th>
              <th scope="col" style="width: 15%;">Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of dataRow; let i = index">
              <td>{{data?.project_name}} ({{data?.project_number}})</td>
              <td>{{data?.project_start_date}}</td>
              <td>{{data?.project_end_date}}</td>
              <td>{{data?.project_desc}}</td>
              <td>{{data?.project_status}}</td>
              <td>
                <button class="btn btn-outline-secondary btn-sm">Edit</button>
                <button class="btn btn-outline-danger btn-sm ml-1">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>