<ng-container *ngIf="post.length > 0">
    <app-search-input (inputValue)="getSearchInputVal($event)" [resetInput]="resetSearchInput"
        [placeHolderText]="'Search...'"></app-search-input>
    <div class="mb-3" *ngFor="let item of post; let i = index;">
        <a class="post-item" [routerLink]="['post-details', item.id]" [state]="{ newsPageNumber: currentPageIndex }"
            [innerHTML]="item?.content_title"></a>
        <!-- <span class="badge rounded-pill mx-2 badge-cms-type">{{item?.content_type}}</span> -->
        <span class="text-muted small ms-2" [innerHTML]="getTimeStampInfo(item)"></span>
    </div>
    <p-paginator [rows]="itemPerPage" [first]="first" [totalRecords]="totalRecords" [rowsPerPageOptions]="itemPerPageDropdown"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="my-4" (onPageChange)="paginate($event)"></p-paginator>

</ng-container>
<ng-container *ngIf="post.length === 0">
    <p>There are not latest post for you!</p>
</ng-container>