<h5>Please sign in to continue</h5>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-row mb-2">
        <div class="col">
            <label for="userName">Username</label>
            <input type="text" class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }">
            <app-validation-error [submitted]="submitted" [control]="f['userName']"></app-validation-error>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <app-validation-error [submitted]="submitted" [control]="f['password']"></app-validation-error>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sign In
    </button>
    <div class="mt-3"><a routerLink="../forgot-password" class="my-3">Forgot Password?</a></div>
</form>