<h1 class="h3 mb-3 font-weight-normal">Child Component</h1>
<div style="background-color:#eee; border: 1px solid #999; padding: 10px;">
    <div class="font-weight-bold">1) Values received from parent component</div>
    <div>Department : {{department}}</div>
    <div>City : {{mycity}}</div>


    <div class="font-weight-bold">2) Parent listens for child event</div>
    <button (click)="IsUserAgreed(true)" class="btn btn-sm btn-primary">Agree</button>
    <button (click)="IsUserAgreed(false)" class="btn btn-sm btn-bark">Disagree</button>
    <div>User Agreed ? <span class="badge badge-primary">{{userAgreed}}</span></div>


    <div class="font-weight-bold">3) Parent can interact with child via local variable</div>
    <div>Clicked from parent <span class="badge badge-dark">{{clickedFromParent}}</span> times</div>

    <div class="font-weight-bold">4) Parent Comp should read/write child method using @ViewChild</div>
    <div>{{result}}</div>

    <div class="font-weight-bold">5) Parent and children communicate via a service</div>
    <div>{{orders}}</div>

</div>