<div class="card">
    <div class="card-header text-bold">
        <app-icon class="me-2" [name]="'app-indicator'"></app-icon>
        Organizational News
    </div>
    <div class="card-body">
        <h4 [innerHTML]="news?.content_title"></h4>
        <div class="text-muted small my-2" [innerHTML]="getTimeStampInfo(news)"></div>
        <div [innerHTML]="news?.content_text"></div>
    </div>
</div>

<a [routerLink]="['/dashboard']" [state]="{ newsPageNumber: paginationPageNumber }" class="btn btn-link my-4"><app-icon class="me-2" [name]="'arrow-left'"></app-icon> Back to Dashboard</a>