<div class="row justify-content-center text-center">
  <div class="col-xs-12 col-md-4">
    <form class="form-signin">
      <img class="mb-4" src="assets/img/logo-nav@2x.png" alt="" class="logo">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">User ID</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="User ID" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    </form>
  </div>
</div>