<app-header></app-header>
<section data-area="marquee" class="row">
    <div class="col-md-12">
        <ng-template #marquee></ng-template>
    </div>
</section>
<section data-area="hero" class="row">
    <div class="col-md-12">
        <ng-template #hero></ng-template>
    </div>
</section>
<section class="row">
    <section data-area="main" class="col-sm-12 col-md-9">
        <ng-template #main></ng-template>
    </section>
    <section data-area="utility" class="col-sm-12 col-md-3">
        <ng-template #utility></ng-template>
    </section>
</section>
<app-footer></app-footer>