<h1>Edit Basic Information</h1>
<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4">
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="action">
            <div class="form-group">
                <label class="required" for="personalEmail">Personal Email</label>
                <input type="text" class="form-control" id="personalEmail" formControlName="personalEmail">
                <app-validation-error [control]="myForm.controls['personalEmail']"></app-validation-error>
            </div>

            <div class="form-group">
                <label class="required" for="personalPhone">Personal Phone</label>
                <input type="text" class="form-control" id="personalPhone" formControlName="personalPhone"
                    maxlength="10">
                <app-validation-error [control]="myForm.controls['personalPhone']"></app-validation-error>
            </div>

            <div class="form-group">
                <label class="required" for="workPhone">Personal Phone</label>
                <input type="text" class="form-control" id="workPhone" formControlName="workPhone"
                    maxlength="10">
                <app-validation-error [control]="myForm.controls['workPhone']"></app-validation-error>
            </div>

            <div class="form-group">
                <label class="required" for="bloodGroup">Blood Group</label>
                <select class="form-control" id="bloodGroup" formControlName="bloodGroup">
                    <option value="{{data.id}}" *ngFor="let data of bloodGroupList; let i=index">{{data.name}}
                    </option>
                </select>
                <app-validation-error [control]="myForm.controls['bloodGroup']"></app-validation-error>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a [routerLink]="['/user/profile']" class="btn btn-light mr-auto">Cancel</a>
        </form>
        <p class="debug">Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
        <p class="debug">{{myForm.value|json}}</p>
    </div>
</div>