<h1>App Demo</h1>
<div class="row my-4" #calHolder>
    <div class="col-md-12">
        <p-table #dt [value]="dataRow" dataKey="id" [rowHover]="true" styleClass="p-datatable-sm ">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    Search Leave Requests
                    <form [formGroup]="searchForm" class="form app-form my-2" (ngSubmit)="onSubmit()">
                        <input type="hidden" value="search" formControlName="action">
                        <div class="row">
                            <div class="col-md-3">
                                <p-calendar formControlName="fromDate" [readonlyInput]="true" placeholder="From Date"
                                    inputId="fromDate" styleClass="w-100" [showButtonBar]="true"
                                    [showIcon]="true" appendTo="calHolder" [panelStyleClass]="'datetimepicker'"></p-calendar>
                                <app-validation-error [control]="searchForm.controls['fromDate']"></app-validation-error>
                            </div>
                            <div class="col-md-3">
                                <p-calendar formControlName="toDate" [readonlyInput]="true" placeholder="To Date"
                                    inputId="toDate" styleClass="w-100" [showButtonBar]="true"
                                    [showIcon]="true" appendTo="calHolder" [panelStyleClass]="'datetimepicker'"></p-calendar>
                                <app-validation-error [control]="searchForm.controls['toDate']"></app-validation-error>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select" formControlName="leaveStatus">
                                    <option value="">Select Status</option>
                                    <option *ngFor="let s of leaveStatus" [value]="s.value" [innerHTML]="s.text"></option>
                                </select>
                                <app-validation-error [control]="searchForm.controls['leaveStatus']"></app-validation-error>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" [disabled]="loading"><span *ngIf="loading"
                                        class="spinner-border spinner-border-sm me-1"></span> Submit</button>
                            </div>
                        </div>
                    </form>
                    {{searchForm.status}}
                    {{searchForm.value | json}}
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th style="width: 10rem" pSortableColumn="leave_req_id">
                        <div class="flex justify-content-between align-items-center">
                            Application #
                            <p-sortIcon field="leave_req_id"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 15rem" pSortableColumn="user_id">
                        <div class="flex justify-content-between align-items-center">
                            Applicant
                            <p-sortIcon field="user_id"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 25rem" pSortableColumn="leave_from_date">
                        <div class="flex justify-content-between align-items-center">
                            Leave Period
                            <p-sortIcon field="leave_from_date"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="leave_type">
                        <div class="flex justify-content-between align-items-center">
                            Type
                            <p-sortIcon field="leave_type"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 15rem" pSortableColumn="supervisor_approver_id">
                        <div class="flex justify-content-between align-items-center">
                            L1 Approver
                            <p-sortIcon field="supervisor_approver_id"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 15rem" pSortableColumn="director_approver_id">
                        <div class="flex justify-content-between align-items-center">
                            L2 Approver
                            <p-sortIcon field="director_approver_id"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="leave_status">
                        <div class="flex justify-content-between align-items-center">
                            Final Status
                            <p-sortIcon field="leave_status"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width: 3rem">
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                <tr class="p-selectable-row">
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="rowData"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>
                        <span class="p-column-title">Applicatio No</span>
                        {{rowData?.leave_req_id}}
                    </td>
                    <td>
                        <span class="p-column-title">Applicant</span>
                        {{rowData?.user_firstname}} {{rowData?.user_lastname}}
                    </td>
                    <td>
                        <span class="p-column-title">Leave Period</span>
                        {{rowData?.leave_from_date}} - {{rowData?.leave_to_date}}
                    </td>
                    <td>
                        <span class="p-column-title">Type</span>
                        {{rowData?.leave_type}}
                    </td>
                    <td>
                        <span class="p-column-title">L1 Approver</span>
                        {{rowData?.supervisor_approver_firstname}} {{rowData?.supervisor_approver_lastname}}
                    </td>
                    <td>
                        <span class="p-column-title">L2 Approver</span>
                        {{rowData?.director_approver_firstname}} {{rowData?.director_approver_lastname}}
                    </td>
                    
                    <td>
                        <span class="p-column-title">Status</span>
                        {{rowData?.leave_status}}
                    </td>

                    <td>
                        <button pButton pRipple type="button" icon="pi pi-info-circle"
                            class="me-2 p-button-rounded p-button-text p-button-secondary"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData>
                <tr>
                    <td colspan="9">
                        row data
                    </td>
                </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No records found.</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator [rows]="itemPerPage" [totalRecords]="totalRecords" [rowsPerPageOptions]="itemPerPageDropdown"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="my-4"
            (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>