<h1 class="page-title">Directives in Angular</h1>
<div class="row">
    <div class="col-md-12">
        <p>An Attribute directive changes appearence and behaviour of a DOM element. There are <b>3 types</b> of directive in angular</p>
        <ul>
            <li><b>Component Directives:</b> This is common directive</li>
            <li><b>Structural Directives:</b> change the DOM layout by adding and removing DOM elements. Example ngFor, ngIf</li>
            <li><b>Attribute Directives:</b> This is used as an attribute of HTML element. These are used to chnage appearence, behaviour of an component or another directive. Example - ngStyle</li>
        </ul>


        <h6>Attribute Directive Example- Refer to highlight.directive.ts</h6>
        <div highlight class="">Mouse over this text. Color will be changed</div>
    </div>
</div>