<h1>Add Employee</h1>
<div class="back-to-page mt-1 mb-4">
    <a [routerLink]="['/emp/manage']">
        <app-icon [name]="'angleLeft'" [styleClass]="'me-2'"></app-icon> Go back to Manage Employees
    </a>
</div>
<div class="row">
    <div class="2-col-form col-md-9 col-lg-6">
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="action">
            <div class="row mb-3 mb-2">
                <div class="col-md-6">
                    <label class="required" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    <app-validation-error [control]="myForm.controls['firstName']"></app-validation-error>
                </div>
                <div class="col-md-6">
                    <label class="required" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    <app-validation-error [control]="myForm.controls['lastName']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3 mb-2">
                <div class="col-md-6">
                    <label class="required" for="workEmail">Work Email</label>
                    <input type="text" class="form-control" id="workEmail" formControlName="workEmail">
                    <app-validation-error [control]="myForm.controls['workEmail']"></app-validation-error>
                </div>
                <div class="col-md-6">
                    <label class="required" for="personalPhone">Personal Phone</label>
                    <input type="text" class="form-control" id="personalPhone" formControlName="personalPhone"
                        maxlength="10">
                    <app-validation-error [control]="myForm.controls['personalPhone']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3 mb-2">
                <div class="col-md-6">
                    <label class="required" for="dateOfBirth">Date of Birth</label>
                    <p-calendar dateFormat="dd/mm/yy" formControlName="dateOfBirth" [readonlyInput]="true" inputId="dateOfBirth"
                        styleClass="w-100" [minDate]="minDateDob" [maxDate]="maxDateDob" [showButtonBar]="false"
                        [showIcon]="true" appendTo="body" [panelStyleClass]="'datetimepicker'"></p-calendar>
                    <app-validation-error [control]="myForm.controls['dateOfBirth']"></app-validation-error>
                </div>
                <div class="col-md-6">
                    <label class="required" for="gender">Gender</label>
                    <div>
                        <div class="form-check form-check-inline" *ngFor="let data of DataGender; let i=index">
                            <input class="form-check-input" type="radio" id="inlineRadio_{{i}}" value="{{data.id}}"
                                formControlName="gender">
                            <label class="form-check-label" for="inlineRadio_{{i}}">{{data.name}}</label>
                        </div>
                    </div>
                    <app-validation-error [control]="myForm.controls['gender']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3 mb-2">
                <div class="col-md-6">
                    <label for="personalEmail">Personal Email</label>
                    <input type="text" class="form-control" id="personalEmail" formControlName="personalEmail">
                    <app-validation-error [control]="myForm.controls['personalEmail']"></app-validation-error>
                </div>
                <div class="col-md-6">
                    <label for="workPhone">Work Phone</label>
                    <input type="text" class="form-control" id="workPhone" formControlName="workPhone" maxlength="10">
                    <app-validation-error [control]="myForm.controls['workPhone']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3 mb-2">
                <div class="col-md-6">
                    <label class="required" for="designation">Designation</label>
                    <select class="form-select" id="designation" formControlName="designation">
                        <option value="">Select</option>
                        <option value="{{data.id}}" *ngFor="let data of designationList; let i=index">{{data.name}}
                        </option>
                    </select>
                    <app-validation-error [control]="myForm.controls['designation']"></app-validation-error>
                </div>

                <div class="col-md-6">
                    <label class="required" for="department">Department</label>
                    <select class="form-select" id="department" formControlName="department">
                        <option value="">Select</option>
                        <option value="{{data.id}}" *ngFor="let data of departmentList; let i=index">{{data.name}}
                        </option>
                    </select>
                    <app-validation-error [control]="myForm.controls['department']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="required" for="dateOfJoining">Date of Joining</label>
                    <p-calendar dateFormat="dd/mm/yy" formControlName="dateOfJoining" [readonlyInput]="true" inputId="dateOfJoining"
                        styleClass="w-100" [maxDate]="minDateDoj" [showButtonBar]="false" [showIcon]="true"
                        appendTo="body" [panelStyleClass]="'datetimepicker'"></p-calendar>
                    <app-validation-error [control]="myForm.controls['dateOfJoining']"></app-validation-error>
                </div>

                <div class="col-md-6">
                    <label class="required" for="employmentType">Employment Type</label>
                    <select class="form-select" id="employmentType" formControlName="employmentType">
                        <option value="">Select</option>
                        <option value="{{data.id}}" *ngFor="let data of employmentTypeList; let i=index">{{data.name}}
                        </option>
                    </select>
                    <app-validation-error [control]="myForm.controls['employmentType']"></app-validation-error>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="required me-4" for="role">User Role</label>

                    <div class="form-check form-check-inline" *ngFor="let data of userRole; let i=index">
                        <input class="form-check-input" type="radio" id="inlineRadioUserRole_{{i}}" value="{{data.id}}"
                            formControlName="role">
                        <label class="form-check-label" for="inlineRadioUserRole_{{i}}">{{data.name}}</label>
                    </div>
                    <div class="small alert alert-info" *ngIf="myForm.controls['role'].value === '1'">
                        <strong>Note: </strong> Are you sure? Administrator role has more access such as Add/Edit/Delete items. Default employee role should be choosed as "User". 
                    </div>

                    <app-validation-error [control]="myForm.controls['role']"></app-validation-error>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Submit  
            </button>
        </form>
        <!-- <p>Form Status: <span class="text-bold">{{ myForm.status }}</span></p>
        <p>{{myForm.value|json}}</p> -->
    </div>
</div>