<h5>Basic</h5>
<p-button label="Submit" class="me-2"></p-button>
<p-button label="Link" styleclass="me-2 p-button-link"></p-button>

<h5>Icons</h5>
<p-button class="me-2" icon="pi pi-check"></p-button>
<p-button class="me-2" label="Submit" icon="pi pi-check"></p-button>
<p-button class="me-2" label="Submit" icon="pi pi-check" iconPos="right"></p-button>

<h5>Severities</h5>
<button pButton pRipple type="button" label="Primary"></button>
<button pButton pRipple type="button" label="Secondary" class="me-2 p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="me-2 p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="me-2 p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="me-2 p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="me-2 p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="me-2 p-button-danger"></button>

<h5>Raised Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="me-2 p-button-raised"></button>
<button pButton pRipple type="button" label="Secondary" class="me-2 p-button-raised p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="me-2 p-button-raised p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="me-2 p-button-raised p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="me-2 p-button-raised p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="me-2 p-button-raised p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="me-2 p-button-raised p-button-danger"></button>

<h5>Rounded Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="me-2 p-button-rounded"></button>
<button pButton pRipple type="button" label="Secondary" class="me-2 p-button-rounded p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="me-2 p-button-rounded p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="me-2 p-button-rounded p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="me-2 p-button-rounded p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="me-2 p-button-rounded p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="me-2 p-button-rounded p-button-danger"></button>

<h5>Text Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="me-2 p-button-text"></button>
<button pButton pRipple type="button" label="Secondary" class="me-2 p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" label="Success" class="me-2 p-button-success p-button-text"></button>
<button pButton pRipple type="button" label="Info" class="me-2 p-button-info p-button-text"></button>
<button pButton pRipple type="button" label="Warning" class="me-2 p-button-warning p-button-text"></button>
<button pButton pRipple type="button" label="Help" class="me-2 p-button-help p-button-text"></button>
<button pButton pRipple type="button" label="Danger" class="me-2 p-button-danger p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="me-2 p-button-text p-button-plain"></button>

<h5>Raised Text Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="me-2 p-button-raised p-button-text"></button>
<button pButton pRipple type="button" label="Secondary"
    class="me-2 p-button-raised p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" label="Success"
    class="me-2 p-button-raised p-button-success p-button-text"></button>
<button pButton pRipple type="button" label="Info" class="me-2 p-button-raised p-button-info p-button-text"></button>
<button pButton pRipple type="button" label="Warning"
    class="me-2 p-button-raised p-button-warning p-button-text"></button>
<button pButton pRipple type="button" label="Help" class="me-2 p-button-raised p-button-help p-button-text"></button>
<button pButton pRipple type="button" label="Danger"
    class="me-2 p-button-raised p-button-danger p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="me-2 p-button-raised p-button-text p-button-plain"></button>

<h5>Outlined Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="me-2 p-button-outlined"></button>
<button pButton pRipple type="button" label="Secondary" class="me-2 p-button-outlined p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="me-2 p-button-outlined p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="me-2 p-button-outlined p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="me-2 p-button-outlined p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="me-2 p-button-outlined p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="me-2 p-button-outlined p-button-danger"></button>

<h5>Rounded Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="me-2 p-button-rounded"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" class="me-2 p-button-rounded p-button-secondary"></button>
<button pButton pRipple type="button" icon="pi pi-search" class="me-2 p-button-rounded p-button-success"></button>
<button pButton pRipple type="button" icon="pi pi-user" class="me-2 p-button-rounded p-button-info"></button>
<button pButton pRipple type="button" icon="pi pi-bell" class="me-2 p-button-rounded p-button-warning"></button>
<button pButton pRipple type="button" icon="pi pi-heart" class="me-2 p-button-rounded p-button-help"></button>
<button pButton pRipple type="button" icon="pi pi-times" class="me-2 p-button-rounded p-button-danger"></button>

<h5>Rounded Text Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="me-2 p-button-rounded p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark"
    class="me-2 p-button-rounded p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-search"
    class="me-2 p-button-rounded p-button-success p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-user"
    class="me-2 p-button-rounded p-button-info p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-bell"
    class="me-2 p-button-rounded p-button-warning p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-heart"
    class="me-2 p-button-rounded p-button-help p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-times"
    class="me-2 p-button-rounded p-button-danger p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-filter"
    class="me-2 p-button-rounded p-button-text p-button-plain"></button>

<h5>Rounded and Outlined Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="me-2 p-button-rounded p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark"
    class="me-2 p-button-rounded p-button-secondary p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-search"
    class="me-2 p-button-rounded p-button-success p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-user"
    class="me-2 p-button-rounded p-button-info p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-bell"
    class="me-2 p-button-rounded p-button-warning p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-heart"
    class="me-2 p-button-rounded p-button-help p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-times"
    class="me-2 p-button-rounded p-button-danger p-button-outlined"></button>

<h5>Badges</h5>
<p-button label="Emails" badge="8"></p-button>
<p-button label="Messages" icon="pi pi-users" styleclass="me-2 p-button-warning" badge="8"
    badgeClass="p-badge-danger"></p-button>

<h5>Button Set</h5>
<span class="me-2 p-buttonset">
    <button pButton pRipple label="Save" icon="pi pi-check"></button>
    <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
    <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
</span>

<h5>Sizes</h5>
<div class="sizes">
    <p-button label="Small" icon="pi pi-check" styleclass="me-2 p-button-sm"></p-button>
    <p-button label="Normal" icon="pi pi-check" styleclass="me-2 p-button"></p-button>
    <p-button label="Large" icon="pi pi-check" styleclass="me-2 p-button-lg"></p-button>
</div>

<div class="row mb-4">
    <!--Form Controls Example-->
    <div class="col-md-6">
        <h5 class="fw-bold mb-2">Form Controls Example (No Business Logic)</h5>
        <h5 class="fw-bold my-2">InputText</h5>
        <span class="me-2">
            <input type="text" class="mb-2" placeholder="Default" pInputText />
        </span>
        <span class="me-2">
            <input type="text" class="mb-2" placeholder="Disabled" disabled pInputText />
        </span>

        <h5 class="fw-bold mt-2 mb-4">Float Label</h5>
        <span class="p-float-label">
            <input id="float-input" class="my-2" type="text" pInputText>
            <label for="float-input">Username</label>
        </span>

        <h5 class="fw-bold my-2">Icons</h5>
        <span class="p-input-icon-left me-2">
            <i class="pi pi-search"></i>
            <input type="text" class="mb-2" pInputText placeholder="Search">
        </span>

        <span class="p-input-icon-right">
            <i class="pi pi-spin pi-spinner"></i>
            <input type="text" pInputText>
        </span>

        <h5 class="fw-bold my-2">InputNumber</h5>
        <label class="d-block" for="stacked">Stacked</label>
        <p-inputNumber [(ngModel)]="value17" [showButtons]="true" inputId="stacked" mode="currency" currency="USD"
            styleClass="w-100">
        </p-inputNumber>

        <h5 class="fw-bold my-2">Sizes</h5>
        <div class="my-2"><input type="text" pInputText class="p-inputtext-sm" placeholder="Small"></div>
        <div class="my-2"><input type="text" pInputText placeholder="Normal"></div>
        <div class="my-2"><input type="text" pInputText class="p-inputtext-lg" placeholder="Large"></div>

        <h5 class="fw-bold my-2">Textarea</h5>
        <textarea class="mb-2" pInputTextarea></textarea>

        <h5 class="fw-bold my-2">Slider</h5>
        <input class="mb-2" type="text" pInputText [(ngModel)]="sliderVal" readonly />
        <p-slider [(ngModel)]="sliderVal" [min]="0" [max]="100"></p-slider>
        <!--
      <h5 class="fw-bold my-2">Rating</h5>
      <p-rating [(ngModel)]="ratingVal"></p-rating> -->

        <h5 class="fw-bold my-2">Input Switch</h5>
        <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>

        <h5 class="fw-bold my-2">Calendar</h5>
        <label class="d-block" for="icon">Icon</label>
        <p-calendar dateFormat="dd/mm/yy" class="mb-2 w-100" [showIcon]="true" inputId="icon"></p-calendar>

        <!-- <label class="d-block">Inline</label>
      <p-calendar class="mb-2" [inline]="true" [showWeek]="true"></p-calendar> -->
    </div>
    <div class="col-md-6">
        <h5 class="fw-bold mb-3">RadioButton (Inline)</h5>
        <span *ngFor="let radio of optionCategoriesInline" class="mr-4">
            <p-radioButton [inputId]="radio.key" name="radioInline" [value]="radio.key" [(ngModel)]="selectedRadio"
                [disabled]="radio.key === 'R'"></p-radioButton>
            <label class="mb-0 ml-2" [ngClass]="radio.key === 'R' ? 'text-muted': '' "
                [for]="radio.key">{{radio.name}}</label>
        </span>

        <h5 class="fw-bold my-3">RadioButton (Block)</h5>
        <div *ngFor="let radio of optionCategoriesBlock" class="mb-2">
            <p-radioButton [inputId]="radio.key" name="radioBlock" [value]="radio.key" [(ngModel)]="selectedRadio2"
                [disabled]="radio.key === '3'"></p-radioButton>
            <label class="mb-0 ml-2" [ngClass]="radio.key === '3' ? 'text-muted': '' "
                [for]="radio.key">{{radio.name}}</label>
        </div>

        <h5 class="fw-bold my-3">Checkbox (Inline)</h5>
        <span *ngFor="let category of checkboxCategoriesInline" class="mr-4">
            <p-checkbox [inputId]="category.key" name="groupnameInline" [value]="category"
                [(ngModel)]="selectedCheckboxCategories1" [disabled]="category.key === 'op3'"></p-checkbox>
            <label class="mb-0 ml-2" [ngClass]="category.key === 'op3' ? 'text-muted': '' "
                [for]="category.key">{{category.name}}</label>
        </span>

        <h5 class="fw-bold my-3">Checkbox (Block)</h5>
        <div *ngFor="let category of checkboxCategoriesBlock" class="mb-2">
            <p-checkbox [inputId]="category.key" name="groupnameBlock" [value]="category"
                [(ngModel)]="selectedCheckboxCategories2" [disabled]="category.key === 'o3'"></p-checkbox>
            <label class="mb-0 ml-2" [ngClass]="category.key === 'o3' ? 'text-muted': '' "
                [for]="category.key">{{category.name}}</label>
        </div>

        <h5 class="fw-bold my-3">Listbox</h5>
        <p-listbox [options]="listboxOptions" [(ngModel)]="selectedListboxOptions" [metaKeySelection]="false"
            [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}">
            <ng-template let-option pTemplate="item">
                <div class="option-item">
                    <div>{{option.name}}</div>
                </div>
            </ng-template>
        </p-listbox>

        <h5 class="fw-bold my-3">Dropdown</h5>
        <p-dropdown styleClass="w-100" [options]="cities" [(ngModel)]="selectedCity1" placeholder="Select a City"
            optionLabel="name" [showClear]="true"></p-dropdown>

        <h5 class="fw-bold my-3">MultiSelect - Chips</h5>
        <p-multiSelect styleClass="w-100" [options]="cities" [(ngModel)]="selectedCities2" defaultLabel="Select a City"
            optionLabel="name" display="chip"></p-multiSelect>
    </div>
    <!--End of Form Controls Example-->
</div>

<div class="row my-4">
    <div class="col-md-12">
        <p-table [value]="products">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.quantity}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>