<app-header></app-header>
<section data-module="user">

    <div class="my-3">
        <a class="mr-2" routerLink="/user/login">Login</a>
        <a class="mx-2" routerLink="/user/registration">Register</a>
        <a class="mx-2" routerLink="/user/forgot-password">Forgot Password</a>
        <a class="mx-2" routerLink="/user/manage-users">Manage Users</a>
        <a class="mx-2" routerLink="/user/reset-password">Reset Password</a>
    </div>

    <router-outlet></router-outlet>
</section>
<app-footer></app-footer>