<ul class="example-nav small">
    <li class=""><a class="" routerLink="template-basic">Template Basic</a></li>
    <li class=""><a class="" routerLink="types-of-angular-directive">Directive</a></li>
    <li class=""><a class="" routerLink="pipes">Pipes</a></li>
    <li class=""><a class="" routerLink="user-input-binding">Input Binding</a></li>
    <li class=""><a class="" routerLink="template-driven-form">Template Driven Form</a></li>
    <li class=""><a class="" routerLink="reactive-form">Reactive Form</a></li>
    <li class=""><a class="" routerLink="angular-services">Service</a></li>
    <li class=""><a class="" routerLink="child-comp">Child Component</a></li>
    <li class=""><a class="" routerLink="parent-comp">Parent Component</a></li>
    <li class=""><a class="" routerLink="test">Test Others</a></li>
    <li class=""><a class="" routerLink="observable-in-angular">Observable</a></li>
</ul>
<router-outlet></router-outlet>