<h1>Dashboard</h1>
<div class="row my-3">
    <div class="col">
        <div class="card">
            <div class="card-header"><app-icon [name]="'linechart'"></app-icon> Stat</div>
            <div class="card-body">
                <app-dashboard-stat></app-dashboard-stat>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"><app-icon [name]="'notification'"></app-icon> Posts & Updates</div>
            <div class="card-body">
                <app-post></app-post>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row my-3">
    <div class="col">
        <div class="card">
            <div class="card-header">Calendar</div>
            <div class="card-body"><app-event-calendar></app-event-calendar></div>
        </div>
    </div>
</div> -->
