<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                News
            </div>
            <div class="card-body">
                <app-news></app-news>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Stat</div>
            <div class="card-body"><app-dashboard-stat></app-dashboard-stat></div>
        </div>
    </div>
</div>
<!-- <div class="row my-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Cal</div>
            <div class="card-body"><app-full-calendar></app-full-calendar></div>
        </div>
    </div>
</div> -->