// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "assets/scss/customize-bootstrap";
@import "assets/scss/vars";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import 'ag-grid-community/styles/ag-grid.css'; // Core grid CSS, always needed
@import 'ag-grid-community/styles/ag-theme-alpine.css'; // Optional theme CSS

html,
body {
    height: 100%;
}

body {
    margin: 0;
    //font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    vertical-align: middle;

    &.md-16 {
        font-size: 16px;
    }

    &.md-18 {
        font-size: 18px;
    }

    &.md-20 {
        font-size: 20px;
    }

    &.md-24 {
        font-size: 24px;
    }

    &.md-36 {
        font-size: 36px;
    }

    &.md-48 {
        font-size: 48px;
    }

    &.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }

    &.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }

    &.md-light {
        color: rgba(255, 255, 255, 1);
    }

    &.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }
}

.navbar-dark {
    background-color: #000 !important;
}

.invalid-feedback,
.validation-error-message {
    font-size: 90%;
    color: $red;
}

label.required {
    &::after {
        content: '*';
        margin-left: 5px;
        color: $red;
    }
}

label.optional {
    &::after {
        content: 'optional';
        margin-left: 5px;
        color: $gray-500;
    }
}

#sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
    width: 260px;
    margin-left: -260px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
        height: calc(100vh - 48px);
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;

        .sidebar-nav-section {
            margin: 10px 0px;
        }

        .sidebar-heading {
            font-weight: 400;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            cursor: pointer;
            margin-bottom: 0px;

            &[aria-expanded="false"] {
                .col-exp-icon {
                    &::after {
                        //content: '+';
                        content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95 6 3.665 1.548a.418.418 0 0 1 0-.587.408.408 0 0 1 .581 0l4.698 4.745a.418.418 0 0 1 0 .587l-4.698 4.745a.408.408 0 0 1-.581 0 .418.418 0 0 1 0-.587L7.95 6z'/%3E%3C/svg%3E");
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            &[aria-expanded="true"] {
                .col-exp-icon {
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.451 3.665c.163-.161.425-.161.587 0s.163.421 0 .581L6.293 8.944a.418.418 0 0 1-.587 0L.961 4.246a.408.408 0 0 1 0-.581.418.418 0 0 1 .587 0L6 7.95l4.451-4.285z'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }

    &.toggled {
        margin-left: 0px;
    }
}

#main-content-wrapper {
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    padding-top: 65px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0px;

        &.toggled {
            margin-left: -260px;
        }
    }

    #main-content-wrapper {
        margin-left: 260px;

        &.toggled {
            margin-left: 0px;
        }
    }
}


.card-top-border {
    border-top: 4px solid $primary;
}

.card-header {
    font-weight: bold;
}

@mixin linear-gradient($from, $to) {
    background: $to;
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-linear-gradient(top, $from 0%, $to 100%);
    background: -o-linear-gradient(top, $from 0%, $to 100%);
    background: linear-gradient(to bottom, $from 0%, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

.colorgraph-navbar::after {
    content: "";
    height: 5px;
    background: -webkit-gradient(linear, left top, right top, from ($from_color), to ($to_color));
    background: linear-gradient(to right, $from_color, $to_color);
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.ag-theme-alpine {
    /* disable all borders */
    --ag-borders: none;
    /* then add back a border between rows */
    --ag-borders-row: solid 1px;
    --ag-row-border-color: #dee2e6;
}

.sbar-links {
    .btn {
        padding: 0.25rem 0.5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.65);
        background-color: transparent;
        border: 0;

        &:hover {
            color: rgba(0, 0, 0, 0.85);
            background-color: rgba(121, 82, 179, 0.1);
        }

        &:focus {
            color: rgba(0, 0, 0, 0.85);
            background-color: rgba(121, 82, 179, 0.1);
            box-shadow: 0 0 0 1px rgb(121 82 179 / 70%);
        }

        &:focus:not(:focus-visible) {
            outline: 0;
        }

        &::before {
            width: 1.25em;
            line-height: 0;
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            transition: transform 0.35s ease;
            transform-origin: 0.5em 50%;
        }

        &[aria-expanded="true"]::before {
            transform: rotate(90deg);
        }
    }

    a {
        padding: 0.1875rem 0.5rem;
        margin-top: 0.125rem;
        margin-left: 1.25rem;
        color: rgba(0, 0, 0, 0.65);
        text-decoration: none;

        &:hover {
            color: rgba(0, 0, 0, 0.85);
            background-color: rgba(121, 82, 179, 0.1);
        }
    }
}