/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/customize-bootstrap';
@import "assets/scss/vars";
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    margin-top: 4rem;
    overflow-x: hidden;
}

.navbar-dark {
    background-color: #000 !important;
}

#sidebar-wrapper {
    min-height: 100vh;
    height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    //position: fixed;
    min-width: 240px;
    background-color: #fff;

    .sidebar-heading {
        font-weight: 500;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        color: lighten(#000, 60%) !important;
        cursor: pointer;
    }
}


#page-content-wrapper {
    min-width: 100vw;
    //margin-left: 240px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: hsl(0, 0%, 98%);
}

#page-content-wrapper.toggled {
    margin-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.card-top-border {
    border-top: 4px solid $primary;
}