<h1>My Account</h1>
<img src="" alt="DP">
<h2 class="display-4">John Smith</h2>
<div>Software Engineer</div>

<h3 class="my-4">Basic Info</h3>
<a [routerLink]="['/user/edit-basic-info']" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined md-16">edit</span> Edit</a>

<h3 class="my-4">Address</h3>
<a [routerLink]="['/user/add-address']" class="btn btn-success btn-sm"><span class="material-symbols-outlined md-16">add</span> Add New</a>
<a [routerLink]="['/user/edit-address/33']" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined md-16">edit</span> Edit</a>

<h3 class="my-4">Education</h3>
<a [routerLink]="['/user/add-education']" class="btn btn-success btn-sm"><span class="material-symbols-outlined md-16">add</span> Add New</a>
<a [routerLink]="['/user/edit-education/37']" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined md-16">edit</span> Edit</a>

<h3 class="my-4">Experience</h3>
<a [routerLink]="['/user/add-work-experience']" class="btn btn-success btn-sm"><span class="material-symbols-outlined md-16">add</span> Add New</a>
<a [routerLink]="['/user/edit-work-experience/91']" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined md-16">edit</span> Edit</a>

<h3 class="my-4">Bank Info</h3>
<a [routerLink]="['/user/add-bank-info']" class="btn btn-success btn-sm"><span class="material-symbols-outlined md-16">add</span> Add New</a>
<a [routerLink]="['/user/edit-bank-info/77']" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined md-16">edit</span> Edit</a>

<h3 class="my-4">Emergency Info</h3>
<a [routerLink]="['/user/add-emergency-contact']" class="btn btn-success btn-sm"><span class="material-symbols-outlined md-16">add</span> Add New</a>
<a [routerLink]="['/user/edit-emergency-contact/55']" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined md-16">edit</span> Edit</a>

<h3 class="my-4">Other</h3>
