<h1>Profile</h1>
<div class="back-to-page">
   <a [routerLink]="['/emp/manage']" [state]="{ manageUserPageIndex: routedFromPageIndex }"> <app-icon
         [name]="'angleLeft'" [styleClass]="'me-2'"></app-icon>Back </a>
</div>
<section class="my-4">
   <h3 class="">{{userInfo?.user_full_name}}</h3>
   <div>{{userInfo?.designation_name}}</div>
   <div><a href="mailto:{{userInfo?.user_email}}">{{userInfo?.user_email}}</a></div>
   <div>{{userInfo?.user_phone}}</div>
   <div>
      <span *ngIf="userInfo?.user_status === 'Y' " class="badge rounded-pill bg-success">Active</span>
      <span *ngIf="userInfo?.user_status === 'N' " class="badge rounded-pill bg-warning text-dark">Inactive</span>
      <span *ngIf="userInfo?.user_status === 'A' " class="badge rounded-pill bg-danger">Archived</span>
   </div>
</section>

<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'user'" [styleCSS]="{'font-size': 'inherit'}"></app-icon> Basic
            Info</h5>
      </div>
   </p-divider>
   <dl class="row">
      <dt class="col-md-4 col-lg-3">Employee ID</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_uid}}</dd>
      <dt class="col-md-4 col-lg-3">Designation</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.designation_name}}</dd>
      <dt class="col-md-4 col-lg-3">Employment Type</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.employment_type_name}}</dd>
      <dt class="col-md-4 col-lg-3">Work Location</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.base_work_location_name}}</dd>
      <dt class="col-md-4 col-lg-3">Workspace Type</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.workspace_type_name}}</dd>
      <dt class="col-md-4 col-lg-3">Department</dt>
      <dd class="col-md-8 col-lg-9" [innerHTML]="userInfo?.department_name || '-'"></dd>
      <dt class="col-md-4 col-lg-3">Date of Joining</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_doj | date:'dd/MM/yyyy'}}</dd>
      <dt class="col-md-4 col-lg-3">Personal Email</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_email2 || '-'}}</dd>
      <dt class="col-md-4 col-lg-3">Work Phone</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_phone2 || '-'}}</dd>
      <dt class="col-md-4 col-lg-3">Date of Birth</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_dob | date:'dd/MM/yyyy'}}</dd>
      <dt class="col-md-4 col-lg-3">Gender</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_gender}}</dd>
      <dt class="col-md-4 col-lg-3">Blood Group</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_blood_group || '-'}}</dd>
   </dl>
   <button *ngIf="userInfo?.user_status !== 'A'" type="button" class="btn btn-primary btn-sm mt-2"
      (click)="navigateTo(['/emp/edit/', userInfo?.id])"><app-icon [name]="'edit'"></app-icon> Edit Profile</button>
</section>



<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'map'" [styleCSS]="{'font-size': 'inherit'}"></app-icon>
            Address</h5>
      </div>
   </p-divider>
   <div class="my-3" *ngFor="let addr of addressInfo">
      <h6 [innerHTML]="getAddressType(addr.address_type)"></h6>
      <address>
         {{addr?.address}}, {{addr?.locality}}, {{addr?.city_name}}, {{addr?.state_name}},
         {{addr?.zip}} <br>
         Phone: {{addr?.phone1}} <br>
         Landmark: {{addr?.landmark}}
      </address>
   </div>
   <div class="my-3" *ngIf="addressInfo.length === 0">
      <div class="text-muted">
         <app-icon [name]="'info'"></app-icon> No records found.
      </div>
   </div>
</section>



<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'book'" [styleCSS]="{'font-size': 'inherit'}"></app-icon>
            Education</h5>
      </div>
   </p-divider>
   <div class="my-3" *ngFor="let education of educationInfo">
      <h6>{{education?.qualification_name}} - {{education?.degree_name}};
         {{education?.academic_to_year}}
      </h6>
      <div [innerHTML]="education.specialization_name"></div>
      <div [innerHTML]="education.institute_name"></div>
      <div>{{education.academic_marks_percentage}}%</div>
   </div>
   <div class="my-3" *ngIf="educationInfo.length === 0">
      <div class="text-muted">
         <app-icon [name]="'info'"></app-icon> No records found.
      </div>
   </div>
</section>


<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'job'" [styleCSS]="{'font-size': 'inherit'}"></app-icon> Work
            Experience
         </h5>
      </div>
   </p-divider>
   <div class="my-3">
      <h6>{{userInfo?.designation_name}}</h6>
      <div [innerHTML]="orgName"></div>
      <div class="text-muted">{{userInfo?.user_doj | date:'dd/MM/yyyy'}} - {{userInfo?.user_dor ?
         userInfo.user_dor : 'Present'}}
      </div>
   </div>
   <div class="my-3" *ngFor="let exp of workExp">
      <h6>{{exp?.designation_name}}</h6>
      <div>
         <span [innerHTML]="exp.company_name"></span>
         <span *ngIf="exp.job_location_name">, </span>
         <span [innerHTML]="exp.job_location_name"></span>
      </div>
      <div class="text-muted">{{exp?.from_date | date: 'dd/MM/yyyy'}} - {{exp?.to_date | date:
         'dd/MM/yyyy'}}
      </div>
   </div>
   <div class="my-3" *ngIf="payrollInfo.workExp === 0">
      <div class="text-muted">
         <app-icon [name]="'info'"></app-icon> No records found.
      </div>
   </div>
</section>



<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'currency'" [styleCSS]="{'font-size': 'inherit'}"></app-icon>
            Payroll Info</h5>
      </div>
   </p-divider>
   <div class="my-3">
      <dl class="row">
         <dt class="col-md-4 col-lg-3">PAN No</dt>
         <dd class="col-md-8 col-lg-9">{{userInfo?.user_pan_no}}</dd>
         <dt class="col-md-4 col-lg-3">UAN No</dt>
         <dd class="col-md-8 col-lg-9">{{userInfo?.user_uan_no}}</dd>
      </dl>
   </div>
   <div class="my-3" *ngFor="let payroll of payrollInfo">
      <h6>{{payroll?.bank_name}}</h6>
      <div [innerHTML]="payroll.bank_account_no"></div>
      <div class="text-muted" [innerHTML]="payroll.ifsc_code"></div>
   </div>
   <div class="my-3" *ngIf="payrollInfo.length === 0">
      <div class="text-muted">
         <app-icon [name]="'info'"></app-icon> No records found.
      </div>
   </div>
</section>


<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'heart'" [styleCSS]="{'font-size': 'inherit'}"></app-icon>
            Emergency Contacts
         </h5>
      </div>
   </p-divider>
   <div class="my-3" *ngFor="let contact of emergencyContact">
      <h6>{{contact?.contact_person_name}}</h6>
      <div class="text-muted" [innerHTML]="contact.relationship"></div>
      <div>{{contact?.contact_person_address}}</div>
      <div>Phone: {{contact?.contact_person_phone1}}</div>
   </div>
   <div class="my-3" *ngIf="emergencyContact.length === 0">
      <div class="text-muted">
         <app-icon [name]="'info'"></app-icon> No records found.
      </div>
   </div>
</section>

<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'users'" [styleCSS]="{'font-size': 'inherit'}"></app-icon>
            Workflow
            Approvers</h5>
      </div>
   </p-divider>
   <dl class="row mt-4">
      <dt class="col-md-4 col-lg-3">L1 Workflow Approver</dt>
      <dd class="col-md-8 col-lg-9">
         <div [innerHTML]="approvers?.user_supervisor_id ? (approvers?.supervisor_name + ' ('+approvers?.supervisor_email+')'):  '-'"></div>
      </dd>
      <dt class="col-md-4 col-lg-3">L2 Workflow Approver</dt>
      <dd class="col-md-8 col-lg-9">
         <div [innerHTML]="approvers?.director_name ? (approvers?.director_name + ' ('+approvers?.director_email+')'):  '-'"></div>
      </dd>
      <dt class="col-md-4 col-lg-3">HR Approver</dt>
      <dd class="col-md-8 col-lg-9">
         <div [innerHTML]="approvers?.hr_name ? (approvers?.hr_name + ' ('+approvers?.hr_email+')'):  '-'"></div>
      </dd>
      <dt class="col-md-4 col-lg-3">Finance Approver</dt>
      <dd class="col-md-8 col-lg-9">
         <div [innerHTML]="approvers?.finance_name ? (approvers?.finance_name + ' ('+approvers?.finance_email+')'):  '-'"></div>
      </dd>
   </dl>
</section>


<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'info'" [styleCSS]="{'font-size': 'inherit'}"></app-icon> Leave
            Balance</h5>
      </div>
   </p-divider>
   <div class="my-4 text-muted" *ngIf="!leaveBalance?.id">
      <app-icon [name]="'info'"></app-icon> Leave balance is not configured. Click on "Edit Profile" to add/update
      leave balance.
   </div>
   <dl class="row" *ngIf="leaveBalance?.id">
      <dt class="col-md-3">Casual Leave (CL)</dt>
      <dd class="col-md-3">
         <span [innerHTML]="leaveBalance?.cl ? leaveBalance?.cl : '-'"></span>
      </dd>
      <dt class="col-md-3">Sick Leave (SL)</dt>
      <dd class="col-md-3">
         <span [innerHTML]="leaveBalance?.sl ? leaveBalance?.sl : '-'"></span>
      </dd>

      <dt class="col-md-3">Privileged Leave (PL)</dt>
      <dd class="col-md-3">
         <span [innerHTML]="leaveBalance?.pl ? leaveBalance?.pl : '-'"></span>
      </dd>

      <dt class="col-md-3">Optional Leave (OL)</dt>
      <dd class="col-md-3">
         <span [innerHTML]="leaveBalance?.ol ? leaveBalance?.ol : '-'"></span>
      </dd>

      <dt class="col-md-3">Leave Balance updated on</dt>
      <dd class="col-md-3">
         <span *ngIf="leaveBalance?.leave_balance_updated_on">
            {{leaveBalance?.leave_balance_updated_on | date: 'dd/MM/yyyy h:mm:ss a'}}
         </span>
      </dd>
   </dl>
</section>


<section class="my-4">
   <p-divider align="left">
      <div class="inline-flex align-items-center">
         <h5 class="my-2 text-primary"><app-icon [name]="'info'" [styleCSS]="{'font-size': 'inherit'}"></app-icon>
            Account Information
         </h5>
      </div>
   </p-divider>
   <dl class="row">
      <dt class="col-md-4 col-lg-3">Account Status</dt>
      <dd class="col-md-8 col-lg-9">
         <span *ngIf="userInfo?.user_status === 'Y' " class="badge rounded-pill bg-success">Active</span>
         <span *ngIf="userInfo?.user_status === 'N' " class="badge rounded-pill bg-warning text-dark">Inactive</span>
         <span *ngIf="userInfo?.user_status === 'A' " class="badge rounded-pill bg-danger">Archived</span>
      </dd>
      <dt class="col-md-4 col-lg-3">Status Updated On</dt>
      <dd class="col-md-8 col-lg-9">
         {{userInfo?.user_status_updated_on | date:
         'dd/MM/yyyy h:mm:ss a'}}
         <span *ngIf="userInfo?.user_status_updated_on === null">-</span>
      </dd>

      <dt class="col-md-4 col-lg-3">Permitted Role/Access</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.role_name}}</dd>

      <dt class="col-md-4 col-lg-3">User Since</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_created_on | date: 'dd/MM/yyyy h:mm:ss a'}}</dd>

      <dt *ngIf="userInfo?.user_status === 'A' " class="col-md-4 col-lg-3">Date of Release</dt>
      <dd *ngIf="userInfo?.user_status === 'A' " class="col-md-8 col-lg-9">{{userInfo?.user_dor | date:'dd-MM-y'}}</dd>

      <dt class="col-md-4 col-lg-3">Last Login</dt>
      <dd class="col-md-8 col-lg-9">{{userInfo?.user_login_date_time | date: 'dd/MM/yyyy h:mm:ss a'}}</dd>
   </dl>
</section>