<h1>{{title}}</h1>
<p>{{subtitle}}</p>
<!--intepolation-->
<div class="demo">
    <p class="txt-lg">The sum of 1+1+9 is {{1+1+9}}</p>


    <div *ngFor="let fruit of fruits">{{fruit.name}} is {{fruit.color}}</div>
</div>
<h4>Pipes</h4>
<p>{{birthday|date:"MM/dd/yyyy"}}</p>

<h4>Highlight Directive</h4>
<div highlight class="">This is a sample text</div>

<h4>Pipe | Custom Pipe </h4>
<div>Custom pipe (Exponential Strength): {{2|exponentialStrength:'2'}}</div>
<div>
    <input type="number" [(ngModel)]="val" placeholder="value">
    <input type="number" [(ngModel)]="pow" placeholder="exponential">
    <input type="text" [(ngModel)]="testInput" placeholder="test">
    <input type="text" [(ngModel)]="testInput" placeholder="test">
    <p>Your val={{val}}, pow={{pow}}. Exponential = {{val|exponentialStrength:pow}}</p>
</div>

<h4>Pipe | Mask </h4>
{{'saikat.mahapatra@gmail.com'|mask:'email'}}

<h4>Forms: User Input Binding</h4>
<p>
    <button class="btn {{buttonCss}}" (click)="buttonClick($event)">Button</button> {{clickMessage}}
</p>
<p>
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter something" (keyup)="keyUpGetInputData($event)" (blur)="txtBlur($event)">    {{keyUpInputData}}
</p>

<div>
    Event Bubble
    <div (click)="clickParentElm($event)">
        parent div
        <div (click)="clickChildElm($event)">child div</div>
    </div>
</div>

<h4>Forms: Template Driven Form - User Registration</h4>
{{diagonostic}}
<div class="row">
    <div class="col-md-4">
        <form (ngSubmit)="onSubmit($event)" #userForm="ngForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" required minlength="4" maxlength="15" class="form-control" placeholder="first name" [(ngModel)]="model.firstName" name="firstName" #x="ngModel">
                    {{x.class}}
                </div> 
                <div *ngIf="x.invalid && (x.dirty || x.touched)"class="alert alert-danger">
                    <div *ngIf="x.errors.required">First name is required.</div>    
                    <div *ngIf="x.errors.minlength">First name can not less than 4 characters.</div>    
                    <div *ngIf="x.errors.maxlength">First name can not greater than 15 characters.</div>    
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="last name" [(ngModel)]="model.lastName" name="lastName" required minlength="5" maxlength="15" #lastName="ngModel">
                    {{lastName.className}}
                </div>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"class="alert alert-danger">
                    <div *ngIf="lastName.errors.required">Last name is required.</div>    
                    <div *ngIf="lastName.errors.minlength">Last name can not less than 5 characters.</div>    
                    <div *ngIf="lastName.errors.maxlength">Last name can not greater than 15 characters.</div>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="email" [(ngModel)]="model.email" name="email" #spy3>
                    {{spy3.className}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" placeholder="phone" [(ngModel)]="model.phoneNumber" name="phoneNumber" #spy4>
                    {{spy4.className}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Phone Type</label>
                    <select class="form-control" [(ngModel)]="model.phoneType" name="phoneType" #spy5>
                            <option *ngFor="let phoneType of phoneTypes" value="{{phoneType.val}}">{{phoneType.txt}}</option>                            
                    </select>
                    {{spy5.className}}
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-4" [hidden]="!isSubmitted">
        <label>You have submitted the below data:</label>
    <div class="row">First Name: {{model.firstName}}</div>
    <div class="row">Last Name: {{model.lastName}}</div>
    <div class="row">Email: {{model.email}}</div>
    <div class="row">Phone: {{model.phoneNumber}}</div>
    <div class="row">Phone Type: {{model.phoneType}}</div>
    <div class="row"><a (click)="isSubmitted=false">Edit</a></div>
</div>
</div>
