<h1>Manage Task</h1>

<div class="my-4">
    <a [routerLink]="['../add-task']" class="btn  btn-success">Add Task</a>
</div>

 <div class="table-responsive">
  <table class="table table-sm">
      <thead>
          <tr>
              <th scope="col" style="width: 25%;">Name</th>
              <th scope="col" style="width: 10%;">Type</th>
              <th scope="col" style="width: 10%;">Status</th>
              <th scope="col" style="width: 15%;">Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of dataRow; let i = index">
              <td><span *ngIf="data?.level === '2'">{{data?.subtask_parent_name}} > </span>{{data?.task_name}}</td>
              <td>
                <span *ngIf="data?.level === '1' ">Task</span>
                <span *ngIf="data?.level === '2' ">Subtask</span>
              </td>
              <td [innerHTML]="data?.task_status === 'Y' ? 'Active': 'Inactive'"></td>
              <td>
                <a class="btn btn-outline-secondary " [routerLink]="['/project/edit-task/', data.id]">Edit</a>
                <!-- <button class="btn btn-outline-danger  ms-1" (click)="delete(data.id)">Delete</button> -->
              </td>
          </tr>
      </tbody>
  </table>
</div>