<h1 class="page-title">
    <span class="" *ngIf="entity=== 'emp'">Employee</span>
    <span class="" *ngIf="entity=== 'project'">Project</span>
    {{pageTitle}}
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <app-icon [name]="'linechart'"></app-icon>
                Analytics
            </div>
            <div class="card-body">

                <div *ngIf="entity=== 'emp'" class="table-responsive">
                    <table class="table table-sm table-responsive table-bordered">
                        <tbody>
                            <tr>
                                <td class="fw-semibold">Name</td>
                                <td>
                                    {{userDetails?.user_full_name}}
                                </td>
                                <td class="fw-semibold">Designation</td>
                                <td>
                                    {{userDetails?.designation_name}}
                                </td>
                                <td class="fw-semibold">Department</td>
                                <td>
                                    {{userDetails?.department_name}}
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Email</td>
                                <td>
                                    <span [pTooltip]="userDetails?.user_email"
                                        tooltipPosition="top">{{(userDetails?.user_email | slice : 0: 15) +
                                        '...'}}</span>
                                </td>
                                <td class="fw-semibold">Phone</td>
                                <td>
                                    {{userDetails?.user_phone}} {{userDetails?.user_phone2}}
                                </td>
                                <td class="fw-semibold">Account Status</td>
                                <td>
                                    <span *ngIf="userDetails?.user_status === 'Y' "
                                        class="badge rounded-pill bg-success">Active</span>
                                    <span *ngIf="userDetails?.user_status === 'N' "
                                        class="badge rounded-pill bg-warning text-dark">Inactive</span>
                                    <span *ngIf="userDetails?.user_status === 'A' "
                                        class="badge rounded-pill bg-danger">Archived</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Work Base Location</td>
                                <td>
                                    {{userDetails?.base_work_location_name}}
                                </td>
                                <td class="fw-semibold">Emp Type</td>
                                <td>
                                    {{userDetails?.employment_type_name}}
                                </td>
                                <td class="fw-semibold">Workspace Type</td>
                                <td>
                                    {{userDetails?.workspace_type_name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="entity=== 'project'" class="table-responsive">
                    <table class="table table-sm table-responsive table-bordered">
                        <tbody>
                            <tr>
                                <td class="fw-semibold" style="width: 25%;">Project Name:</td>
                                <td>
                                    {{projectInfoData?.project_name}}
                                </td>
                                <td class="fw-semibold" style="width: 25%;">Project No:</td>
                                <td>
                                    {{projectInfoData?.project_code}}
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Status:</td>
                                <td>
                                    {{projectInfoData?.project_status}}
                                </td>
                                <td class="fw-semibold">Added On:</td>
                                <td>
                                    {{projectInfoData?.created_on | date: 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>

                                <td class="fw-semibold">Start Date:</td>
                                <td>
                                    {{projectInfoData?.project_start_date | date:'dd/MM/yyyy'}}
                                </td>
                                <td class="fw-semibold">End Date:</td>
                                <td>
                                    {{projectInfoData?.project_end_date | date: 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Description:</td>
                                <td colspan="3">
                                    {{projectInfoData?.project_desc || '--'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h6 class="mt-4">Select another duration range to see data visualization</h6>
                <form class="row row-cols-sm-auto g-3 align-items-center" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <input type="hidden" formControlName="entityId" readonly>
                    <input type="hidden" formControlName="entity" readonly>
                    <input type="hidden" formControlName="action" readonly>
                    <div class="col-12">
                        <label class="visually-hidden" for="duration">Duration</label>
                        <select formControlName="duration" class="form-select" id="duration">
                            <option value="today">Today</option>
                            <option value="last1week">Past 1 week</option>
                            <option value="last2weeks">Past 2 weeks</option>
                            <option value="currentMonth">Current month</option>
                            <option value="last1Month">Past 1 month</option>
                            <option value="last3months">Past 3 months</option>
                            <option value="last6months">Past 6 months</option>
                            <option value="last12months">Past 12 months</option>
                            <option value="customDateRange">Specific Period</option>
                            <option value="all">All Duration</option>
                        </select>
                    </div>
                    <div class="col-12" *ngIf="myForm.controls['duration'].value == 'customDateRange' ">
                        <label class="visually-hidden" for="dateRange">Date Range</label>
                        <p-calendar placeholder="Select date range" dateFormat="dd/mm/yy" formControlName="dateRange"
                            selectionMode="range" [readonlyInput]="true" inputId="range" styleClass="w-100"
                            [showButtonBar]="false" [showIcon]="true" appendTo="body"
                            [panelStyleClass]="'datetimepicker'" [minDate]="minDate" [maxDate]="maxDate"
                            [(ngModel)]="rangeDates" [iconDisplay]="'input'"></p-calendar>

                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" [disabled]="loading || !myForm.valid"><span
                                *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> View Details</button>
                    </div>
                    <app-validation-error *ngIf="myForm.controls['duration'].value == 'customDateRange' "
                        [control]="myForm.controls['dateRange']"></app-validation-error>
                </form>


                <div class="row mt-4">
                    <div class="col-md-12">
                        <h6>Tasks ({{totalHoursLogged}} hours)</h6>
                        <p-chart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions"
                            *ngIf="doughnutChartValue.length>0" height="375px"></p-chart>
                        <div *ngIf="doughnutChartValue.length === 0 ">No timesheet records found to display
                            analytics.</div>
                    </div>
                    <div class="col-md-12 my-3" *ngIf="entity==='emp'">
                        <h6>Projects ({{totalNumberOfProjectsWorked}} projects)</h6>
                        <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions" height="375px"
                            *ngIf="pieChartValue.length > 0"></p-chart>
                        <div *ngIf="pieChartValue.length === 0 ">No timesheet records found to display
                            analytics.</div>
                    </div>
                    <div class="col-md-12 my-3" *ngIf="entity==='project'">
                        <h6>Resource Utilization ({{totalNumberOfEmployeesWorked}} employees)</h6>
                        <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"
                            *ngIf="barChartDataValue.length>0"></p-chart>
                        <div *ngIf="barChartDataValue.length === 0 ">No timesheet records found to display
                            analytics.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>