<h1>Apply Leave</h1>
<div class="row my-4">
    <div class="mb-4">
        <div class="alert alert-danger" *ngIf="approvers.length <= 0">
            <strong>Error: </strong>No workflow approvers found. Before applying leave <a class="reset" [routerLink]="['/user/change-approvers']">select your workflow approvers</a>. 
        </div>
        <div class="alert alert-info" *ngIf="approvers.length > 0">
            <div *ngIf="approvers[0]?.user_supervisor_id === approvers[0]?.user_director_approver_id">
                <strong>Info: </strong> Your leave application workflow will verified by <span class="fw-bold">{{approvers[0]?.supervisor_firstname}} {{approvers[0]?.supervisor_lastname}} {{approvers[0]?.supervisor_emp_id}}</span>
            </div>
            <div *ngIf="approvers[0]?.user_supervisor_id !== approvers[0]?.user_director_approver_id">
                <strong>Info: </strong> Your leave application workflow will verified by <span class="fw-bold">{{approvers[0]?.supervisor_firstname}} {{approvers[0]?.supervisor_lastname}} {{approvers[0]?.supervisor_emp_id}}</span> <span> and </span> <span class="fw-bold">{{approvers[0]?.director_firstname}} {{approvers[0]?.director_lastname}} {{approvers[0]?.director_emp_id}}</span>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="leaveBalance.length <= 0">
            <strong>Error: </strong> Your leave balance data does not exists in database, please contact to HR for further process. 
        </div>
    </div>

    <div class="col-md-4">
        <form [formGroup]="myForm" class="form app-form" (ngSubmit)="onSubmit()">
            <input type="hidden" value="applyLeave" formControlName="action">

            <div class="mb-3">
                <label class="required" for="fromToDate">Select Date or Range</label>
                <p-calendar formControlName="fromToDate" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" styleClass="w-100" [maxDate]="maxDate" [showButtonBar]="false" [showIcon]="true" appendTo="body" [panelStyleClass]="'datetimepicker'"></p-calendar>
                <div class="small">Note: You can select date range from the date picker</div>
                <app-validation-error [control]="myForm.controls['fromToDate']"></app-validation-error>
                
            </div>
            <div class="mb-3">
                <label class="required" for="leaveType">Leave Type</label>
                <select class="form-select" id="leaveType" formControlName="leaveType">
                    <option value="">Select</option>
                    <option [value]="data?.val" *ngFor="let data of leaveType" [innerHTML]="data.text"></option>
                </select>
                <app-validation-error [control]="myForm.controls['leaveType']"></app-validation-error>
            </div>
            <div class="mb-3">
                <label class="required" for="leaveSlot">Leave Slot</label>
                <select class="form-select" id="leaveSlot" formControlName="leaveSlot">
                    <option value="">Select</option>
                    <option [value]="data?.val" *ngFor="let data of leaveSlot" [innerHTML]="data.text"></option>
                </select>
                <app-validation-error [control]="myForm.controls['leaveSlot']"></app-validation-error>
            </div>
            <div class="mb-3">
                <label class="required" for="leaveReason">Purpose</label>
                <input type="text" class="form-control" id="leaveReason" formControlName="leaveReason" maxlength="100">
                <app-validation-error [control]="myForm.controls['leaveReason']"></app-validation-error>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loading || approvers.length <=0"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> Submit</button>
        </form>
    </div>
</div>
{{myForm.value | json}}