.bs-mega-menu {
    position: static !important;
    .dropdown-mega-menu {
        @if $mega_menu_theme==dark {
            background-color: $bs_mega_menu_dark_background_color;
        }
        @if $mega_menu_theme==light {
            background-color: $bs_mega_menu_light_background_color;
        }
        padding: 20px 0px 20px 0px;
        @media (min-width: 576px) {
            padding: 20px 20px;
        }
        width: 100%;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        //border-width: 0;
        transition: all .2s;
        li>ul {
            padding: 0;
            margin: 0;
        }
        li>ul>li {
            list-style: none;
            a {
                display: block;
                font-size: 0.875rem;
                padding: 8px 20px;
                clear: both;
                font-weight: normal;
                @if $mega_menu_theme==dark {
                    color: $bs_mega_menu_dark_nav_link_color;
                }
                @if $mega_menu_theme==light {
                    color: $bs_mega_menu_light_nav_link_color;
                }
                white-space: normal;
                &:hover,
                &:focus {
                    text-decoration: none;
                    @if $mega_menu_theme==dark {
                        color: $bs_mega_menu_dark_nav_link_hover_color;
                    }
                    @if $mega_menu_theme==light {
                        color: $bs_mega_menu_light_nav_link_hover_color;
                    }
                    @if $mega_menu_theme==dark {
                        background-color: $bs_mega_menu_dark_nav_link_hover_bg_color;
                    }
                    @if $mega_menu_theme==light {
                        background-color: $bs_mega_menu_light_nav_link_hover_bg_color;
                    }
                }
            }
        }
        .dropdown-header {
            font-size: 1rem;
            @if $mega_menu_theme==dark {
                color: $bs_mega_menu_dark_dropdown_header_color;
            }
            @if $mega_menu_theme==light {
                color: $bs_mega_menu_light_dropdown_header_color;
            }
        }
        .dropdown-item {
            &:active {
                @if $mega_menu_theme==dark {
                    background-color: $bs_mega_menu_dark_dropdown_item_box_hover_bg_color;
                }
                @if $mega_menu_theme==light {
                    background-color: $bs_mega_menu_light_dropdown_item_box_hover_bg_color;
                }
                a {
                    &:active {
                        @if $mega_menu_theme==dark {
                            background-color: $bs_mega_menu_dark_nav_link_active_bg_color;
                            color: $bs_mega_menu_dark_nav_link_active_color;
                        }
                        @if $mega_menu_theme==light {
                            background-color: $bs_mega_menu_light_nav_link_active_bg_color;
                            color: $bs_mega_menu_light_nav_link_active_color;
                        }
                    }
                }
            }
            &:hover {
                @if $mega_menu_theme==dark {
                    background-color: $bs_mega_menu_dark_dropdown_item_box_hover_bg_color;
                }
                @if $mega_menu_theme==light {
                    background-color: $bs_mega_menu_light_dropdown_item_box_hover_bg_color;
                }
                .dropdown-header {
                    @if $mega_menu_theme==dark {
                        color: $bs_mega_menu_dark_dropdown_header_hover_color;
                    }
                    @if $mega_menu_theme==light {
                        color: $bs_mega_menu_light_dropdown_header_hover_color;
                    }
                }
            }
        }
        .divider {
            margin-top: 15px;
        }
        .card {
            outline: none;
        }
        .card:hover,
        .card:focus {
            outline: 1px solid $black;
        }
        .disabled a {
            color: $gray-500;
            &:hover,
            &:focus {
                color: $gray-500;
                text-decoration: none;
                background-color: transparent;
                background-image: none;
                cursor: not-allowed;
            }
        }
    } //dropdown-mega-menu
    .bsmm-icon {
        display: inline-block;
        font-size: .875rem;
        font-weight: 400;
    }
    @media (max-width: 768px) {
        .dropdown-mega-menu {
            margin-left: 0;
            margin-right: 0;
        }
        .dropdown-mega-menu>li {
            margin-bottom: 30px;
        }
        .dropdown-mega-menu>li:last-child {
            margin-bottom: 0;
        }
        .dropdown-mega-menu.dropdown-header {
            padding: 3px 15px !important;
        }
        .navbar-nav .open .dropdown-menu .dropdown-header {
            color: $white;
        }
    }
}