.card-legend {
    border-top-width: 2px;
    border-top-color: $primary-color;
    .text-on-card {
        background: #fff none repeat scroll 0 0;
        height: auto;
        padding: 3px 5px;
        position: absolute;
        margin-top: -43px;
        border-radius: 8px;
    }
    .card-body {
        padding-top: 30px !important;
    }
}

.card-login {
    max-width: 25rem;
}

.ci-accordion-card {
    border: none;
    .card-header {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid $primary-color;
        background-color: transparent;
    }
    .card-body {
        padding-left: 0px;
    }
}

.accordion {
    .card-header {
        cursor: pointer;
    }
    .card-header:before {
        font-family: 'FontAwesome';
        content: "\f068";
        margin-right: 15px;
    }
    .card-header.collapsed:before {
        /* symbol for "collapsed" panels */
        content: "\f067";
    }
}

.news-card {
    .subject-title {
        font-weight: 600;
    }
    .card-body {
        padding: 15px;
    }
}

.news-card-details {
    .card-body {
        img {
            width: 100%;
        }
    }
}

.ci-card {
    //box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-width: 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
        .card-title {
            //text-transform: uppercase;
            color: rgba(13, 27, 62, 0.7);
            font-weight: bold;
            font-size: 0.9375rem
        }
    }
    .card-header,
    .card-title {
        //text-transform: uppercase;
        color: rgba(13, 27, 62, 0.7);
        font-weight: bold;
        font-size: 0.9375rem;
        background-color: none;
        border-bottom: none;
    }
    .card-title {
        margin-bottom: 0.75rem;
    }
    .card-footer {
        background-color: rgba(0, 0, 0, 0);
        border-top: none;
    }
}

.dashboard-card-widgets {
    .card {
        .card-body {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .card-title {
            margin-bottom: 0px;
        }
        .card-text {
            font-size: 80%;
        }
        .digit {
            //margin-top: .5rem;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}