// This files are essential for the theme
@import 'fonts';
@import 'vars';
@import 'customize-bootstrap';
@import 'assets/vendors/bootstrap/scss/bootstrap';
body {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

body.login {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $gray-100;
}

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.logo-2x {
    width: 160px;
}

.logo {
    width: 100px;
}

@mixin linear-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(to bottom, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}


.navbar{
	/*min-height: 4rem;*/
	//@include linear-gradient(lighten($primary-color,35%),$white);
}

.nav-colorgraph {
    border-bottom: 2px solid lighten($primary-color, 10%);
    .nav-link {
        font-weight: bold;
        color: $black;
    }
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


/*.navbar-collapse {
    max-height: 340px;
    overflow-y: auto;
}*/

@media (max-width: 576px) {
    .navbar-collapse {
        max-height: 340px;
        overflow-y: auto;
    }
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    padding: 6px 12px !important;
    bottom: 50px;
    right: 5px;
    display: none;
}

.validation-error {
    color: $validation-error-color;
    font-size: .875rem;
}

.tnc-content {
    font-size: .75rem;
    h1,
    h2 {
        font-size: 1rem;
    }
}

.required {
    color: $mandatory_field_star-color;
    font-weight: bold;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

select.form-control.dob-inline {
    display: inline !important;
    width: auto;
}

.dp {
    //transition: all 0.2s ease-in-out;
    height: 100px;
    width: 100px;
    &:hover {
        //border:2px solid #eee;
        //transform:rotate(360deg);
        //-ms-transform:rotate(360deg);  
        //-webkit-transform:rotate(360deg);  
        /*-webkit-font-smoothing:antialiased;*/
    }
}

.dp-sm {
    height: 70px;
    width: 70px;
}

.dp-xs {
    height: 50px;
    width: 50px;
}

.dp-xxs {
    height: 32px;
    width: 32px;
}

.more-less {
    float: right;
    color: #212121;
}


/*profile card link*/

.content-wrap {
    word-break: break-all;
}

a[data-link-type="user-profile-card"] {
    text-decoration: none;
    color: inherit;
}

.user-profile-card a {
    text-decoration: none;
}

.heading-container {
    .breadcrumb {
        margin-top: 0px;
        padding: 0px;
        background: $white;
    }
}

.ci-calendar {
    border: 2px solid $calendar-border;
    th {
        background: $calendar-heading-bg;
        font-size: 1rem;
        color: $white;
        vertical-align: center !important;
        text-align: center;
    }
    tr.wk_nm {
        background: $calendar-week-bg;
        color: $white;
        /*font-weight:bold;*/
    }
    td {
        text-align: center;
        border: 1px solid $calendar-grid-border;
        vertical-align: center !important;
    }
    .allowed_m td.day {
        cursor: pointer;
    }
    .highlight {
        background: $today-highlight;
        color: $white;
    }
    .prevcell a,
    .nextcell a {
        color: $white !important;
        text-decoration: none !important;
    }
    .selected {
        background: $day_selected !important;
    }
    .holiday {
        background: $holiday;
    }
    .leave {
        background: $leave;
    }
    .filled {
        background: $has-data;
    }
}


/*end .ci-calendar*/


/*Calendar Indicator*/

.i-today {
    background-color: $today-highlight;
}

.i-selected {
    background-color: $day_selected;
}

.i-leave {
    background-color: $leave;
}

.i-holiday {
    background-color: $holiday;
}

.i-has-data {
    background-color: $has-data;
}

.disabled_m {
    opacity: 0.5;
    cursor: default !important;
    background: $gray-lightest;
}

.ajax-loader-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

.ajax-loader-img {
	width:100px;
	height: 100px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	/* -1 * image width / 2 */
	margin-top: -32px;
	/* -1 * image height / 2 */
	display: block;
	
	/* If using image them remove background-image attribute */
	background-image: url("data:image/svg+xml,%3Csvg width='100px' height='100px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-ring' style='background: none;'%3E%3Ccircle cx='50' cy='50' ng-attr-r='%7B%7Bconfig.radius%7D%7D' ng-attr-stroke='%7B%7Bconfig.base%7D%7D' ng-attr-stroke-width='%7B%7Bconfig.width%7D%7D' fill='none' r='30' stroke='%23cfcfcf' stroke-width='10'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' ng-attr-r='%7B%7Bconfig.radius%7D%7D' ng-attr-stroke='%7B%7Bconfig.stroke%7D%7D' ng-attr-stroke-width='%7B%7Bconfig.innerWidth%7D%7D' ng-attr-stroke-linecap='%7B%7Bconfig.linecap%7D%7D' fill='none' r='30' stroke='"+$ajaxloader-color+"' stroke-width='10' stroke-linecap='square' transform='rotate(304.375 50 50)'%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;180 50 50;720 50 50' keyTimes='0;0.5;1' dur='1s' begin='0s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3Canimate attributeName='stroke-dasharray' calcMode='linear' values='18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882' keyTimes='0;0.5;1' dur='1' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
}

// Nav Tabs
.nav-link.active {
    border: 0;
    border-bottom: 1px solid $nav-tabs-border-color;
}

// Nav Bar 
.navbar-nav {
    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active {
        font-weight: 700;
    }
}

// Close Button

/*.alert {
    button.close {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}*/

.pace {
    pointer-events: none;
    user-select: none;
    .pace-progress {
        background: $complementry-color;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px
    }
    .pace-progress-inner {
        display: block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px $complementry-color, 0 0 5px $complementry-color;
        opacity: 1;
        transform: rotate(3deg) translate(0px, -4px)
    }
}

.pace-inactive {
    display: none
}

//CMS Feed Style
.card-news {
    border-top: 2px solid $primary-color;
    min-height: 230px;
    max-height: 230px;
    overflow: hidden;
}

[data-cms-type="notice"] {
    border-top: 2px solid $blue;
    background-color: lighten($blue, 47%);
}

[data-cms-type="news"] {
    border-top: 2px solid $green;
    background-color: lighten($green, 55%);
}

[data-cms-type="policy"] {
    border-top: 2px solid $red;
    background-color: lighten($red, 44%);
}

.bg-maroon {
    background-color: $red;
}

.bg-blue {
    background-color: $color_blue;
}

.disabled {
    opacity: .5;
}

.no-pointer {
    pointer-events: none;
}

.disabled-item {
    border: 1px solid $red;
}

//Card Legend
.card-legend {
    border-top-width: 2px;
    border-top-color: $primary-color;
    .text-on-card {
        background: #fff none repeat scroll 0 0;
        height: auto;
        padding: 3px 5px;
        position: absolute;
        margin-top: -43px;
        border-radius: 8px;
    }
    .card-body {
        padding-top: 30px !important;
    }
}

// Custom Form Control
.custom-control-label {
    &::before {
        border: $input-border-width solid $input-border-color;
    }
}

// Select2 Style
.select2-selection {
    height: calc(2.0625rem + 2px) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important;
}

.select2-container--default .select2-selection--single {
    border: $input-border-width solid $input-border-color !important;
    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @if $enable-rounded {
        // Manually use the if/else instead of the mixin to account for iOS override
        border-radius: $input-border-radius;
    }
    @else {
        // Otherwise undo the iOS default
        border-radius: 0;
    }
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus();
}

.ci-select2 {
    .select2-container {
        max-width: 100%;
    }
}

//DataTable Style Override
table.ci-table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}


/*.dataTables_wrapper .dataTables_processing {
    background-color: rgba(0, 0, 0, .5);
}*/

//Create light color
.bg-primary-light {
    background-color: lighten($primary-color, 15%);
    ;
}

.bg-success-light {
    background-color: lighten($green, 15%);
    ;
}

.bg-danger-light {
    background-color: lighten($red, 15%);
    ;
}

.bg-warning-light {
    background-color: lighten($orange, 15%);
    ;
}

.bg-teal-light {
    background-color: lighten($teal, 15%);
    ;
}

.bg-teal {
    background-color: $teal;
    ;
}

.ci-accordion-card {
    border: none;
    .card-header {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid $primary-color;
        background-color: transparent;
    }
    .card-body {
        padding-left: 0px;
    }
}


/*Start Form ci-wizard*/

.ci-wizard {
    padding: 0 0 10px 0;
    >.ci-wizard-step {
        padding: 0;
        position: relative;
        +.ci-wizard-step {}
        .ci-wizard-stepnum {
            color: $gray-700;
        }
        .ci-wizard-info {
            color: $gray-700;
            label {
                cursor: pointer;
            }
        }
        > {
            .ci-wizard-dot {
                position: absolute;
                width: 30px;
                height: 30px;
                display: block;
                background: lighten($yellow, 30%);
                top: 45px;
                left: 50%;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
                &:after {
                    content: ' ';
                    width: 14px;
                    height: 14px;
                    background: $yellow;
                    border-radius: 50px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }
            }
            .ci-wizard-dot.A {
                background: lighten($green, 30%);
                &:after {
                    background: $green;
                }
            }
            .ci-wizard-dot.R {
                background: lighten($red, 30%);
                &:after {
                    background: $red;
                }
            }
            .progress {
                position: relative;
                border-radius: 0px;
                height: 8px;
                box-shadow: none;
                margin: 20px 0;
                >.progress-bar {
                    width: 0px;
                    box-shadow: none;
                    background: lighten($yellow, 30%);
                }
            }
        }
        &.complete>.progress>.progress-bar {
            width: 100%;
        }
        &.active>.progress>.progress-bar {
            width: 50%;
        }
        &:first-child.active>.progress>.progress-bar {
            width: 0%;
        }
        &:last-child.active>.progress>.progress-bar {
            width: 100%;
        }
        &.disabled>.ci-wizard-dot {
            background-color: $gray-300;
            &:after {
                opacity: 0;
            }
        }
        &:first-child>.progress {
            left: 50%;
            width: 50%;
        }
        &:last-child>.progress {
            width: 50%;
        }
        &.disabled a.ci-wizard-dot {
            pointer-events: none;
        }
    }
}


/*END Form ci-wizard*/

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.banner-img-xs{
	max-width: 180px;
}
.banner-img-sm{
	max-width: 300px;
}