<h1 class="page-title">Observable & RxJS</h1>
<p>
    Observable in JS represents a progressive way of handling async operations, multiple values. Observable are pubsub designs. Observable are simple JS functions that throw values/objects known as observer.
</p>

<p>
    Observables in JavaScript are like callbacks and promises, which are responsible for handling asynchronous requests. RxJS library has introduced Observables. Hence, before understanding what Observable is, we need to know 2 communication models i.e., push and pull.

Both protocols are concepts of how data producers communicate with data consumers.

Push Model: Here, producers determine when to send the data to the customer and the customer has no idea when will the data be received.
Pull Model: Here, consumers determine when data will be received from the producer, and the producer does not know when data will get delivered.

Observables create pub subsystems based on an observable design pattern that makes observable design patterns popular with asynchronous programming in all modern JavaScript frameworks such as React and Angular libraries.

Observables are not inherited in JavaScript, unlike Promises, hence, React and Angular rely on RxJS library for implementing such observables. RxJS is known as Reactive Extension for JavaScript and this library defines Observable class along with other supporting methods for Reactive programming.
</p>